<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
  <!-- TOAST UI Editor CDN(JS) -->
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <!-- TOAST UI Editor CDN(CSS) -->
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
  <!-- codemirror CDN URL -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />

  <!-- Breadcrumbs -->
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="/boot">홈</a>
      </li>
      <li>
        <a href="/boot/community">커뮤니티</a>
      </li>
      <li class="active">
        게시글 작성
      </li>
    </ol>
  </div>
  <!-- end breadcrumbs -->

  <!-- Blog Single -->
  <section class="section-wrap post-single pb-50">
    <div class="container relative">
      <div class="row">
        <!-- content -->
        <div class="col-md-12 post-content mb-50">
          <h3 class="heading uppercase mb-40">새 게시글</h3>
          <!-- standard post -->
          <article class="entry-item">
            <div class="entry">
              <form th:action="@{communityWrite}" method="POST">
                <div th:if="${session.login != null}">
                  <input type="hidden" name="mbId" th:value="${session.login.mbId}">
                </div>

                <table class="table">
                  <tr>
                    <th style="vertical-align: middle;">분류</th>
                    <td>
                      <select onchange="catechange()" name="bcaNum" id="bcaNum" class="select-box mb-0">
                        <option selected value="none">대분류</option>
                        <option th:each="bigCate : ${bigCateList}" th:value="${bigCate.bcaNum}"
                          th:text="${bigCate.bcaName}">기사</option>
                      </select>
                      <select name="scaNum" id="scaNum" class="select-box mb-0">
                        <option selected value="none">소분류</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <th style="vertical-align: middle;">제목</th>
                    <td>
                      <input type="text" name="comTitle" id="comTitle" class="mb-0">
                    </td>
                  </tr>
                  <tr>
                    <th>내용</th>
                    <td>
                      <div id="editor"></div>
                      <textarea name="comContent" id="contents" style="display: none;"></textarea>
                    </td>
                  </tr>
                  <script th:inline="javascript">
                    //타임리프 객체를 자바스크립트에서 사용가능
                         var cateList = [[${cateList}]]
                      function catechange() {
                           $("#scaNum").empty();
                           $("#scaNum").append('<option selected value="none">소분류</option>')
                        for(cate of cateList){
                          if($("#bcaNum").val() == cate.bcaNum)
                          $("#scaNum").append($("<option>").text(cate.scaName))
                        }
                      }
                    </script>
                  <script>
                    const onUploadImage = async (blob, callback) => {
                      const formData = new FormData();
                      formData.append("image", blob);
                      formData.append("uri", window.location.pathname);

                      $.ajax({
                        type: "post",
                        url: "/boot/image_upload.do",
                        async: true,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                          imageURL = data;
                          callback(imageURL, "image");
                        },
                        error: function (request, status, error) {
                          alert(request + ", " + status + ", " + error);
                        },
                      });
                    };

                    const editor = new toastui.Editor({
                      el: document.querySelector("#editor"),
                      height: "500px",
                      initialEditType: "wysiwyg",
                      placeholder: "내용을 입력해주세요",
                      language: "ko-kr",
                      hooks: {
                        addImageBlobHook: onUploadImage
                      }
                    });
                  </script>
                </table>

                <!-- 신고 -->
                <div class="text-center">
                  <button type="submit" id="submit" class="btn btn-color">등록하기</button>
                  <a href="community" class="btn btn-dark">취소하기</a>
                </div>

                <script>
                  $('#submit').on('click', function () {
                    document.querySelector('#contents').insertAdjacentHTML('afterbegin', editor.getMarkdown());
                  })
                </script>
              </form>
            </div>
          </article> <!-- end standard post -->
        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end blog single -->
</th:block>

</html>