<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">
	
	<th:block layout:fragment="content">	

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="eduList.html">강의</a>
        </li>
        <li>
          <a href="eduView.html">강의 상세</a>
        </li>
        <li class="active">게시글 작성</li>
      </ol> <!-- end breadcrumbs -->
    </div>


    <!-- Blog Single -->
    <section class="section-wrap post-single pb-50">
      <div class="container relative">
        <div class="row">
          <!-- content -->
          <div class="col-md-12 post-content mb-50">
            <h3 class="heading uppercase mb-40">게시글 수정</h3>
            <!-- standard post -->
            <article class="entry-item">
              <div class="entry">
                <form th:action="@{/communityModify}"  method="post">
	                <input type="hidden" name="comNum" th:value="${cm.comNum}">
	                <input type="hidden" name="mbId" th:value="${cm.mbId}"> 
                  <table class="table">
                  <tr>
										<th style="vertical-align: middle;">분류</th>
										<td><select onchange="catechange()" name="bcaNum" 
											id="bcaNum" class="select-box mb-0" >
												<option selected value="none">대분류</option>
												<option th:each="bigCate : ${bigCateList}"
													th:value="${bigCate.bcaNum}" th:text="${bigCate.bcaName}" th:selected="${bigCate.bcaNum}==${study.bcaNum}">기사</option>
											</select> 
										<select name="scaNum" id="scaNum" class="select-box mb-0" >
												<option selected value="none" >소분류</option>
										</select></td>
									</tr>
                    <tr>
                      <th style="vertical-align: middle;">제목</th>
                      <td>
                        <input type="text" th:value="${cm.comTitle }" name="comTitle" id="comTitle" class="mb-0">
                      </td>
                    </tr>
                    
                    <tr>
                      <th>내용</th>
                      <td><div id="editor"> </div>  
                        <textarea name="content" id="content1" style="display: none;" >[[${cm.comContent}]]</textarea>
                        <textarea name="comContent" id="content2" style="display: none;" ></textarea>
                       </td>
                      </tr>
                   <!-- <tr>
                      <th>첨부파일</th>
                      <td>
                        <input type="file" name="attachNum" id="attachNum">
                      </td>
                    </tr> -->
                  </table>
                  <script>
                    const editor = new toastui.Editor({
                    	  el: document.querySelector("#editor"),
                    	  height: "500px",
                    	  initialEditType: "wysiwyg",
                    	  initialValue: document.querySelector("#content1").value,
                    	  language: "ko-KR",
                    	});
                    </script>
                  <!-- 버튼 -->
                  <div class="text-center">
                  	<button type="submit" id="submit" class="btn btn-color">등록하기</button>
                    <a href="/boot/community" class="btn btn-dark">취소하기</a>
                  </div>
                </form>
              </div>
            </article> <!-- end standard post -->
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end blog single -->

	<script th:inline="javascript">
    //타임리프 객체를 자바스크립트에서 사용가능
         var cateList = [[${cateList}]]
    	function catechange() {
        	 $("#scaNum").empty();
        	 $("#scaNum").append('<option selected value="none">소분류</option>')
    		for(cate of cateList){
    			if($("#bcaNum").val() == cate.bcaNum)
    			$("#scaNum").append($("<option>").text(cate.scaName))
    		}
    	}

		catechange() ;
		$('#scaNum').val([[${study.scaNum}]])
    </script>
	<script>
	  	$('#submit').on('click', function(){
	  		document.querySelector('#content2').insertAdjacentHTML('afterbegin', editor.getMarkdown());
	  	})
	</script>
  
    
</th:block>
</html>

