<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
	<!-- Breadcrumbs -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="./">홈</a></li>
			<li><a href="community">커뮤니티</a></li>
			<li class="active">게시판 상세</li>
		</ol>
		<!-- end breadcrumbs -->
	</div>

	<!-- Blog Single -->
	<section class="section-wrap post-single pb-50">
		<div class="container relative">
			<div class="row">
				<!-- content -->
				<div class="col-md-8 post-content mb-50">
					<!-- standard post -->
					<article class="entry-item">
						<div class="entry">
							<h1 class="uppercase mb-20" th:text="${cm.comTitle}">게시글
								제목입니다.</h1>
							<div class="bo-info mb-50 clear-fix">
								<div class="left">
									<img th:src="${cm.mbProfile}" class="bo-avatar" alt=""> <span class="bo-autor"
										th:text="${cm.mbNick}">홍길동</span>
									<span class="bo-date" th:text="${#dates.format(cm.comWriteDate, 'yyyy-MM-dd HH:mm:ss')}">2023-03-07</span>
								</div>
								<div class="bo-btn right">
									<th:block sec:authorize="isAuthenticated()">
										<a th:if="${cm.mbId == session.login.mbId}"
											th:href="@{/communityModify/{cm.comNum}(cm.comNum=${cm.comNum})}"
											class="btn btn-sm btn-color">수정</a>
										<a th:if="${cm.mbId == session.login.mbId}"
											th:href="@{/communityDelete/{cm.comNum}(cm.comNum=${cm.comNum})}"
											class="btn btn-sm btn-dark">삭제</a>
									</th:block>
								</div>
							</div>
							<div class="entry-content">
								<p class="lead" th:text="${cm.comContent}"></p>
							</div>

							<!-- 신고 -->
							<div class="text-center">
								<th:block sec:authorize="isAuthenticated()">
									<button type="button" id="report" class="btn btn-stroke">신고하기</button>
								</th:block>
								<a th:href="'/boot/community?pageNum='+*{pageMaker.criteria.pageNum}" class="btn btn-color">목록으로</a>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modal_2Title">게시글 신고</h5>
										</div>
										<div class="modal-body">
											<p>해당 게시글을 신고하시겠습니까?</p>
											<div>
												<textarea name="" id="" class="mb-0" cols="30" rows="5"
													placeholder="신고 사유를 입력해 주세요."></textarea>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-color">참가</button>
											<button type="button" id="close" class="btn btn-dark" data-bs-dismiss="modal">취소</button>
										</div>
									</div>
								</div>
							</div>
							<script>
								$(function () {
									$('#report').click(function () {
										$('#modal_2').modal('show');
									})
									$('#close').click(function () {
										$('#modal_2').modal('hide');
									})
								});
							</script>
						</div>
						<div th:if="${session.login != null}">
							<!-- Leave a Comment -->
							<div class="comment-form mt-80 mb-80">
								<h3 class="heading uppercase mb-40">댓글</h3>
								<div class="row">
									<div class="col-md-12">
										<input type="hidden" name="mbId" id="mbId" th:value="${session.login.mbId}">
										<input type="hidden" name="comNum" id="comNum" th:value="${cm.comNum}">
										<textarea name="comContent" id="comment" placeholder="답변을 입력해 주세요." rows="8"></textarea>
									</div>
									<div class="col-md-12 text-right">
										<input type="submit" class="btn btn-lg btn-color" value="등록하기" id="commentBtn">
									</div>
								</div>
							</div>
						</div>

						<!-- Comments -->
						<div class="entry-comments mt-20" id="listReply">
							<h3 class="heading uppercase mb-40">댓글 목록</h3>
							<ul id="commentList"></ul>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal_1Title">댓글 신고</h5>
				</div>
				<div class="modal-body">
					<p>해당 댓글을 신고하시겠습니까?</p>
					<div>
						<textarea name="" id="" class="mb-0" cols="30" rows="5" placeholder="신고 사유를 입력해 주세요."></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-color">참가</button>
					<button type="button" id="close" class="btn btn-dark" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		createUL();

		function createUL() {
			$.ajax({
				url: '/boot/cmReplyList/[[${ cm.comNum }]]',
				type: 'post',
				dataType: 'JSON',
				success: function (result) {
					$('#commentList').empty();
					$.each(result, function (index, item) {
						let rowData = createRow(item);
						$('#commentList').append(rowData);
					});
					replyAllJS();
				},
				error: function (reject) {
					console.log(reject);
				}
			})
		}

		function createRow(item) {
			let liTag = $('<li/>');
			let commentBody = $('<div/>').addClass('comment-body');
			let hiddenTag = $('<input/>').prop('type', 'hidden').prop('value', item.comNum);
			let commentAvatar = $('<img/>').addClass('comment-avatar').prop('src', item.mbProfile);
			let commentContent = $('<div/>').addClass('comment-content');
			let commentInfo = $('<p/>').addClass('comment-info.mb-20');
			let commentAuthor = $('<span/>').addClass('comment-author').text(item.mbNick);
			let commentDate = $('<span/>').text(item.comWriteDate);
			let commentContents = $('<div/>').addClass('mb-30 origin').text(item.comContent);
			let modify = $("<textarea/>").text(item.comContent).prop('style', 'display: none');

			commentInfo.append(commentAuthor);
			commentInfo.append(commentDate);
			commentContent.append(commentInfo);
			commentContent.append(commentContents);
			commentContent.append(modify);


			if ($('#mbId').val() == '' || $('#mbId').val() == null || $('#mbId').val() == undefined) {
				
			} else {
				let divTag = $('<div/>').addClass('text-right');
				if ($('#mbId').val() == item.mbId) {
					let button2 = $('<button/>').addClass('btn btn-color modyBtn').prop('type', 'button').prop('style', 'margin-right: 4px;').text('수정');
					divTag.append(button2);
					let button3 = $('<button/>').addClass('btn btn-dark delReplyBtn').prop('type', 'button').text('삭제');
					divTag.append(button3);
					let button4 = $('<button/>').addClass('btn btn-color update').prop('type', 'button').prop('style', 'margin-right: 4px; display: none').text('등록');
					divTag.append(button4);
					let button5 = $('<button/>').addClass('btn btn-dark cancel').prop('type', 'button').prop('style', 'display: none').text('취소');
					divTag.append(button5);
				} else {
					let button1 = $('<button/>').addClass('btn btn-stroke report').prop('type', 'button').text('신고');
					divTag.append(button1);
				}
				commentContent.append(divTag);
			}

			commentBody.append(commentAvatar);
			commentBody.append(commentContent);

			liTag.append(hiddenTag);
			liTag.append(commentBody);

			return liTag;
		}

		$("#commentBtn").on("click", function () {
			$.ajax({
				url: "/boot/addCmReply",
				data: {
					"mbId": $("#mbId").val(),
					"comNum": $("#comNum").val(),
					"comContent": $("#comment").val(),
				},
				type: "post",
				success: function (result) {
					if (result != null) {
						alert("등록완료.");
						createUL();
						$("#comment").val('');
					} else {
						alert("등록실패");
					}
				},
				error: function (reject) {
					console.log(reject);
				}
			})
		})

		function replyAllJS() {
			$(".modyBtn").on("click", function () {
				let origin = $(this).closest("li").find(".origin");
				origin.hide();
				let comContent = $(this).closest("li").find("textarea");
				comContent.show();
				let modyBtn = $(this).closest("li").find(".modyBtn");
				modyBtn.hide();
				let delBtn = $(this).closest("li").find(".delReplyBtn");
				delBtn.hide();
				let updateBtn = $(this).closest("li").find(".update");
				updateBtn.show();
				let cancelBtn = $(this).closest("li").find(".cancel");
				cancelBtn.show();
			});

			$(".cancel").on("click", function () {
				let origin = $(this).closest("li").find(".origin");
				origin.show();
				let comContent = $(this).closest("li").find("textarea");
				comContent.hide();
				let modyBtn = $(this).closest("li").find(".modyBtn");
				modyBtn.show();
				let delBtn = $(this).closest("li").find(".delReplyBtn");
				delBtn.show();
				let updateBtn = $(this).closest("li").find(".update");
				updateBtn.hide();
				let cancelBtn = $(this).closest("li").find(".cancel");
				cancelBtn.hide();
			})

			$(".update").on("click", function () {
				let comNum = $(this).closest("li").find("input").val();
				let comContent = $(this).closest("li").find("textarea").val();
				$.ajax({
					url: "/boot/modifyCmReply",
					data: {
						"comNum": comNum,
						"comContent": comContent,
					},
					method: 'post',
					success: function (result) {
						alert('수정');
						createUL();
					},
					error: function (error) {
						alert('실패');
					}
				})
			})

			$(".delReplyBtn").on("click", function () {
				let comNum = $(this).closest("li").find("input").val();
				$.ajax({
					url: "/boot/delCmReply",
					data: {
						"comNum": comNum,
					},
					method: 'post',
					success: function (result) {
						alert('삭제');
						createUL();
					},
					error: function (error) {
						alert('실패');
					}
				})
			})

			$('.report').click(function () {
				$('#modal').modal('show');
			})
			$('#close').click(function () {
				$('#modal').modal('hide');
			})
		}
	</script>
</th:block>

</html>