<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">
	
<th:block layout:fragment="content">	
	
	<!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/study">스터디</a>
        </li>
        <li class="active">스터디 상세</li>
      </ol> <!-- end breadcrumbs -->
    </div>
    
     <!-- Blog Single -->
    <section class="section-wrap post-single pb-50">
      <div class="container relative">
        <div class="row">
          <!-- content -->
          <div class="col-md-8 post-content mb-50">
            <!-- standard post -->
            <article class="entry-item">
              <div class="entry">
                <div class="entry-stroke" th:text="${study.recruitState == '0' ? '모집중' : '모집완료'}">모집중</div>
                <h1 class="uppercase mb-20" th:text="${study.studyTitle}">게시글 제목입니다.</h1>
                <div class="bo-info mb-50 clear-fix">
                  <div class="left">
                    <img th:src="${study.mbProfile}" class="bo-avatar" alt="">
                    <input type="hidden" name="studyNum" id="studyNum" th:value="${study.studyNum}"> 
                    <input type="hidden" name="mbId" id="mbId" th:value="${session.login.mbId}">
                    <span class="bo-autor" th:text="${study.mbNick}">홍길동</span>
                    <span class="bo-date" th:text="${#dates.format(study.studyWriteDate, 'yyyy-MM-dd hh:mm:ss')}">2023-03-07</span>
                  </div>
                  <div class="bo-btn right">
                    <a th:if="${study.mbId == session.login.mbId}" th:href="@{/studyMod/{study.studyNum}(study.studyNum=${study.studyNum})}" class="btn btn-sm btn-color">수정</a>
                    <!-- <button class="btn btn-sm btn-color">수정</button> -->
                    <a th:if="${study.mbId == session.login.mbId}" th:href="@{/studyDelete/{study.studyNum}(study.studyNum=${study.studyNum})}" class="btn btn-sm btn-dark">삭제</a>
                  </div>
                </div>
                <div>
                  <p class="text-right mb-50">참여인원 : [[${study.studyNow}]]명 · 모집인원 : [[${study.studyMax}]]명</p>
                </div>
                <div class="entry-content">
                  <p class="lead" th:text="${study.studyContent}">We possess within us two minds. So far I have written only of the conscious mind.
                    It's the fastest-funded project and also the most funded - by far. We possess within us two minds.
                    So far I have written only of the conscious mind. I would now like to introduce you to your second
                    mind. And finally the subconscious is the mechanism through which thought impulses which are
                    repeated regularly with feeling and emotion are quickened, charged and changed into their physical
                    equivalent.</p>
                </div>

                <div class="text-center">
                  <button th:if="${study.recruitState == '0'}" id="join" class="btn btn-green" data-bs-target="#modalCenter">
                    <i class="fa-solid fa-book-open"></i> 참가하기
                  </button>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal_1Title">
                        스터디 참여하기
                      </h5>
                    </div>
                    <div class="modal-body text-center">
                      해당 스터디에 참가하시겠습니까?
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="enter" class="btn btn-color">참가</button>
                      <button type="button" id="close" class="btn btn-dark" data-bs-dismiss="modal">
                        취소
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <script>

                $(function () {
                  $('#join').click(function () {
                    $('#modal_1').modal('show');
                  })
                  $('#close').click(function () {
                    $('#modal_1').modal('hide');
                  })
                  $('#enter').click(function () {
                    //

                    // 데이터 가져오기
                    var studyNum = $('#studyNum').val();
                    var mbId = $('#mbId').val();

                    // Ajax 요청
                  $.ajax({
                    method: 'POST',
                    url: '/boot/insertChatter',
                    data: {
                    
                      "studyNum": studyNum,
                      "mbId": mbId

                    },
                    success: function(result) {
                if(result == 1) {

                // 결과 처리 (예: 등록 완료 메시지 표시)
                  alert('스터디에 정상적으로 참여 되었습니다.');
                        window.location.href = '/boot/profile/' + mbId; // 등록 완료 후 페이지 이동
                }

                else {
                  
                  alert('스터디 참여에 실패하였습니다.');
                }
              },
                    error: function(xhr, status, error) {
                      // 오류 처리
                      alert('오류가 발생했습니다.');
                    }
                  })

                  })
                });
              </script>

              <!-- 신고 -->
              <div class="text-center">
                <button type="button" id="report" class="btn btn-stroke">신고하기</button>
                <a th:href="@{/study}" class="btn btn-color">목록으로</a>
                <!-- <a th:href="'@{/study}?pageNum='+*{pageMaker.criteria.pageNum}" class="btn btn-color">목록으로</a> -->
              </div>
              <!-- Modal -->
              <div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal_2Title">
                        스터디 신고
                      </h5>
                    </div>
                    <div class="modal-body">
                      <p>해당 스터디를 신고하시겠습니까?</p>
                      <div>
                        <textarea name="" id="" class="mb-0" cols="30" rows="5" placeholder="신고 사유를 입력해 주세요."></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-color">참가</button>
                      <button type="button" id="close_1" class="btn btn-dark" data-bs-dismiss="modal">
                        취소
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <script>
                $(function () {
                  $('#report').click(function () {
                    $('#modal_2').modal('show');
                  })
                  $('#close_1').click(function () {
                    $('#modal_2').modal('hide');
                  })
                });
              </script>
            </article> <!-- end standard post -->
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end blog single -->
	
	</th:block>
</html>