<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">

	<!-- Breadcrumbs -->
    <div class="container">
		<ol class="breadcrumb">
		  <li>
			<a href="/boot">홈</a>
		  </li>
		  <li>
			<a href="/boot/study">스터디</a>
		  </li>
		  <li class="active">스터디 등록</li>
		</ol> <!-- end breadcrumbs -->
	  </div>


	<!-- Blog Single -->
	<section class="section-wrap post-single pb-50">
		<div class="container relative">
			<div class="row">
				<!-- content -->
				<div class="col-md-12 post-content mb-50">
					<h3 class="heading uppercase mb-40">새 스터디</h3>
					<!-- standard post -->
					<article class="entry-item">
						<div class="entry">
							<form action="/boot/insertStudy">
								<table class="table">
									<tr>
										<th style="vertical-align: middle;">분류</th>
										<td><select onchange="catechange()" name="bcaNum"
											id="bcaNum" class="select-box mb-0">
												<option selected value="none">대분류</option>
												<option th:each="bigCate : ${bigCateList}"
													th:value="${bigCate.bcaName}" th:text="${bigCate.bcaName}">기사</option>
										</select> <select name="scaNum" id="scaNum"
											class="select-box mb-0">
												<option selected value="none">소분류</option>
										</select></td>
									</tr>
									<tr>
										<th style="vertical-align: middle;">제목</th>
										<td><input type="text" name="studyTitle" id="studyTitle" class="mb-0">
										</td>
									</tr>
									<tr>
										<th>내용</th>
										<td>
											<div id="editor"></div> <textarea name="studyContent"
												id="contents" style="display: none;"></textarea>
										</td>
									</tr>
											 <!-- <input type="hidden" name="studyNum" id="studyNum" th:value="${study.studyNum}">  -->
                          					<input type="hidden" name="mbId" id="mbId" th:value="${session.login.mbId}">
									<tr>
										<th style="vertical-align: middle;">모집인원</th>
										<td><select name="studyMax" id="studyMax" class="mb-0"
											style="width: 100px;">
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
										</select></td>
									</tr>
									
								</table>

								<!-- 신고 -->
								<div class="text-center">
									<input type="submit" id="submit" value="등록하기"
										class="btn btn-color"> <a href="./studyList.html"
										class="btn btn-dark">취소하기</a>
								</div>
							</form>
						</div>
					</article>
					<!-- end standard post -->
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</section>
	<!-- end blog single -->

	<script th:inline="javascript">
    //타임리프 객체를 자바스크립트에서 사용가능
         var cateList = [[${cateList}]]
    	function catechange() {
        	 $("#scaNum").empty();
        	 $("#scaNum").append('<option selected value="none">소분류</option>')
    		for(cate of cateList){
    			if($("#bcaNum").val() == cate.bcaName)
    			$("#scaNum").append($("<option>").text(cate.scaName))
    		}
    	}
    </script>

	<script>

                    const onUploadImage = async (blob, callback) => {
                      const formData = new FormData();
                      formData.append("image", blob);
                      formData.append("uri", window.location.pathname);
                      
        		      $.ajax({
                        type: "post",
                        url: "/boot/image_upload.do",
                        async: true,
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                          imageURL = data;
                          callback(imageURL, "image");
                        },
                        error: function (request, status, error) {
                          alert(request + ", " + status + ", " + error);
                        },
                      });
                    };

                    const editor = new toastui.Editor({
                      el: document.querySelector("#editor"),
                      height: "500px",
                      initialEditType: "wysiwyg",
                      placeholder: "내용을 입력해주세요",
                      language: "ko-kr",
                      hooks: {
                        addImageBlobHook: onUploadImage
                      }
                    });
     </script>
     <script>
     $(document).ready(function() {
    	  // 등록 버튼 클릭 이벤트
    	  $('#submit').on('click', function(event) {
    	    event.preventDefault(); // 기본 동작 중지
    	    document.querySelector('#contents').insertAdjacentHTML('afterbegin', editor.getMarkdown());
    	    
    	    // 입력된 데이터 가져오기
    	    var bigCate = $('#bcaNum').val();
    	    var cateCode = $('#scaNum').val();
    	    var studyTitle = $('#studyTitle').val();
    	    var studyContent = $('#contents').val();
    	    var studyMax = $('#studyMax').val();
    	    var studyNum = $('input[name="studyNum"]').val();
    	    var mbId = $('input[name="mbId"]').val();
    	    
    	    // 데이터 유효성 검사 (생략 가능)
    	    
    	    // Ajax 요청
    	    $.ajax({
    	      method: 'POST',
    	      url: '/boot/insertStudy',
    	      data: {
    	        bcaNum: bigCate,
    	        scaNum: cateCode,
    	        studyTitle: studyTitle,
    	        studyContent: studyContent,
    	        studyMax: studyMax,
    	        studyNum: studyNum,
    	        mbId: mbId
    	      },
    	      success: function(result) {
				if(result == 1) {

				// 결과 처리 (예: 등록 완료 메시지 표시)
					alert('등록되었습니다.');
    	        	window.location.href = '/boot/study'; // 등록 완료 후 페이지 이동
				}

				else {
					alert('등록 실패되었습니다.')
				}
			},
    	      error: function(xhr, status, error) {
    	        // 오류 처리
    	        alert('오류가 발생했습니다.');
    	      }
    	    });
    	  });
    	});
     
     
     
     </script>
	


</th:block>
</html>