<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutCate}">

<th:block layout:fragment="content">

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li class="active">
          스터디
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

   <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">스터디 모집</h3>
              <div class="right">
                <a th:href="@{./studyWrite}" class="btn btn-color">새 스터디</a>
              </div>
            </div>

            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 100px;">
                  <col>
                  <col style="width: 150px;">
                  <col style="width: 150px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>모집여부</th>
                    <th>제목</th>
                    <th>방장명</th>
                    <th>작성일</th>
                    <th>모집인원</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="study : ${studyList}">
                    <!--<td th:text="${study.studyNum}">1</td> -->
                    <td th:text="${study.recruitState == '0' ? '모집중' : '모집완료'}">1</td> 
                    <td><a th:href="@{/studyView/}+${study.studyNum}" th:text="${study.studyTitle}">제목입니다. (00)</a></td>
                    <td th:text="${study.mbNick}">작성자</td>
                    <td th:text="${#dates.format(study.studyWriteDate, 'yyyy-MM-dd')}">2023-03-07</td>
                    <td th:text="${study.studyMax}">모집인원</td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            <script>
            $(document).ready(function(){
            	console.log('${cateList}');
            });
            </script>

            <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'study?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'study?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a class="page-numbers current" th:href="${'study?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:unless="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'study?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'study?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'study?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

                <form action="/study/list" th:object="${criteria}" name="pageForm">
                  <input type="hidden" name="pageNum" th:field="*{pageNum}">
                  <input type="hidden" name="amount" th:field="*{amount}">
                </form>
              </nav>
          </div>
          </div> <!-- end col -->

    <script type="text/javascript">

      $(document).ready(function () {
		  $(".panel-content li").on("click", function(event){
		    event.preventDefault();
		    var bigkeyword = $(this).parent().prev().first().text();
		    var keyword = $(this).text();
		    console.log(bigkeyword);
		    console.log(keyword);
		    window.location.href = "studyCate?bigkeyword=" + bigkeyword + "&keyword=" + keyword;
		  })
		})
    </script>   

</th:block>
</html>