<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
   <!-- Page Title -->
    <section class="page-title text-center">
      <div class="container relative clearfix">
        <div class="title-holder">
          <div class="title-text">
            <h1 class="uppercase">결제</h1>
          </div>
        </div>
      </div>
    </section> <!-- end page title -->

    <!-- Checkout -->
    <section class="section-wrap login-register pt-0 pb-50">
      <div class="container relative">
        <div class="row">
          <div class="ecommerce col-xs-12">
            <div class="col-md-8">
              <div class="toggle-style">
                <h2 class="heading relative heading-small uppercase mb-30">주문자 정보</h2>
                <div class="mb-50" >
                  <p class="form-row form-row-wide">
                    <label>이름 </label>
                    <p th:text="${member.mbName}"></p>
                  </p>
                  <p class="form-row form-row-wide">
                    <label>번호</label>
                    <p th:text="${member.mbTel}"></p>
                  </p>
                  <p class="form-row form-row-wide">
                    <label>이메일</label>
                    <p th:text="${member.mbEmail}"></p>
                  </p>
                  <div class="clear"></div>
                </div>
				<form id="rcdFrm">
                <h2 class="heading relative heading-small uppercase mb-30">배송지 정보</h2>
                <div class="mb-50">
                  <p class="form-row form-row-wide">
                    <label>이름
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" name="rcdName" id="rcdName" class="input-text" th:value="${member.mbName}">
                  </p>
                  <p class="form-row form-row-wide">
                    <label>번호
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" name="rcdTel" id="rcdTel" class="input-text" th:value="${member.mbTel}">
                  </p>
                  <div class="form-row form-row-wide">
                    <label>주소
                      <abbr class="required" title="required">*</abbr></label>
                    <p>
                      <input type="text" class="input-text" name="rcdPost" id="rcdPost" style="width: 100px;" th:value="${member.mbPost}">
                      <button class="btn btn-stroke" style="height:41px; vertical-align: top;" onclick="daum_address()"><span>검색</span></button>
                    </p>
                    <p>
                      <input type="text" class="input-text" name="rcdAddr1" id="rcdAddr1" th:value="${member.mbAddress1}">
                    </p>
                    <p>
                      <input type="text" class="input-text" name="rcdAddr2" id="rcdAddr2" th:value="${member.mbAddress2}">
                    </p>
                  </div>
                                    
                  <p class="form-row form-row-wide">
                    <label>배송 요청사항</label>
  					<input type="text" class="input-text" name="request" id="request" placeholder="배송 요청사항을 입력해 주세요.">
                  </p>
                  <div class="clear"></div>
                </div>
                  </form>
                  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
              <script>
              function daum_address(){
            	  new daum.Postcode({
            	        oncomplete: function(data) {
                            var addr = '';
                            var extraAddr = '';
                            if (data.userSelectedType === 'R') {
                                addr = data.roadAddress;
                            } else {
                                addr = data.jibunAddress;
                            }
                            if(data.userSelectedType === 'R'){
                                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                    extraAddr += data.bname;
                                }
                                if(data.buildingName !== '' && data.apartment === 'Y'){
                                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                }
                                if(extraAddr !== ''){
                                    extraAddr = ' (' + extraAddr + ')';
                                }
								addr += extraAddr;
                            
                            } else {
                            	addr += ' ';
                            }
							$("#rcdPost").val(data.zonecode);
							$("#rcdAddr1").val(addr);
							$("#rcdAddr2").attr("readonly",false);
							$("#rcdAddr2").focus();
            	        }
            	    }).open(); 
              }
              </script>
                  
                  


                <h2 class="heading relative heading-small uppercase mb-30">상품</h2>
                <div class="mb-50">
                  <table class="shop_table cart table">
                    <thead>
                      <tr>
                        <th class="product-name" colspan="2">상품명</th>
                        <th class="product-price">금액</th>
                        <th class="product-quantity">수량</th>
                        <th class="product-subtotal" >총계</th>
                      </tr>
                    </thead>
                    <tbody>
						<tr class="product_item" th:if="${orderDtl.goodsDef == 'b'}">
						  <td class="product-thumbnail">
						    <a href="#">
						      <img src="img/shop/shop_item_3.jpg" alt="">
						    </a>
						  </td>
						  <td class="product-name">
						    <a href="#" th:text="${goodsInfo.bookTitle}">도서명</a>
						    <ul>
						      <li th:text="${goodsInfo.bookWriter}">저자명</li>
						    </ul>
						  </td>
						  <td class="product-price">
						    <span class="amount" th:text="${goodsInfo.bookPrice} +'원'">$1250.00</span>
						  </td>
						  <td class="product-quantity text-center">
						    <span th:text="${orderDtl.goodsCount}+'개'">1개</span>
						  </td>
						  <td class="product-subtotal">
						    <span class="amount" th:text="${goodsInfo.bookPrice} * ${orderDtl.goodsCount} +'원'"  >$1250.00</span>
						  </td>
						</tr>
						<tr class="product_item" th:unless="${orderDtl.goodsDef == 'b'}">
						  <td class="product-thumbnail">
						    <a href="#">
						      <img src="img/shop/shop_item_3.jpg" alt="">
						    </a>
						  </td>
						  <td class="product-name">
						    <a href="#" th:text="${goodsInfo.clName}">도서명</a>
						    <ul>
						      <li th:text="${goodsInfo.mbNick}">저자명</li>
						    </ul>
						  </td>
						  <td class="product-price">
						    <span class="amount" th:text="${goodsInfo.clAmount} +'원'">$1250.00</span>
						  </td>
						  <td class="product-quantity text-center">
						    <span th:text="${orderDtl.goodsCount}+'개'">1개</span>
						  </td>
						  <td class="product-subtotal">
						    <span class="amount" th:text="${goodsInfo.clAmount} * ${orderDtl.goodsCount} +'원'"  >$1250.00</span>
						  </td>
						</tr>
                    </tbody>
                  </table>
                </div>
              </div> <!-- end toggle -->
            </div>

            <div class="col-md-4">
              <div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
                <div class="mb-30">
                  <h2 class="heading uppercase mb-30">마일리지</h2>
                  <p th:text="'현재 ' + ${member.mbMileage}+'원 보유'" >현재 1,800원 보유</p>
                  <div class="row">
                    <div class="col-md-8">
                      <input type="text" name="mbMileage" id="mbMileage" class="mb-0" style="width: 95%;" value="0">
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                      <button type="button" class="btn btn-sm btn-color" id="useMileage" style="margin-top: 4px;">사용</button>
                    </div>
                  </div>
                </div>
                <div>
                  <h2 class="heading uppercase mb-30">결제 금액</h2>
                  <table class="table mb-30" th:if="${orderDtl.goodsDef == 'b'}">
                    <tbody>
                      <tr>
                        <th style="text-align: left;">총 상품 금액</th>
                        <td>
                          <span class="amount" th:text="${goodsInfo.bookPrice} * ${orderDtl.goodsCount} +'원'" >$599.00</span>
                        </td>
                      </tr>
                      <tr>
                        <th style="text-align: left;">총 배송비</th>
                        <td>
                          <span class="amount3">0원</span>
                        </td>
                      </tr>
                      <tr>
                        <th style="text-align: left;">사용 마일리지</th>
                        <td>
                          <span class="useMile">0</span>
                        </td>
                      </tr>
                      <tr class="order-total">
                        <th style="text-align: left;"><strong>총 결제 금액</strong></th>
                        <td>
                          <strong><span class="totalAmount" th:text="${goodsInfo.bookPrice} * ${orderDtl.goodsCount} +2500"  >$1799.00</span></strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table mb-30" th:unless="${orderDtl.goodsDef == 'b'}">
	                    <tbody>
	                      <tr>
	                        <th style="text-align: left;">총 상품 금액</th>
	                        <td>
	                          <span class="amount" th:text="${goodsInfo.clAmount} * ${orderDtl.goodsCount} +'원'" >$599.00</span>
	                        </td>
	                      </tr>
	                      <tr>
	                        <th style="text-align: left;">총 배송비</th>
	                        <td>
	                          <span class="amount3">0원</span>
	                        </td>
	                      </tr>
	                      <tr>
	                        <th style="text-align: left;">사용 마일리지</th>
	                        <td>
	                          <span class="useMile">0</span>
	                        </td>
	                      </tr>
	                      <tr class="order-total">
	                        <th style="text-align: left;"><strong>총 결제 금액</strong></th>
	                        <td>
	                          <strong><span class="totalAmount" th:text="${goodsInfo.clAmount} * ${orderDtl.goodsCount}"  >$1799.00</span></strong>
	                        </td>
	                      </tr>
	                    </tbody>
	                  </table>
                  <script th:inline="javascript">
                  console.log([[${orderDtl.goodsDef}]])
                	$("#useMileage").on("click", function(){
                		if($("#mbMileage").val() > [[${member.mbMileage}]]) {
                			alert("보유 마일리지를 초과했습니다.")
                			$("#mbMileage").val(0);
                		} 
                		$(".useMile").text($("#mbMileage").val());
                		
            
                		$(".totalAmount").text([[${goodsInfo.bookPrice}]] * [[${orderDtl.goodsCount}]] + 2500 - $("#mbMileage").val())
                		       		
                		
                		let um = $(".useMile").text();
                	});	
                	
                	if([[${orderDtl.goodsDef}]] == 'b') {
                		$(".amount3").text("2500")
                	}
                	
                	
                  </script>
				  <div class="text-center">
                    <input type="submit" name="ecommerce_checkout_place_order" class="btn btn-lg btn-color"
                      id="place_order" value="결제하기">
                    <a href="./index.html" class="btn btn-lg btn-dark">목록으로</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
	<script th:inline="javascript">
		
	var email = [[${member.mbEmail}]];
	var mbName = [[${member.mbName}]]; 
	var orderKind = 'b'
		
	var goodsName = [[${goodsInfo.bookTitle}]];
	var amount = Number([[${goodsInfo.bookPrice}]]) * Number([[${orderDtl.goodsCount}]]) + Number($(".amount3").text());
	var goodsNum = [[${goodsInfo.bookNum}]];
	
	const form = {
		goodsNum : goodsNum,
		goodsCount : [[${orderDtl.goodsCount}]],
		bookNum : [[${goodsInfo.bookNum}]],
		bookStock : Number([[${goodsInfo.bookStock}]]) - Number([[${orderDtl.goodsCount}]]),
		goodsName : goodsName,
		orderKind : orderKind,
		goodsDef : 'b'
	}
	
	$("#place_order").click(function() {
		
				form.rcdName = $("#rcdName").val();
				form.rcdPost =  $("#rcdPost").val();
				form.rcdAddr1 = $("#rcdAddr1").val();
				form.rcdAddr2 = $("#rcdAddr2").val();
				form.rcdTel = $("#rcdTel").val();
				form.request = $("#request").val();
				form.totalPrice = amount;
				form.usedMileage = $(".useMile").text();				
				form.mileageChg2 =  $(".useMile").text();
				form.shippingCnt = [[${orderDtl.goodsCount}]];
				form.mbMileage = [[${member.mbMileage}]] - $(".useMile").text() + [[${goodsInfo.bookPrice}]] * 0.03; 
				form.mileageChg =  [[${goodsInfo.bookPrice}]] * [[${orderDtl.goodsCount}]] * 0.03; 
				
				
				
			console.log("마일리지 적립금 : " + form.mileageChg)	;
			console.log("마일리지 차감액 : " + form.mileageChg2);
			console.log("마일리지 : " + form.mbMileage);

			IMP.init('imp77357708');
		  	//결제시 전달되는 정보
			IMP.request_pay({
					    pg : 'kakaopay', 
					    pay_method : 'kakaopay',
					    merchant_uid : 'merchant_' + new Date().getTime(),
					    name : goodsName,  
					    amount : amount, 
					    buyer_email : email,
					    buyer_name : mbName,
					    

					}, function(rsp) {
					    if ( rsp.success ) {
					        var msg = '결제가 완료되었습니다.';
			        							        
					        $.ajax({
			                    type: "POST", 
			                    url: "/boot/orderBook", 
			                    data:  form,
			        			success: function(result){
			        				console.log(result)
			        				location.href= "/boot/checkoutSuccess/"+result ;
			        			}, 
			        			error:  function(){
			        				console.log("에러발생");
			        			}
			        		})
					    } else {
					        var msg = '결제에 실패하였습니다.';    
					    }
					    
					});
				});
	

	</script>	

</th:block>
</html>