<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{/layouts/layout}">
  <th:block
    layout:fragment="content">
    <!-- Page Title -->
    <section class="page-title text-center">
      <div class="container relative clearfix">
        <div class="title-holder">
          <div class="title-text">
            <h1 class="uppercase">장바구니</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- end page title -->
    <!-- Cart -->
    <section class="section-wrap shopping-cart pt-0">
      <div class="container relative">
        <div class="row">
          <div class="col-md-12 mb-50">
            <h2 class="heading relative heading-small uppercase mb-30">강의</h2>
            <div class="table-wrap mb-30">
              <table class="shop_table cart table">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" class="input-checkbox" name="checkbox" id="checkAll1" value="2">
                      <label for="checkAll1"></label>
                    </th>
                    <th class="product-name" colspan="2">강의</th>
                    <th class="product-price">가격</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cart_item edu" th:each="cc : ${cartInfo}" th:if="${cc.cartDef == 'c'}">
                    <td>
                      <input type="hidden" th:value="${cc.clNum}">	
                      <input type="hidden" th:value="${cc.cartDef}">
                      <input type="hidden" th:value="${cc.clName}">			
                      <input type="hidden" th:value="${cc.clAmount}">			
                      
                      <input type="checkbox" class="input-checkbox edu" name="checkbox2" th:id="${cc.cartNum}" 
                             th:value2="${cc.cartNum}" th:value="${cc.clAmount}">
                      <label th:for="${cc.cartNum}"></label>
                      <input type="hidden" name="cartNum" th:value="${cc.cartNum}">
                    </td>
                    <td class="product-thumbnail">
                      <a href="#">
                        <img src="https://via.placeholder.com/600x338" alt="">
                      </a>
                    </td>
                    <td class="education-name">
                      <a href="#" th:text="${cc.clName}" >강의명</a>
                      <ul>
                        <li >강사명</li>
                      </ul>
                    </td>
                    <td class="education-subtotal">
                      <span class="clAmount" th:text="${cc.clAmount} +'원'">$240.00</span>
                    </td>
                    <td class="product-remove">
                      <a href="#" class="remove" title="Remove this item">
                        <input type="hidden" name="cartNum" th:value="${cc.cartNum}">
                        <input type="hidden" name="mbId" th:value="${session.login.mbId}">
                        <i class="icon icon_close"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end col -->
          <div class="col-md-12 mb-50">
            <h2 class="heading relative heading-small uppercase mb-30">도서</h2>
            <div class="table-wrap mb-30">
              <table class="shop_table cart table">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" class="input-checkbox" name="checkbox" id="checkAll2" value="2">
                      <label for="checkAll2"></label>
                    </th>
                    <th class="product-name" colspan="2">도서</th>
                    <th class="product-price">금액</th>
                    <th class="product-quantity">수량</th>
                    <th class="product-subtotal">총계</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody >
                  <tr class="cart_item book" th:each="ci : ${cartInfo}" th:if="${ci.cartDef == 'b'}" >
                    <td>
                  	  <input type="hidden" name="bNum" th:value="${ci.bookNum}">
                  	  <input type="hidden" name="bDef" th:value="${ci.cartDef}">
                  	  <input type="hidden" name="bTitle" th:value="${ci.bookTitle}">
                  	  <input type="hidden" name="bPrice" th:value="${ci.bookPrice}">
                      <input type="checkbox" class="input-checkbox book" name="checkbox2" th:id="${ci.cartNum}" 
                             th:value2="${ci.cartNum}" th:value="${ci.bookPrice} * ${ci.goodsCnt}">
                      <label th:for="${ci.cartNum}"></label>
                      <input type="hidden" name="bookStock" th:value="${ci.cartNum}">
                    </td>
                    <td class="product-thumbnail">
                      <a href="#">
                        <img src="https://via.placeholder.com/600x338" alt="">
                      </a>
                    </td>
                    <td class="product-name">
                      <a href="#" th:text="${ci.bookTitle}">도서명</a>
                      <ul>
                        <li th:text="${ci.bookWriter}">저자명</li>
                      </ul>
                    </td>
                    <td class="product-price">
                      <span class="price" th:text="${ci.bookPrice} +'원'">$1250.00</span>
                    </td>
                    <td class="product-quantity">
                      <div class="quantity buttons_added">
                        <input type="button" value="-" class="minus"/>
                        <input type="number" step="1" min="0" th:value="${ci.goodsCnt}" title="Qty" class="input-text qty text"/>
                        <input type="button" value="+" class="plus">
                        <input type="hidden" name="bookStock" th:value="${ci.bookStock}">
                        <button type="submit" class="update btn btn-sm btn-stroke">
                          <input type="hidden" name="cartNum" th:value="${ci.cartNum}">
                          <input type="hidden" name="mbId" th:value="${session.login.mbId}">
                          변경</button>
                      </div>
                    </td>
                    <td class="product-subtotal">
                      <span class="totalPrice" th:text="${ci.bookPrice} * ${ci.goodsCnt}+'원'">$1250.00</span>
                    </td>
                    <td class="product-remove">
                      <a href="#" class="remove" title="Remove this item">
                        <input type="hidden" name="cartNum" th:value="${ci.cartNum}">
                        <input type="hidden" name="mbId" th:value="${session.login.mbId}">
                        <i class="icon icon_close"></i>
                      </a>
                    </td>
                  </tr>
                  <!-- 삭제 form1515 -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end row -->
        <div class="row">
          <div class="col-md-4 col-md-offset-2" style="float:none; margin-left:auto; margin-right:0;">
            <div class="cart_totals">
              <h2 class="heading relative heading-small uppercase mb-30">장바구니 총계</h2>
              <table class="table shop_table">
                <tbody>
                  <tr class="cart-subtotal">
                    <th>장바구니 금액</th>
                    <td>
                      <span class="amount"></span>
                    </td>
                  </tr>
                  <tr class="shipping">
                    <th>배송비</th>
                    <td>
                      <span>2500</span>
                    </td>
                  </tr>
                  <tr class="order-total">
                    <th>
                      <strong>주문 총계</strong>
                    </th>
                    <td>
                      <strong>
                        <span class="amount2"></span>
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12 text-center">
                <button class="btn btn-md btn-stroke" onclick="cartDelete()">선택삭제</button>
                <a class="btn btn-md btn-dark" onclick="goOrder()">선택결제</a>
                <a href="./checkout.html" class="btn btn-md btn-color">전체결제</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- end cart -->
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p>재고가 부족합니다.</p>
          </div>
          <div class="modal-footer">
            <button type="button" id="close1" class="btn btn-color">확인</button>
          </div>
        </div>
      </div>
    </div>
    <form name="checkForm" th:action="@{/payment/cartCheckOut}" method="post">
    	<button type="submit"/>
    </form>
    <script th:inline="javascript">
    
    // 수량 변경
    $(".plus").on("click", function () {
      let count = $(this).parent("div").find("input:eq(1)").val();
      let stock = $(this).parent("div").find('input:eq(3)').val();
      var stocks = parseInt(stock);
      
      if (count < stocks) {
        $(this).parent("div").find("input:eq(1)").val(++count);
      } else {
        $('#modal_1').modal('show');
        $('#close1').click(function () {
          $('#modal_1').modal('hide');
        })
      }
    });
    
    
    $(".minus").on("click", function () {
      let count = $(this).parent("div").find("input:eq(1)").val();
      if (count > 1) {
        $(this).parent("div").find("input:eq(1)").val(--count);
      }
    });
    
    const form1 = {
      mbId: '',
      cartNum: '',
      goodsCnt: ''
    }
    $(".update.btn.btn-sm.btn-stroke").on("click", function () {
      form1.cartNum = $(this).find('input:eq(0)').val();
      form1.mbId = $(this).find('input:eq(1)').val();
      form1.goodsCnt = $(this).parent("div").find("input:eq(1)").val();
      
      $.ajax({
        url: '/boot/cart/update',
        type: 'POST',
        data: form1,
        success: function (result) {
          location.reload();
        },
        error: function () {
          console.log("에러발생");
        }
      })
    });
    
    
    // 삭제
    const form2 = {
      mbId: '',
      cartNum: ''
    }
    $(".remove").on("click", function () {
      form2.cartNum = $(this).find('input:eq(0)').val();
      form2.mbId = $(this).find('input:eq(1)').val();
      $.ajax({
        url: '/boot/cart/delete',
        type: 'POST',
        data: form2,
        success: function (result) {
          location.reload();
        },
        error: function () {
          console.log("에러발생");
        }
      })
    });
    
    
    // 도서 선택    
    $("#checkAll2").click(function () {
      var checkBook = $("#checkAll2").prop("checked");
      if (checkBook) {
        $(".input-checkbox.book").prop("checked", true);
      } else {
        $(".input-checkbox.book").prop("checked", false);
      }
       goodsSum();
    });
    
    $(".input-checkbox.book").click(function () {
      $("#checkAll2").prop("checked", false);
      goodsSum();
    });
    
    
    // 강의 선택
    $("#checkAll1").click(function () {
      var checkEdu = $("#checkAll1").prop("checked");
      if (checkEdu) {
        $(".input-checkbox.edu").prop("checked", true);
      } else {
        $(".input-checkbox.edu").prop("checked", false);
      }
    	goodsSum();
    });
    
    $(".input-checkbox.edu").click(function () {
        $("#checkAll1").prop("checked", false);
        goodsSum();
      });
    
    
    // 선택 삭제
    function cartDelete() {
      var cartIdxArray = [];
      $("input:checkbox[name=checkbox2]:checked").each(function () {
        cartIdxArray.push($(this).attr("value2"));
      });
      console.log(cartIdxArray);
      if (cartIdxArray.length == 0) {
        alert("삭제할 항목을 선택해주세요.");
        return;
      } else {
        var confirmAlert = confirm('정말로 삭제하시겠습니까?');
        if (confirmAlert) {
          $.ajax({
            type: 'POST',
            url: '/boot/deleteCart',
            dataType: 'json',
            data: JSON.stringify(cartIdxArray),
            contentType: 'application/json',
            success: function (result) {
              alert("해당 상품이 삭제되었습니다.");
              location.reload();
            },
            error: function (request, status, error) {}
          })
        }
      }
    }
    	

    // 배송비 계산
    function delivery() {
   	 if ($(".input-checkbox.book:checked").length == 0) {
       	 $(".shipping td").text('0원')
       	deliveryFee=0;
        } else {
       	 $(".shipping td").text('2500원')
       	deliveryFee=2500;
        }
    }
    

    $("#checkAll2").click()
    $("#checkAll1").click()

    
    var deliveryFee

    // 선택 합계 금액
    function goodsSum() {
      var bookSum = 0;
      var eduSum = 0;
      var bookCount = $(".input-checkbox.book").length;
      var eduCount = $(".input-checkbox.edu").length;
      
      delivery();
      
      for (var i = 0; i < bookCount; i++) {
      	if ($(".input-checkbox.book")[i].checked == true) {
          	bookSum += parseInt($(".input-checkbox.book")[i].value);
          }
      }
      for (var j = 0; j < eduCount; j++) {
          if ($(".input-checkbox.edu")[j].checked == true) {
          	eduSum += parseInt($(".input-checkbox.edu")[j].value);
          }
      }
      
      $(".amount").html(bookSum + eduSum + " 원");
      $(".amount2").html((bookSum + eduSum +  deliveryFee) + " 원");

    }
    
    // 선택 결제
    function goOrder(){
    	let list = [];
      	
    	var obj = {};
    
    	obj["shippingFee"] = $(".shipping td").text().slice(0, -1);
    	obj["goodsTotal"] = $(".amount").text().slice(0, -1);
    	obj["orderTotal"] = $(".amount2").text().slice(0, -1);
    	
    	 list.push(obj);
    	 
		// 체크된 상품 전송
		var bookCount = $(".input-checkbox.book:checked").length;
        var eduCount = $(".input-checkbox.edu:checked").length;
        
		$(".input-checkbox.book:checked").each(function(i, checkbox){
						
	      	var obj = {};
	        var bookNum = $(this).parent('td').find("input:eq(0)").val();
	        
	        var bookCount =$(this).parent('td').parent('tr').find("td:eq(4)").find("div").find("input:eq(1)").val();
	        

			
	       //var bookCnt = $(".quantity.buttons_added").find("input:eq(1)").val();
	        
	        
	        var bookDef = $(this).parent('td').find("input:eq(1)").val();
	        var bookName = $(this).parent('td').find("input:eq(2)").val();
	        var bookPrice = $(this).parent('td').find("input:eq(3)").val();
			
        	
        	//var clNum = bookTr.find("input:eq(0)").val();
            obj["goodsNum"] = bookNum;
            obj["goodsCount"] = bookCount;
            obj["goodsDef"] = bookDef;
            obj["goodsName"] = bookName;
            obj["bookPrice"] = bookPrice;
        	
            list.push(obj);
      	});
		
		$(".input-checkbox.edu:checked").each(function(i, checkbox){

      		var obj = {};
        	var clNum = $(this).parent('td').find("input:eq(0)").val();
        	var clCount = 1;
        	var clDef =  $(this).parent('td').find("input:eq(1)").val();
			var clName = $(this).parent('td').find("input:eq(2)").val();
			var clAmount = $(this).parent('td').find("input:eq(3)").val();
			
            obj["goodsNum"] = clNum;
            obj["goodsCount"] = clCount;
            obj["goodsDef"] = clDef;
            obj["goodsName"] = clName;
            obj["clAmount"] = clAmount;
            
            
            list.push(obj);
      	});
		
		console.log(list)
		getFormData(list);
		checkForm.submit();
		
		/*
		$.ajax({
  			type : "post",
  			url : "/boot/payment/cartCheckOut",
  			contentType : 'application/json; charset=utf-8',
  			data : JSON.stringify(list),
  			success : function(result) {
  				console.log(result)
  				
  					location.href = "/boot/payment/cartCheckOut"
  				
  			}
  			
  		})
		*/
    }	
    
    function getFormData(list){
    	for(let i = 0; i < list.length; i++){
    		for(let field in list[i]){
    			//console.log(list[i])
    			let tag = `<input type='hidden' name='orderList[${i}].${field}' value='${list[i][field]}'>`;
    			$('form[name="checkForm"]').append($(tag));
    		}
    	}
    }
    
    </script>
  </th:block>
</html>