<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">

    <!-- Page Title -->
    <section class="page-title text-center">
      <div class="container relative clearfix">
        <div class="title-holder">
          <div class="title-text">
            <h2 class="uppercase">결제 완료</h2>
          </div>
        </div>
      </div>
    </section> <!-- end page title -->

    <!-- Checkout -->
    <section class="section-wrap login-register pt-0 pb-50">
      <div class="container relative">
        <div class="row">
          <div class="mb-50">
            <div class="col-md-9" style="margin: 0 auto; float: none;">
              <div class="col-md-3">
                <img src="../img/successful.png" alt="">
              </div>
              <div class="col-md-6">
                <h3>고객님의 주문이 완료되었습니다.</h3>
                <p>주문 내역 및 배송에 관한 안내는 <a href="/boot/mypage/orderList">구매목록</a> 을 통하여 확인 가능합니다.</p>
                <p th:text="'주문번호 : ' + ${orderNum}">주문번호 : 0000-00000</p>
                            </div>
              <div class="clear"></div>
            </div>
          </div>
          <div>
            <div class="text-center">
              <a href="/boot" class="btn btn-lg btn-dark">메인으로</a>
            </div>
          </div>
        </div>
      </div>
    </section>

</th:block>
</html>