<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutWish}">

<th:block layout:fragment="content">

<!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li class="active">
          찜
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="mb-0" style="margin-top: 7px;">도서 찜</h3>
            </div>

            <div class="col-md-12">
              <div class="table-wrap mb-30">
                <table class="shop_table cart table">
                  <thead>
                    <tr>
                      <th class="product-name" colspan="2">강의</th>
                      <th class="product-price">가격</th>
                      <th class="product-stock">비고</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cart_item" th:each="wi : ${wishInfo}">
                      <td class="product-thumbnail">
                        <a href="#">
                          <img src="https://via.placeholder.com/600x450" alt="">
                        </a>
                      </td>
                      <td class="product-name">
                        <a href="#" th:text="${wi.bookTitle}">도서명</a>
                        <ul>
                          <li th:text="${wi.bookWriter}">저자명</li>
                          <li>
                            <p class="star" >
                            <th:block th:each="num : ${#numbers.sequence(1,5)}">
                              <i class="fa fa-star" aria-hidden="true" th:if="${num <= wi.bookRating}"></i>
                              <i class="fa fa-star-o" aria-hidden="true" th:if="${num > wi.bookRating}"></i>
                            </th:block>  

                            </p>
                          </li>
                        </ul>
                      </td>
                      <td class="product-price">
                        <span class="amount" th:text="${wi.bookPrice} + '원'">$1250.00</span>
                      </td>
                      <td class="product-purchase">
                        <button class="btn btn-color btn-sm add-to-cart"><span>장바구니</span></button>
                      	<input type="hidden" name="bookNum" th:value="${wi.bookNum}">
                      	<input type="hidden" name="mbId" th:value="${wi.mbId}">
                      	<input type="hidden" name="bookStock" th:value="${wi.bookStock}">
 
                      </td>
                      <td class="product-remove">
                        <a href="#" class="remove" title="Remove this item">
                        <input type="hidden" name="wishNum" th:value="${wi.bookNum}">
						<!-- <input type="hidden" name="mbId" th:value="${session.login.mbId}">  -->
                          <i class="icon icon_close"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
           <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/wishBook/${session.login.mbId}?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/wishBook/${session.login.mbId}?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/wishBook/${session.login.mbId}?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/wishBook/${session.login.mbId}?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/wishBook/${session.login.mbId}?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/wishBook/${session.login.mbId}?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

                <form action="/wish/list" th:object="${criteria}" name="pageForm">
                  <input type="hidden" name="pageNum" th:field="*{pageNum}">
                  <input type="hidden" name="amount" th:field="*{amount}">
                </form>
              </nav>
          </div>
            </div> <!-- end col -->
          </div> <!-- end row -->
		 <!-- Modal -->
    
    <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>이미 장바구니에 담겨져있는 도서입니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close1" class="btn btn-color">확인</button>
      				<button type="button" th:onclick="location.href='cart/test1'"
       						class="btn btn-dark" id="cart" data-bs-dismiss="modal">
         				장바구니 가기
       				</button>
    			</div>
             </div>
         </div>
     </div> 
     
    <div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>도서가 장바구니에 담겼습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close2" class="btn btn-color">계속쇼핑하기</button>
       				<button  type="button" th:onclick="location.href='cart/test1'"
       				class="btn btn-dark" data-bs-dismiss="modal">
       						
         				장바구니 가기
       				</button>
    			</div>
             </div>
         </div>
     </div> 

     <div class="modal fade" id="modal_3" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>로그인이 필요합니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close3" class="btn btn-color">계속쇼핑하기</button>
       				<button type="button" id="login" class="btn btn-dark" data-bs-dismiss="modal">
         				로그인
       				</button>
    			</div>
             </div>
         </div>
     </div>
          <div class="modal fade" id="stockModal" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>품절된 상품입니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="closeStockM" class="btn btn-color">확인</button>
    			</div>
             </div>
         </div>
     </div>
     
	 <script>
	 // 장바구니 추가
		
	const addForm = {
	mbId : '',
	goods : '',
	goodsCnt : 1,
	cartDef : 'b'
	}


	$(".add-to-cart").on("click", function(e){
		console.log("장바구니 버튼 클릭")
		addForm.goods = $(this).parent("td").find("input:eq(0)").val();
		addForm.mbId = $(this).parent("td").find("input:eq(1)").val(); 
		console.log(addForm);
		
		if($(this).parent("td").find("input:eq(2)").val() == 0 ) {
			$('#stockModal').modal('show');
			$('#closeStockM').click(function () {
		 	   $('#stockModal').modal('hide');
		    })
		} else {
			$.ajax({
				url: '/boot/cart/add',
				type: 'POST',
				dataType: "json",
				data: addForm,
				success: function(result){
					console.log(result);
					cartAlert(result);
				}, 
				error:  function(){
					console.log("에러발생");
				}
			})
		}
	});
		
	function cartAlert(result){
		if(result == '0'){
			alert("장바구니에 추가 하지 못하였습니다.");
		} else if(result == '1'){
			$('#modal_2').modal('show');
			$('#close2').click(function () {
		 	   $('#modal_2').modal('hide');
		    })
			
		} else if(result == '2'){
			$('#modal_1').modal('show');
			$('#close1').click(function () {
		       $('#modal_1').modal('hide');
		    })
		} else if(result == '5'){
			$('#modal_3').modal('show');
			$('#close3').click(function () {
		       $('#modal_3').modal('hide');
		    })
		    $('#login').click(function () {
		       location.href="/boot/login";
		    })  
		}	
	}
	
	
		// 삭제 
		$(".remove").on("click", function(e){
			var goodsNum = $(this).find('input:eq(0)').val();
			//form.mbId = $(this).find('input:eq(1)').val();
			//form.mbId = 'test1'
			$.ajax({
				url: '/boot/wishBook/delete',
				type: 'POST',
				data: {goodsNum : goodsNum},
				success: function(result){
					location.reload();
				}, 
				error:  function(){
					console.log("에러발생");
				}
			})
		});
		
	
		
		</script>
</th:block>
</html>