<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarCateFragment">
	<!-- Sidebar -->
	<aside class="col-md-3 sidebar left-sidebar">
		<!-- Categories -->
		<div class="widget categories">
			<h3 class="widget-title uppercase">카테고리</h3>
			<div class="list-no-dividers">
				<!-- Toggles -->
				<div class="side-list">
					<div class="acc-panel">
						<a th:href="${'/boot/profile/'+session.login.mbId}">내 프로필</a>
					</div>
					<div class="acc-panel">
						<a th:href="${'/boot/profile/myBoardList/'+session.login.mbId}">내 게시글</a>
					</div>
					<div class="acc-panel">
						<a th:href="${'/boot/profile/myClassList/'+session.login.mbId}">내 수강 강의</a>
					</div>
					<div class="acc-panel">
						<a th:href="${'/boot/profile/myChatList/'+session.login.mbId}">내 스터디 목록</a>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<!-- end sidebar -->
</th:block>

</html>