<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topbarFragment">
             <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      <div></div>
      <div></div>
    </div>
  </div>

  <main class="content-wrapper oh">
    <!-- Navigation -->
    <header class="nav-type-1">
      <div class="top-bar hidden-sm hidden-xs">
        <div class="container">
          <div class="top-bar-line">
            <div class="row">
              <div class="top-bar-links">
                <ul class="top-bar-acc">
                  <li class="top-bar-link" sec:authorize="isAuthenticated()"><a th:href="@{/profile/}+${session.login.mbId}">프로필</a></li>
                  <li class="top-bar-link" sec:authorize="isAuthenticated()"><a th:href="@{/wishBook/}+${session.login.mbId}">찜</a></li>
				  <li class="top-bar-link" sec:authorize="hasRole('ROLE_MEMBER')"><a th:href="@{/mypage/mypageDashboard}">마이페이지</a></li>
				  <li class="top-bar-link" sec:authorize="hasRole('ROLE_TEACHER')"><a th:href="@{/teacher/teacherDashboard}">강사페이지</a></li>
				  <li class="top-bar-link" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/adminDashboard}">관리자페이지</a></li>
                  <li class="top-bar-link" sec:authorize="isAnonymous()"><a th:href="@{/login}">로그인</a></li>
                  <li class="top-bar-link" sec:authorize="isAnonymous()"><a th:href="@{/join}">회원가입</a></li>
                  <li class="top-bar-link" sec:authorize="isAuthenticated()" th:text=${session.login.mbNick}>사용자</li>
                  <li class="top-bar-link" sec:authorize="isAuthenticated()">
			        <form th:action="@{/logout}" method="post">
			            <input type="submit" class = "btn btn-text" value="로그아웃"/>
			        </form>
			       </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end top bar -->

      <nav class="navbar navbar-static-top">
        <div class="navigation" id="sticky-nav">
          <div class="container relative">
            <div class="row">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="nav-cart mobile-cart hidden-lg hidden-md">
                  <div class="nav-cart-outer">
                    <div class="nav-cart-inner">
                      <a href="#" class="nav-cart-icon">2</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-wrap">
                <div class="header-wrap-holder">
                  <div class="nav-search hidden-sm hidden-xs"></div>
                  <!-- Logo -->
                  <div class="logo-container">
                    <div class="logo-wrap text-center">
                      <a href="/boot">
                        <img class="logo" th:src="@{/img/logo_dark.png}" alt="logo">
                      </a>
                    </div>
                  </div>
                  <!-- Cart -->
                  <div class="nav-cart-wrap hidden-sm hidden-xs">
                    <div th:if="${session.login != null}">
                   	 <a th:href="@{/cart/}+${session.login.mbId}">
                    
                      <div class="nav-cart right">
                        <div class="nav-cart-outer">
                          <div class="nav-cart-inner">
                            <div class="nav-cart-icon" th:text="${cart}">2</div>
                          </div>
                        </div>
                      </div>
                      <div class="menu-cart-amount right">
                        <span>
                          장바구니
                        </span>
                      </div>
                    </a>
                   </div>
                  </div> <!-- end cart -->
                </div>
              </div> <!-- end header wrap -->
              <div class="nav-wrap">
                <div class="collapse navbar-collapse" id="navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a th:href="@{/edu}">강의</a>
                    </li>
                    <li class="dropdown">
                      <a th:href="@{/community}">커뮤니티</a>
                    </li>
                    <li class="dropdown">
                      <a th:href="@{/bookList}">도서</a>
                    </li>
                    <li class="dropdown">
                      <a th:href="@{/study}">스터디</a>
                    </li>
                    <li class="dropdown">
                      <a th:href="@{#}">시험정보</a>
                    </li>
                    <li class="dropdown">
                      <a href="#">문제은행</a>
                      <i class="fa fa-angle-down dropdown-trigger"></i>
                      <ul class="dropdown-menu">
                        <li><a th:href="@{/examList}">모의고사</a></li>
                        <li><a th:href="@{/quizList}">퀴즈</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/examNoteList/}+${session.login.mbId}">오답노트</a></li>
                      </ul>
                    </li>
					
                    <li class="dropdown">
                      <a th:href="@{/noticeList}">고객센터</a>
                    </li>

                    <li class="mobile-links">
                      <ul>
                        <li><a th:href="@{/myProfile}">프로필</a></li>
                        <li><a href="./wishlistEdu.html">찜</a></li>
                        <li><a th:href="@{/mypageDashboard}">마이페이지</a></li>
                        <li><a th:href="@{/teacherDashboard}">강사페이지</a></li>
                        <li><a th:href="@{/adminDashboard}">관리자페이지</a></li>
                        <li><a th:href="@{/login}">로그인</a></li>
                        <li><a th:href="@{/join}">회원가입</a></li>
                        <li><a th:href="@{/logout}">로그아웃</a></li>
                      </ul>
                    </li>
                  </ul> <!-- end menu -->
                </div> <!-- end collapse -->
              </div> <!-- end col -->
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end navigation -->
      </nav> <!-- end navbar -->
    </header> <!-- end navigation -->
</th:block>
</html>