<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
	<!-- TOAST UI Editor CDN(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<!-- TOAST UI Editor CDN(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="/adminDashboard">관리자페이지</a>
        </li>
        <li class="active">
          공지사항
        </li>
      </ol>
    </div>
	<!-- end breadcrumbs -->
 
    <section class="section-wrap post-single pb-50">
      <div class="container relative">
        <div class="row">
          <div class="col-md-12 post-content mb-50">
            <h3 class="heading uppercase mb-40">게시글 수정</h3>
            <article class="entry-item">
              <div class="entry">
                <form action="/boot/adminNoticeModify" method="post">
                	<input type="hidden" name="boNum" th:value="${noticeView.boNum}">
					<table class="table">
                    <tr>
						<th style="vertical-align: middle;">제목</th>
						<td>
							<input type="text" name="boTitle" id="boTitle" class="mb-0" th:value="${noticeView.boTitle}">
						</td>
                    </tr>
                    <tr>
                      <th>내용</th>
                      <td>
                         <div id="editor"></div>
                         <textarea id="content" style="display: none;">[[${noticeView.boContent}]]</textarea>
                         <textarea id="contents" name="boContent" style="display: none;"></textarea>
                      </td>
                    </tr>
                    <script>
                    const onUploadImage = async (blob, callback) => {
                        const formData = new FormData();
                        formData.append("image", blob);
                        formData.append("uri", window.location.pathname);
                        
          		      $.ajax({
                          type: "post",
                          url: "/boot/image_upload.do",
                          async: true,
                          data: formData,
                          processData: false,
                          contentType: false,
                          success: function (data) {
                            imageURL = data;
                            callback(imageURL, "image");
                          },
                          error: function (request, status, error) {
                            alert(request + ", " + status + ", " + error);
                          },
                        });
                      };
                      
                    const editor = new toastui.Editor({
                    	  el: document.querySelector("#editor"),
                    	  height: "500px",
                    	  initialEditType: "wysiwyg",
                    	  initialValue: document.querySelector("#content").value,
                    	  language: "ko-KR",
                          hooks: {
                            addImageBlobHook: onUploadImage
                          }
                    	});
                    </script>
                  </table>
                  <!-- 신고 -->
                  <div class="text-center">
                  	<button type="submit" id="submit" class="btn btn-color">등록하기</button>
                    <a th:href="'/boot/adminNoticeView?boNum='+*{noticeView.boNum}" class="btn btn-dark">취소하기</a>
                  </div>
                  <script>
                  	$('#submit').on('click', function(){
                  		document.querySelector('#contents').insertAdjacentHTML('afterbegin', editor.getMarkdown());
                  	})
                  </script>
                </form>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
</th:block>
</html>