<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutAdmin}">

<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./adminDashboard.html">관리자페이지</a>
        </li>
        <li class="active">
          공지사항
        </li>
      </ol>
    </div>
	<!-- end breadcrumbs -->
	
    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">유저 정보 관리</h3>
            </div>

            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 100px;">
                  <col>
                  <col style="width: 150px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>주소</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                    <th>상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item : ${studentList}">
                    <td><a href="./myProfile.html">[[${item.mbName}]]</a></td>
                    <td style="text-align: center;">[[${item.mbNick}]]</td>
                    <td>[[${item.mbAddress1}]] [[${item.mbAddress2}]]</td>
                    <td>[[${item.mbTel}]]</td>
                    <td>[[${item.mbEmail}]]</td>
                    <td th:if="${item.mbState == '0'}">정상</td>
                    <td th:if="${item.mbState == '1'}">정지</td>
                  </tr>
                </tbody>
              </table>

              <!-- Pagination -->
              <div class="pagination-wrap">
                <nav class="pagination text-center">
                  <a href="#"><i class="fa fa-angle-left"></i></a><span class="page-numbers current">
                    1</span><a href="#">
                    2</a><a href="#">
                    3</a><a href="#">
                    4</a><a href="#">
                    <i class="fa fa-angle-right"></i></a>
                </nav>
              </div>
            </div>
          </div> <!-- end col -->
</th:block>
</html>