<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutCate}">
<th:block layout:fragment="content">
 

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./adminDashboard.html">관리자페이지</a>
        </li>
        <li class="active">
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="mb-20" style="margin-top: 7px;">문제 목록</h3>
              <div>
                
                
                <div class="right">
                  <a href="/boot/admin/adminExamTest" class="btn btn-color">모의고사 등록</a>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <table class="table">
              
                <colgroup>
                  <col style="width: 150px;">
                  <col>
                  <col style="width: 150px;">
                  <col style="width: 100px;">
                  <col style="width: 250px;">
                </colgroup>
                
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>시험 목록</th>
                    <th>연도</th>
                    <th>회차</th>
                    <th>비고</th>
                  </tr>
                </thead>
                <tbody>
               
                  <tr th:each="Tlist : ${adminExamList}">
                  <form th:action="@{/admin/deleteExam/}+${Tlist.teNum}" method="get">
                    <td th:text="${Tlist.teNum}" th:name="${Tlist.teNum}"></td>
                    <td><a th:href="@{/admin/adminExamView/}+${Tlist.teNum}" th:text="${Tlist.scaNum}"></a></td>
                    <td th:text="${Tlist.teYear}"></td>
                    <td th:text="${Tlist.teRound}"></td>
                    <td>
                      <button type="submit" class="btn btn-sm btn-dark">삭제</button>
                    </td>
                    </form>
                  </tr>
                </tbody>
               
              </table>
              <!-- Pagination -->
              <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/admin/adminExamList?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/admin/adminExamList?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/admin/adminExamList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/admin/adminExamList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/admin/adminNoticeList?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/admin/adminExamList?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>
              </nav>
          </div>
            </div>
          </div> <!-- end col -->
<script th:inline="javascript">
$(document).ready(function () {
       
  $(".panel-content li").on("click", function (event) {
    event.preventDefault();
    var bigkeyword = $(this).parent().prev().first().text();
    var keyword = $(this).text();
    window.location.href = "/boot/admin/serCate?bigkeyword="+bigkeyword+"&keyword="+ keyword;
  })
})

$(".btn.btn-sm.btn-dark").on("click",function(){
    	   if (confirm("취소하시겠습니까?") == true){ 
    		   alert("완료되었습니다.");
    		 }else{
    		   alert("취소되었습니다");
    		   return false;
    		 }
       })
</script>          
   


</body>
</th:block>
</html>