<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
	<!-- Breadcrumbs -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="index.html">홈</a></li>
			<li><a href="./qnaList.html">1:1 문의</a></li>
			<li class="active">1:1 문의 상세</li>
		</ol>
		<!-- end breadcrumbs -->
	</div>

	<!-- Blog Single -->
	<section class="section-wrap post-single pb-50">
		<div class="container relative">
			<div class="row">
				<!-- content -->
				<div class="col-md-8 post-content mb-50">
					<!-- standard post -->
					<article class="entry-item">
						<div class="entry">
							<div class="entry-stroke" th:if="${qnaView.boState.equals('0')}">미답변</div>
							<div class="entry-stroke" th:if="${qnaView.boState.equals('1')}">답변완료</div>
							<h1 class="uppercase mb-20">[[${qnaView.boTitle}]]</h1>
							<div class="bo-info mb-50 clear-fix">
								<div class="left">
									<img src="https://via.placeholder.com/100" class="bo-avatar"
										alt=""> <span class="bo-autor">[[${qnaView.mbNick}]]</span>
									<span class="bo-date">[[${#dates.format(qnaView.writeDate,
										'yyyy-MM-dd')}]]</span>
								</div>
								<div class="bo-btn right">
									<button class="btn btn-sm btn-color">수정</button>
									<button class="btn btn-sm btn-dark">삭제</button>
								</div>
							</div>
							<div class="entry-content">
								<div id="viewer"></div>
								<textarea id="viewers" class="hidden">[[${qnaView.boContent}]]</textarea>
							</div>
							<div class="text-center">
								<a
									th:href="'/boot/adminQnaList?pageNum='+*{pageMaker.criteria.pageNum}"
									class="btn btn-color">목록으로</a>
							</div>
						</div>

						<script
							src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
						<script>
							const editor = new toastui.Editor({
								el : document.querySelector('#viewer'),
								initialEditType : "markdown",
								initialValue : document
										.querySelector("#viewers").value
							});
						</script>

						<!-- Leave a Comment -->
						<div class="mt-80 mb-80">
							<h3 class="heading uppercase mb-40">답변</h3>
							<div class="row">
								<div class="col-md-12">
									<input type="hidden" name="mbId" id="mbId" value="tester02">
									<input type="hidden" name="boNum" id="boNum"
										th:value="${qnaView.boNum}">
									<textarea name="boContent" id="comment"
										placeholder="답변을 입력해 주세요." rows="8"></textarea>
								</div>
								<div class="col-md-12 text-right">
									<input type="submit" class="btn btn-lg btn-color" value="문의하기"
										id="commentBtn">
								</div>
							</div>
						</div>
						<div class="modal fade" id="modal" tabindex="-1"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 id="modal_2Title" class="modal-title">1:1 문의 답변</h5>
									</div>
									<div class="modal-body">
										<p id="msg"></p>
									</div>
									<div class="modal-footer">
										<button type="button" id="close" class="btn btn-color">확인</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Comments -->
						<div class="entry-comments mt-20">
							<h3 class="heading uppercase mb-40">답변</h3>
							<ul id="commentList" class="comment-list"></ul>
						</div>
					</article>
				</div>
				<script>
					createUL();

					function createUL() {
						$.ajax({
							url : '/boot/admin/qnaAnswerList/[[${ qnaView.boNum }]]',
							type : 'post',
							dataType : 'JSON',
							success : function(result) {
								$('#commentList').empty();
								$.each(result, function(index, item) {
									let rowData = createRow(item);
									$('#commentList').append(rowData);
								});
							},
							error : function(reject) {
								console.log(reject);
							}
						})
					}

					function createRow(item) {
						let liTag = $('<li/>');
						let commentBody = $('<div/>').addClass('comment-body');
						let commentBoNum = $('<input/>').prop('type', 'hidden')
								.val(item.boNum);
						let commentAvatar = $('<img/>').addClass(
								'comment-avatar').prop('src', item.mbProfile);

						let commentContent = $('<div/>').addClass(
								'comment-content');
						let commentModify = $('<textArea/>').attr('id',
								'boContent' + item.boNum).attr('name',
								'boContent').prop('style', 'display:none')
								.prop('value', item.boContent);

						let commentInfo = $('<p/>').addClass(
								'comment-info mb-20');
						let commentAuthor = $('<span/>').addClass(
								'comment-author').text(item.mbNick);
						let commentDate = $('<span/>').text(item.writeDate);

						let commentContents = $('<div/>').addClass(
								'orign mb-30').text(item.boContent);

						let commentBtnBox = $('<div/>').addClass('text-right');
						let commentBtnModify = $('<button/>').addClass(
								'btn btn-sm btn-color modify').prop('type',
								'button').prop('style', 'margin-right:4px')
								.text('수정').on('click', modifyComment);
						let commentBtnUpload = $('<button/>').addClass(
								'btn btn-sm btn-color update').prop('type',
								'button').prop('style',
								'display:none; margin-right:4px').text('등록')
								.on('click', uploadComment);
						let commentBtnCancel = $('<button/>').addClass(
								'btn btn-sm btn-dark cancel').prop('type',
								'button').prop('style', 'display:none').text(
								'취소').on('click', cancelComment);

						commentInfo.append(commentAuthor);
						commentInfo.append(commentDate);
						commentContent.append(commentInfo);

						commentContent.append(commentContents);
						commentContent.append(commentModify);

						commentBtnBox.append(commentBtnUpload);
						commentBtnBox.append(commentBtnModify);
						commentBtnBox.append(commentBtnCancel);

						commentContent.append(commentBtnBox);

						commentBody.append(commentAvatar);

						commentBody.append(commentBoNum);

						commentBody.append(commentContent);
						liTag.append(commentBody);

						return liTag;
					}

					$("#commentBtn").on("click", function() {
						$.ajax({
							url : "/boot/admin/insertQnaAnswer",
							data : {
								"mbId" : $("#mbId").val(),
								"boNum" : $("#boNum").val(),
								"boContent" : $("#comment").val()
							},
							type : "post",
							success : function(result) {
								if (result != null) {
									$('#msg').html("답변을 등록했습니다.");
									createUL();
									$("#comment").val('');
								} else {
									$('#msg').html("답변을 등록하지 못했습니다.");
								}
								$('#modal').modal('show');

							},
							error : function(reject) {
								console.log(reject);
							}
						})
					})
					$('#close').on('click', function() {
						$('#modal').modal('hide');
					});

					function modifyComment() {
						//				    	let find = $(this).closest('li').find('input');
						$(this).closest('li').find('textarea').fadeIn();
						$(this).closest('li').find('.orign').hide();
						$(this).hide();
						$(this).closest('li').find('.update').show();
						$(this).closest('li').find('.cancel').show();
					}

					function cancelComment() {
						$(this).closest('li').find('textarea').hide();
						$(this).closest('li').find('.orign').show();
						$(this).hide();
						$(this).closest('li').find('.update').hide();
						$(this).closest('li').find('.modify').show();
					}

					function uploadComment() {
						let boNum = $(this).closest('li').find('input').val();
						let boContent = $(this).closest('li').find('textarea').val();
						
						$.ajax({
							url : "/boot/admin/modifyQnaAnswer",
							data : {
								"boNum" : boNum,
								"boContent" : boContent
							},
							type : "post",
							success : function(result) {
								if (result != null) {
									$('#msg').html("답변을 수정했습니다.");
									createUL();
									$("#comment").val('');
								} else {
									$('#msg').html("답변을 수정하지 못했습니다.");
								}
								$('#modal').modal('show');

							},
							error : function(reject) {
								alert("서버요청실패");
								console.log(reject);
							}
						})
					}
				</script>
			</div>
		</div>
</th:block>

</html>