<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutAdmin}">

<th:block layout:fragment="content">

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/admin/adminDashboard">관리자페이지</a>
        </li>
        <li class="active">
          회원주문목록
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">회원 주문 목록</h3>
            </div>

            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 150px;">
                  <col>
                  <col style="width: 150px;">
                  <col style="width: 100px;">
                  <col style="width: 250px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>주문번호</th>
                    <th>주문 상품</th>
                    <th>주문일</th>
                    <th>상태</th>
                    <th>비고</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="order : ${orderList}">
                    <td th:text="${order.orderNum}">CB230307-0001</td>
                    <td th:text="${order.goodsName}"><a href="./eduView.html">강의 제목 외 2건</a></td>
                    <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}">2023-03-13</td>
                    <td th:text="${order.orderState}" >결제완료</td>
                    <td>
                      <button type="button" class="btn btn-sm btn-color devlBtn" onclick="trackingNum(event)">배송관리</button>
                      <a th:href="'/boot/admin/shoppingView?pageNum='+${pageMaker.criteria.pageNum}+'&orderNum='+*{order.orderNum}" >  
                      	<button type="button" class="btn btn-sm btn-dark">상세보기</button>
                      </a>
                      <input type="hidden" class="odNum" th:value="${order.orderNum}">                   </td>
                  </tr>
                </tbody>
              </table>

          <!-- Pagination -->
            <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/admin/shoppingList?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>
                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/admin/shoppingList?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>
                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/admin/shoppingList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/admin/shoppingList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>
                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/admin/shoppingList?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>
                <a th:if="*{next}" th:href="*{'/boot/admin/shoppingList?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

              </nav>
          </div>
            </div>
          </div> <!-- end col --> 
                         
		  <!-- Modal -->
		  <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
		  	<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<input type="hidden" name="bookNum">
					<div class="modal-body">
						<p>운송장번호 등록</p>
						<div>
							<textarea name="addTrack" id="addTrack" class="mb-0" cols="30" rows="5"
								placeholder="운송장번호를 입력해 주세요."></textarea>
						</div>
					</div>
				    <div class="modal-footer">
						<button type="button" class="btn btn-color" id="insertTrack">등록</button>
						<button type="button" id="close" class="btn btn-dark"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
		  	</div>
		  </div>
     
          <script th:inline="javascript">
          
          	// 강의 구매 -> 배송버튼 숨기기	          
          	for (let i = 0 ; i <  [[${orderList}]].length; i++ ) {
          		if ([[${orderList}]][i].orderKind == 'c') {
          			$('.devlBtn').eq(i).hide();
          		}
          		
          	}
          
          	// 주문완료 상태일 때만 배송버튼 보이기		
          	function chgState(){
	          	for(let i = 0; i < [[${orderList}]].length; i++) {
	          		if ([[${orderList}]][i].orderState != "주문완료") {
	          			$('.devlBtn').eq(i).hide();
	          		}
	          	}
          	}
          	chgState();
          	
          	
          	// 운송장번호 등록
          	function trackingNum(event) {
          		let orderNum =  $(event.target).parent('td').find('.odNum').val();
          		console.log(orderNum)
          		$('#modal').modal('show');
          		$('#insertTrack').click(function(){
          			const form = {
          				orderNum : orderNum,
          				trackingNum : $('#addTrack').val()
          			}
                	  $.ajax({
                          type: "POST", 
                          url: "/boot/admin/updateTrack", 
                          data: form,
                		  success: function(result){
                	      	alert('운송장번호가 등록되었습니다.');
                	        $('#modal').modal('hide');
                            location.reload();
                	        
                		  }, 
                		  error:  function(){
                			console.log("에러발생");
                		  }
                	  })
          		})
          		$('#close').click(function () {
                  $('#modal').modal('hide');
                })
          	}
        	  
          </script> 
</th:block>
</html>