<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
	<!-- TOAST UI Editor CDN(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<!-- TOAST UI Editor CDN(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
	  
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/admin/adminDashboard">관리자페이지</a>
        </li>
        <li class="active">
          도서상세
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-20" style="margin-top: 7px;">도서 상세</h3>
            </div>
           			<form th:action="@{/admin/adminDeleteBook}" method="post">
		       
		       	 <input type="hidden" id="bookNum" name="bookNum" th:value="${book.bookNum}">
                   <div class="right">
              		<a th:href="${'/boot/admin/adminModifyBook?bookNum='+ book.bookNum}" class="btn btn-sm btn-color">수정</a>
              		
              		<a th:href="@{/admin/adminDeleteBook/{book.bookNum}(book.bookNum=${book.bookNum})}" class="btn btn-sm btn-dark">삭제</a>
                </div>

            <div class="col-md-12">


              <div class="form-row form-row-wide">
                <strong>도서명</strong>
                <p th:text="${book.bookTitle}">도서명 자리</p>
              </div>
              
              <div class="form-row form-row-wide">
                <strong>대분류</strong>
                <p th:text="${book.bcaNum}">대분류 자리</p>
              </div>
              
              <div class="form-row form-row-wide">
                <strong>소분류</strong>
                <p th:text="${book.scaNum}">소분류 자리</p>
              </div>

              <div class="form-row form-row-wide">
                <strong>저자</strong>
                <p th:text="${book.bookWriter}">저자 자리</p>
              </div>

              <div class="form-row form-row-wide">
                <strong>가격</strong>
                <p th:text="${book.bookPrice} + '원'">가격 자리</p>
              </div>

              <div class="entry-content form-row form-row-wide">
                
                <strong>소개</strong>
                	<div id="viewer"></div>
              	  <textarea id="viewers" class="hidden">[[${book.bookIntro}]]</textarea>
              
              </div>
              



              <div class="form-row form-row-wide mb-30">
                <strong>썸네일</strong>
                <div>
                  <img src="https://via.placeholder.com/600x338" alt="">
                </div>
              </div>
        
              <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
              <script>
              const editor = new toastui.Editor({
          		el: document.querySelector('#viewer'),
          		initialEditType: "markdown",
          	    initialValue: document.querySelector("#viewers").value
            	});
              </script>
            </div>
        </form>
			

			
            <div class="text-center">
              <a th:href="'/boot/admin/adminBook?pageNum='+*{pageMaker.criteria.pageNum}"class="btn btn-dark">목록으로</a>
             </div>
          </div>

         
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end catalogue -->
 

 </th:block>
</html>  
