<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutAdmin}">

<th:block layout:fragment="content">
	<!-- Breadcrumbs -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="index.html">홈</a></li>
			<li><a href="./adminDashboard.html">관리자페이지</a></li>
			<li class="active">공지사항</li>
		</ol>
		<!-- end breadcrumbs -->
	</div>

	<!-- Catalogue -->
	<section class="section-wrap pt-70 pb-40 catalogue">
		<div class="container relative">
			<div class="row">
				<div class="col-md-9 catalogue-col right mb-50">
					<div class="col-md-12 mb-50">
						<h3 class="left mb-0" style="margin-top: 7px;">자주묻는질문</h3>
						<div class="right">
							<button type="button" id="faqWrite" class="btn btn-color">새 질문</button>
						</div>
					</div>

					<div class="col-md-12">
						<!-- Accordions -->
						<div class="panel-group accordion mb-50" id="accordion">
							<th:block th:each="board : ${faqList}">
								<div class="panel panel-default">
									<input type="hidden" th:value="${board.boNum}" class="boNum">
									<div class="panel-heading">
										<a data-toggle="collapse" data-parent="#accordion" th:href="${'#collapseOne' + board.boNum}"
											class="minus">
											<th:block th:id="boTitle + ${board.boNum}">
												[[${board.boTitle}]]
												<span>&nbsp;</span>
											</th:block>
										</a>
									</div>
									<div th:id="collapseOne + ${board.boNum}" class="panel-collapse collapse">
										<div class="panel-body">
											<div th:id="boContent + ${board.boNum}" class="orgin mb-30">
												[[${board.boContent}]]
											</div>
											<input type="text" th:id="input + ${board.boNum}" th:value="${board.boTitle}"
												style="display:none">
											<textarea th:id="textarea+${board.boNum}" style="display:none">[[${board.boContent}]]</textarea>
											<div class="text-right">
												<button type="button" class="btn btn-color modify">수정</button>
												<button type="button" class="btn btn-dark delete">삭제</button>
												<button type="button" class="btn btn-color update" style="display:none">등록</button>
												<button type="button" class="btn btn-dark cancel" style="display:none">취소</button>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
				<div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 id="modal_2Title" class="modal-title">자주 묻는 질문</h5>
							</div>
							<div class="modal-body">
								<input type="hidden" id="mbId" name="mbId" value="tester02">
								<p>
									<label for="boTitle">질문</label>
									<input type="text" id="boTitle" name="boTitle" placeholder="질문을 입력해 주세요.">
								</p>
								<div>
									<label for="boContent">답변</label>
									<textarea name="boContent" id="boContent" cols="30" rows="10" placeholder="답변을 입력해 주세요."></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" id="addFaq" class="btn btn-color">등록</button>
								<button type="button" id="addClose" class="btn btn-dark">취소</button>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 id="modal_2Title" class="modal-title">자주 묻는 질문</h5>
							</div>
							<div class="modal-body">
								<p id="msg"></p>
							</div>
							<div class="modal-footer">
								<button type="button" id="close" class="btn btn-color">확인</button>
							</div>
						</div>
					</div>
				</div>
				<script>
					$('.modify').on('click', function () {
						let input = $(this).closest('.panel').find('input');
						let textarea = $(this).closest('.panel').find('textarea');
						let orgin = $(this).closest('.panel').find('.orgin');
						let modifyBtn = $(this).closest('.panel').find('.modify');
						let deleteBtn = $(this).closest('.panel').find('.delete');
						let updateBtn = $(this).closest('.panel').find('.update');
						let cancelBtn = $(this).closest('.panel').find('.cancel');
						input.show();
						textarea.show();
						orgin.hide();
						modifyBtn.hide();
						deleteBtn.hide();
						updateBtn.show();
						cancelBtn.show();
					})
					$('.cancel').on('click', function () {
						let input = $(this).closest('.panel').find('input');
						let textarea = $(this).closest('.panel').find('textarea');
						let orgin = $(this).closest('.panel').find('.orgin');
						let modifyBtn = $(this).closest('.panel').find('.modify');
						let deleteBtn = $(this).closest('.panel').find('.delete');
						let updateBtn = $(this).closest('.panel').find('.update');
						let cancelBtn = $(this).closest('.panel').find('.cancel');
						input.hide();
						textarea.hide();
						orgin.show();
						modifyBtn.show();
						deleteBtn.show();
						updateBtn.hide();
						cancelBtn.hide();
					})
					$('#faqWrite').on('click', function () {
						$('#addModal').modal('show');
					})
					$('#addFaq').on('click', function () {
						$.ajax({
							url: '/boot/admin/faqWrite',
							data: {
								"mbId": $('#mbId').val(),
								"boTitle": $('#boTitle').val(),
								"boContent": $('#boContent').val()
							},
							type: 'post',
							success: function (result) {
								if (result != null) {
									$('#msg').html("자주 묻는 질문을 등록했습니다.");
									$('#addModal').modal('hide');
								} else {
									$('#msg').html("자주 묻는 질문을 등록하지 못했습니다.");
									$('#addModal').modal('hide');
								}
								$('#modal').modal('show');
							},
							error: function (reject) {
								console.log(reject);
							}
						})
					})
					$('#addClose').on('click', function () {
						$('#addModal').modal('hide');
					})
					$('.update').on('click', function () {
						let inputHidden = $(this).closest('.panel').find('input[type="hidden"]').val();
						let inputText = $(this).closest('.panel').find('input[type="text"]').val();
						let textarea = $(this).closest('.panel').find('textarea').val();
						$.ajax({
							url: '/boot/admin/modifyFaq',
							data: {
								"mbId": $("#mbId").val(),
								"boNum": inputHidden,
								"boTitle": inputText,
								"boContent": textarea
							},
							type: 'post',
							success: function (result) {
								if (result != null) {
									$('#msg').html("자주 묻는 질문을 수정했습니다.");
								} else {
									$('#msg').html("자주 묻는 질문을 수정하지 못했습니다.");
								}
								$('#modal').modal('show');
							},
							error: function (reject) {
								console.log(reject);
							}
						})
					})
					$('.delete').on('click', function () {
						let inputHidden = $(this).closest('.panel').find('input[type="hidden"]').val();
						$.ajax({
							url: '/boot/admin/deleteFaq',
							data: {
								"boNum": inputHidden
							},
							type: 'post',
							success: function (result) {
								if (result != null) {
									$('#msg').html("자주 묻는 질문을 삭제했습니다.");
								} else {
									$('#msg').html("자주 묻는 질문을 삭제하지 못했습니다.");
								}
								$('#modal').modal('show');
							},
							error: function (reject) {
								console.log(reject);
							}
						})
					})
					$('#close').on('click', function () {
						$('#modal').modal('hide');
						location.reload();
					})
				</script>
</th:block>

</html>