<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutAdmin}">

<th:block layout:fragment="content">

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="adminDashboard">관리자페이지</a>
        </li>
        <li class="active">
          공지사항
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">공지사항</h3>
              <div class="right">
                <a href="/boot/admin/adminNoticeWrite" class="btn btn-color">새 공지사항</a>
              </div>
            </div>

          <div class="col-md-12">
            <table class="table">
              <colgroup>
                <col style="width: 100px;">
                <col>
                <col style="width: 150px;">
                <col style="width: 150px;">
              </colgroup>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
              </thead>
              <tbody>
                <th:block th:each="board : ${noticeList}">
                  <tr th:object="${board}">
                    <td th:text="*{boNum}"></td>
                    <td><a th:href="'/boot/admin/adminNoticeView?pageNum='+${pageMaker.criteria.pageNum}+'&boNum='+*{boNum}" th:text="*{boTitle}"></a></td>
                    <td th:text="*{mbNick}"></td>
                    <td th:text="*{#dates.format(writeDate, 'yyyy-MM-dd')}"></td>
                  </tr>
                </th:block>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/admin/adminNoticeList?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/admin/adminNoticeList?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/admin/adminNoticeList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/admin/adminNoticeList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/admin/adminNoticeList?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/admin/adminNoticeList?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>
              </nav>
          </div>
        </div>
</th:block>
</html>