<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">


    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./adminDashboard.html">관리자페이지</a>
        </li>
        <li class="active">
          공지사항
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
        <form th:action="@{/admin/adminExamTest}" method="post">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="mb-20" style="margin-top: 7px;">문제 등록</h3>
            </div>

            <div class="col-md-12 mb-50">
              <div class="register">
                <div class="form-row form-row-wide">
                
                  <label>분류</label>
                  <div>
                    <select onchange="catechange()" name="bcaNum" id="bcaNum" class="select-box">
                      <option selected value="none">대분류</option>
                      <option th:each="bigCate : ${bigCateList}"
						th:value="${bigCate.bcaName}" th:text="${bigCate.bcaName}"></option>
                    </select>
                    <select name="scaNum" id="scaNum" class="select-box">
                      <option value="">소분류</option>
                      <option value="정보처리기사">정보처리기사</option>
                    </select>
                    <select name="teYear" id="teYear" class="select-box">
                      <option value="">연도</option>
                      <option  value="2023">2023</option>
                      <option  value="2022">2022</option>
                      <option  value="2021">2021</option>
                      <option  value="2020">2020</option>
                    </select>
                    <select name="teRound" id="teRound" class="select-box">
                      <option value="">회차</option>
                      <option  value="1">1</option>
                      <option  value="2">2</option>
                      <option  value="3">3</option>
                      <option  value="4">4</option>
                      <option  value="5">5</option>
                    </select>
                  </div>
                  
                </div>
              </div>
            </div>
				<div class="text-center">
                  <button type="submit" class="btn btn-color">문제등록</button>
                  <a href="/boot/admin/adminExamList" class="btn btn-color">목록으로</a>
                </div>

          </div>
</form>

 <script th:inline="javascript">
var cateList = [[${cateList}]]
function catechange() {
	$("#scaNum").empty();
	$("#scaNum").append('<option selected value="none">소분류</option>')
	for(cate of cateList){
	     if($("#bcaNum").val() == cate.bcaName)
	     $("#scaNum").append($("<option>").text(cate.scaName))
	}
}
</script>
          

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>
</th:block>
</html>