<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{/layouts/layoutAdmin}">
  <th:block
    layout:fragment="content">
    <!-- TOAST UI Editor CDN(JS) -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- TOAST UI Editor CDN(CSS) -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
    <!-- codemirror CDN URL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
  
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/admin/adminDashboard">관리자페이지</a>
        </li>
        <li class="active">
          도서수정
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    
    <section class="section-wrap pt-70 pb-40 catalogue">
  <div class="container relative">
	<div class="row">
	  <form action="/boot/admin/adminModifyBook" method="post">
        <input type="hidden" name="bookNum" th:value="${bookView.bookNum}">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-20" style="margin-top: 7px;">도서 수정</h3>
            </div>
            <div class="col-md-12">
              <p class="form-row form-row-wide">
                <label>분류
                  <abbr class="required" title="required">*</abbr>
                </label>
                <select onchange="catechange()" name="bcaNum" id="bcaNum" class="select-box mb-0">
                  <option selected="selected" value="none">대분류</option>
                  <option th:each="bigCate : ${bigCateList}" th:value="${bigCate.bcaNum}" th:text="${bigCate.bcaName}">기사</option>
                </select>
                <select name="scaNum" id="scaNum" class="select-box mb-0">
                  <option selected="selected" value="none">소분류</option>
                </select>
              </p>
              <p class="form-row form-row-wide">
                <label>도서명
                  <abbr class="required" title="required">*</abbr>
                </label>
                <input type="text" name="bookTitle" class="input-text" th:value="${bookView.bookTitle}"></p>
                <p class="form-row form-row-wide">
                  <label>저자
                    <abbr class="required" title="required">*</abbr>
                  </label>
                  <input type="text" name="bookWriter" class="input-text" th:value="${bookView.bookWriter}"></p>
                  <p class="form-row form-row-wide">
                    <label>가격
                      <abbr class="required" title="required">*</abbr>
                    </label>
                    <input type="text" name="bookPrice" class="input-text" th:value="${bookView.bookPrice}"></p>
                    <p class="form-row form-row-wide">
                      <label>소개
                        <abbr class="required" title="required">*</abbr>
                      </label>
                      <div id="editor" class="form-row form-row-wide"></div>
                      <textarea name="bookIntro" id="contents" style="display: none;">[[${bookView.bookIntro}]]</textarea>
                    </p>
                    <p class="form-row form-row-wide">
                      <label>썸네일
                        <abbr class="required" title="required">*</abbr>
                      </label>
                      <input type="file" name="attachNum" id="attachNum"></p>
                    </p>
            </div>
	        <script>
	        const onUploadImage = async (blob, callback) => {
                const formData = new FormData();
                formData.append("image", blob);
                formData.append("uri", window.location.pathname);
                
  		      $.ajax({
                  type: "post",
                  url: "/boot/image_upload.do",
                  async: true,
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function (data) {
                    imageURL = data;
                    callback(imageURL, "image");
                  },
                  error: function (request, status, error) {
                    alert(request + ", " + status + ", " + error);
                  },
                });
              };
              
            const editor = new toastui.Editor({
            	  el: document.querySelector("#editor"),
            	  height: "500px",
            	  initialEditType: "wysiwyg",
            	  initialValue: document.querySelector("#contents").value,
            	  language: "ko-KR",
                  hooks: {
                    addImageBlobHook: onUploadImage
                  }
            	});
             </script>

            <div class="text-center">
                  	<button type="submit" id="submit" class="btn btn-color">수정</button>
              <a class="btn btn-dark" href="/boot/admin/adminBook">취소</a>
            </div>
            <script>
                  $('#insert').on('click', function () {
                    document.querySelector('#contents').insertAdjacentHTML('afterbegin', editor.getMarkdown());
                  })
            </script>            
	  </form>
	</div>
	<script th:inline="javascript">
	var cateList = [[${cateList}]];
	function catechange() {
  	  $("#scaNum").empty();
  	  $("#scaNum").append('<option selected value="none">소분류</option>')
	  for(cate of cateList){
		if($("#bcaNum").val() == cate.bcaNum)
			$("#scaNum").append($("<option>").text(cate.scaName))
	   }
	 }
	</script>
 
</th:block>
</html>   