<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layout}">
<th:block layout:fragment="content">


    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./adminDashboard.html">관리자페이지</a>
        </li>
        <li class="active">
          공지사항
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h1 class="mb-20" style="margin-top: 7px;">문제 상세</h1>
            </div>
            <div class="col-md-12 mb-50">
              <h3 class="mb-20" style="margin-top: 7px;">[[${get.scaNum}]] [[${get.teYear}]]년 [[${get.teRound}]]회차</h3>
            </div>

            <div class="col-md-12">
              <div id="q1" class="question mb-50" th:each="list : ${adminExamView}">
                <div>
                  <p>
                    <strong th:text="${list.quesNum}+번"></strong>
                  </p>
                  <p class="mb-20" th:text=${list.question}>
                  </p>
                  <div class="rows">
                    <div class="col-md-6 mb-10">1.
                      <input type="radio" name="a1" id="a1_1" onclick="return(false);">
                      <label for="a1_1" th:text=${list.vi1}>①</label>
                    </div>
                    <div class="col-md-6 mb-10">2.
                      <input type="radio" name="a1" id="a1_2" onclick="return(false);">
                      <label for="a1_2" th:text=${list.vi2}>②</label>
                    </div>
                    <div class="col-md-6 mb-10">3.
                      <input type="radio" name="a1" id="a1_3" onclick="return(false);">
                      <label for="a1_3" th:text=${list.vi3}>③</label>
                    </div>
                    <div class="col-md-6 mb-10">4.
                      <input type="radio" name="a1" id="a1_4" onclick="return(false);">
                      <label for="a1_4" th:text=${list.vi4}>④</label>
                    </div>
                    <div class="clear"></div>
                    
                  </div>
                  <div>정답
                  	<p th:text="${list.answer}"></p>
                  	해설<p th:text="${list.commetary}"></p>
                  </div>
                </div>
				
                <details class="mb-30 text-right">
                
                  <summary class="btn btn-sm btn-color">수정</summary>
         		  <form th:action="@{/admin/adminExamUp/}+${teNum}" method="post">
                  <div class="mt-10" style="text-align: left;">
                  <input type="hidden" th:value="${list.questionNum}" name="questionNum">
                    <strong>수정</strong>
                    <p>
                    <label for="question">문제</label>
                    <input name="question" type="text" id="question"></p>
					<div>
                    <label for="vi1">보기1</label>
                    <input name="vi1" type="text" id="vi1">
                    <label for="vi2">보기2</label>
                    <input name="vi2" type="text" id="vi2">
                    <label for="vi3">보기3</label>
                    <input name="vi3" type="text" id="vi3">
                    <label for="vi4">보기4</label>
                    <input name="vi4" type="text" id="vi4"></div> 
                    <div><label for="answer">정답</label>
                    <input name="answer" type="text" id="answer">   
                    <label for="commetary">해설</label>
                    <input name="commetary" type="text" id="commetary"></div>
                     <button type="submit" class="btn btn-color">수정하기</button>      
                  </div>
                  </form>
                </details>
              </div>

         

              <div class="text-center">
                <a href="/boot/admin/adminExamList" class="btn btn-color">목록으로</a>
                <a th:href="@{/admin/adminExamForm/} + ${teNum}" class="btn btn-color">문제등록</a>
              </div>
            </div>
          </div> <!-- end col -->

          

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>
</th:block>
</html>