<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{/layouts/layoutAdmin}">
  <th:block layout:fragment="content">
    <style>
      .clone {
        display: none;
      }
    </style>
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/admin/adminDashboard">관리자페이지</a>
        </li>
        <li class="active">
          도서입출고
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
			  <div class="col-md-12 mb-50">
			    <div>
			      <h3 class="mb-20" style="margin-top: 7px;">도서 입출고</h3>
			    </div>
			    <div>
			      <select onchange="catechange()" name="bcaNum" id="bcaNum" class="select-box mb-0">
			        <option selected="selected" value="none">대분류</option>
			        <option th:each="bigCate : ${bigCateList}" th:value="${bigCate.bcaNum}" th:text="${bigCate.bcaName}">기사</option>
			      </select>
			      <select name="scaNum" id="scaNum" class="select-box mb-0">
			        <option selected="selected" value="none">소분류</option>
			      </select>
			      <button type="submit"  class="btn btn-stroke" id="search">검색</button>
			      <div class="right">
				      <a href="/boot/admin/bookInOut">
				      	<button type="submit" class="btn btn-stroke" id="allList">전체보기</button>
				      </a>
			      </div>
			    </div>
			  </div>
  
			  <div class="table-box col-md-12 mb-50" style="height: 300px; overflow-y:scroll;">
			    <table class="table">
			      <colgroup>
			        <col style="width: 100px;">
			        <col>
			        <col style="width: 100px;">
			        <col style="width: 100px;">
			        <col style="width: 100px;"></colgroup>
			        <thead>
			          <tr>
			            <th>도서번호</th>
			            <th>도서명</th>
			            <th>저자</th>
			            <th>가격</th>
			            <th>재고</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr th:each="list : ${bookList}">
			            <td th:text="${list.bookNum}" class="ftd">1234
			              <td th:text="${list.bookTitle}" class="getInfo" onclick="getInfo(event)">정보처리기사 필기 기본서
			                <input type="hidden" id="bkNum" th:value="${bookList.bookNum}"></td>
			                <td th:text="${list.bookWriter}">홍길동</td>
			                <td th:text="${list.bookPrice} + '원'">15,000원</td>
			                <td th:text="${list.bookStock}" th:data-bookNum="${list.bookNum}">5</td>
			              </tr>
			            </tbody>
			    </table>
			   </div>
   
   		   	   <div class="stk"></div>
    
    
			   <div class="clone">
			     <div class="rows paren ">
			       <div class="col-md-12">
			         
			         <div class="right">
			           <button type="button" class="btn btn-color add">새 입고</button>
			         </div>
			       </div>
			       <div class="col-md-12 table-box">
			         <table class="table">
			           <colgroup>
			            <col style="width: 150px;">
			            <col>
			            <col style="width: 100px;">
			            <col style="width: 100px;">
			            <col style="width: 100px;">
					</colgroup>
					<thead>
						<tr>
							<th>입출고일</th>
							<th>도서명</th>
							<th>입출고량</th>
							<th>재고</th>
						</tr>
					</thead>
					<tbody></tbody>
				   </table>
				 </div>
				</div>
			  </div>
		</div>
		<!-- end col -->
		                
		<!-- Modal -->
		<div class="modal fade" id="modal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<input type="hidden" name="bookNum">
					<div class="modal-body">
						<p>입고량</p>
						<div>
							<textarea name="addCount" id="addCount" class="mb-0" cols="30" rows="5"
								placeholder="입고량을 입력해 주세요."></textarea>
						</div>
					</div>
				    <div class="modal-footer">
						<button type="button" class="btn btn-color" id="insertStock">추가</button>
						<button type="button" id="close" class="btn btn-dark"
							data-bs-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
                
	                
		<script th:inline="javascript">
			
			// 카테고리
	    	var cateList = [[${cateList}]]
	        function catechange() {
	        	$("#scaNum").empty();
	        	$("#scaNum").append('<option selected value="none">소분류</option>')
	        	for (cate of cateList) {
	        	  if ($("#bcaNum").val() == cate.bcaNum) 
	        	      $("#scaNum").append($("<option>").text(cate.scaName))
	        	 }
	         }
			
			
	 	    // 카테고리 검색
			$(document).ready(function () {
			  $("#search").on("click", function (event) {
			    event.preventDefault();
			    var bigkeyword = $('#bcaNum').val();
			    var keyword = $('#scaNum').val();
			    window.location.href = "bookInOutCate?bigkeyword=" + bigkeyword + "&keyword=" + keyword;
			  })
			})
	          

	        // 책 제목 클릭시 
			function getInfo(event) {
			  console.log($(event.target).parent('tr').find('.ftd').text());
			  let bookNum = $(event.target).parent('tr').find('.ftd').text();
			  getStock(bookNum)
			}
	        
	        // 해당 책 입출고 내역
			function getStock(bookNum) {
		
			  $.ajax({
			    type: "post",
			    url: "/boot/admin/getStock/" + bookNum,
			    success: function (result) {
			      console.log(result)
			      
			      $('.stk').empty();
			      
			      let template = $('.clone').children().eq(0).clone();
			      for(let i=0; i<result.length; i++) {
			      
				    let tr =  `<tr>
						<td class="date">${result[i].shippingDate}</td>
						<td class="bkName">${result[i].bookTitle}</td>
					    <td class="cnt">${result[i].shippingCnt}</td>
						<td class="stock">${result[i].stockSum}</td>
					</tr>`
				      $(template).find('tbody').append(tr);
					  	
			      }
			      $('.stk').append(template);
			      
			      // 입고량 등록 모달창
			      $(template).find('.add').click(function(){
			    	  $('#modal').modal('show');
			    	  $('[name=bookNum]').val(bookNum)
			      });
			    },
			    error: function () {
			      console.log("에러발생");
			    }
			  })
			  
			}
			
	
		    $('#close').click(function () {
	            $('#modal').modal('hide');
	         }) 
			
	        // 모달창 등록 버튼 클릭시 
			$('#insertStock').click(function() {
				let bookNum = $('[name=bookNum]').val();
				let shippingCnt = $('#addCount').val()
	  		  const form = {
	  		    shippingCnt : shippingCnt, 
	  		  	bookNum : bookNum,
	  		  	bookStock : $('#addCount').val()
	  		  }
	  		  console.log(form.bookStock)
	  		  
	      	  $.ajax({
	                type: "POST", 
	                url: "/boot/admin/insertStock", 
	                data: form,
	      		  success: function(result){
	      	      	alert('성공');
	      	        getStock(bookNum);   
	      	        $('#modal').modal('hide');
	      	        updateStock(bookNum, shippingCnt);
	      		  }, 
	      		  error:  function(){
	      			console.log("에러발생");
	      		  }
	      	  })
	  	  })
	  	  
	  	  function updateStock(bookNum, shippingCnt) {
		    	let currentCnt = $('[data-bookNum='+bookNum+']').text();
		    	let total = Number(currentCnt) + Number(shippingCnt);
		    	$('[data-bookNum='+bookNum+']').text(total);
		    }
		    

	  	  
		</script>
</th:block>

</html>          
