<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layoutAdmin}">

<th:block layout:fragment="content">

	<!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/admin/adminDashboard">관리자페이지</a>
        </li>
        <li class="active">
          도서목록
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>
    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="mb-20" style="margin-top: 7px;">도서 목록</h3>
              <div>
                <select onchange="catechange()" name="bcaNum" id="bcaNum" class="select-box mb-0">
			        <option selected="selected" value="none">대분류</option>
			        <option th:each="bigCate : ${bigCateList}" th:value="${bigCate.bcaNum}" th:text="${bigCate.bcaName}">기사</option>
			      </select>
			      <select name="scaNum" id="scaNum" class="select-box mb-0">
			        <option selected="selected" value="none">소분류</option>
			      </select>
			      <button type="submit" class="btn btn-stroke" id="search">검색</button>
			      <a href="/boot/admin/adminBook">
			      	<button type="submit" class="btn btn-stroke" id="allList">전체보기</button>
			      </a>
                <div class="right">
                  <a href="/boot/admin/addBook" class="btn btn-color">새 도서</a>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 100px;">
                  <col>
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 100px;">
                  <col style="width: 200px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>도서번호</th>
                    <th>도서명</th>
                    <th>저자</th>
                    <th>가격</th>
                    <th>재고</th>
                    <th>비고</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="list : ${bookList}">
                    <td th:text="${list.bookNum}">1234</td>
                    <td><a th:href="'/boot/admin/adminBookView?pageNum='+${pageMaker.criteria.pageNum}+'&bookNum='+*{list.bookNum}" th:text="${list.bookTitle}">정보처리기사 필기 기본서</a></td>
                    <td th:text="${list.bookWriter}">홍길동</td>
                    <td th:text="${list.bookPrice} + '원'">15,000원</td>
                    <td th:text="${list.bookStock}">5</td>
                    <td>
                    <a th:href="'/boot/admin/adminBookView?pageNum='+${pageMaker.criteria.pageNum}+'&bookNum='+*{list.bookNum}" >                 
                      <button type="button" class="btn btn-sm btn-stroke">상세</button>
                    </a>
                    </td>
                  </tr>
                </tbody>
              </table>

           <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/admin/adminBook?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/admin/adminBook?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/admin/adminBook?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/admin/adminBook?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/admin/adminBook?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/admin/adminBook?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

                <form action="/book/list" th:object="${criteria}" name="pageForm">
                  <input type="hidden" name="pageNum" th:field="*{pageNum}">
                  <input type="hidden" name="amount" th:field="*{amount}">
                </form>
              </nav>
          </div>
            </div>
          </div> <!-- end col -->


 
<script th:inline="javascript">

// 카테고리
  	var cateList = [[${cateList}]]
      function catechange() {
      	$("#scaNum").empty();
      	$("#scaNum").append('<option selected value="none">소분류</option>')
      	for (cate of cateList) {
      	  if ($("#bcaNum").val() == cate.bcaNum) 
      	      $("#scaNum").append($("<option>").text(cate.scaName))
      	 }
       }


 // 카테고리 검색
 $(document).ready(function () {
  $("#search").on("click", function (event) {
    event.preventDefault();
    var bigkeyword = $('#bcaNum').val();
    var keyword = $('#scaNum').val();
    /* if($('#bcaNum').val() == '1' ) {
    	bigkeyword = '기사';
    } else if ($('#bcaNum').val() == '2') {
    	bigkeyword = '산업기사';
    } else {
    	bigkeyword = '기능사';
    } */
    window.location.href = "bookListCate?bigkeyword=" + bigkeyword + "&keyword=" + keyword;
  })
}) 


const form = {
		booKNum : ''
}

	$(".btn.btn-sm.btn-dark").on("click", function(e){
		form.booKNum = $("#bookNum").val();
		console.log(form.booKNum);
		
		$.ajax({
			type : "POST",
			url : "/boot/admin/remove",
			data : form,
			success: function(data){			
				alert("글 삭제 완료되었습니다.");
			},
			error: function(data){
				alert("실패");
				console.log(data);
			}
		});
	})
	


</script>


 </th:block>
</html>  
