<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot/">홈</a>
        </li>
        <li>
          <a href="/boot/edu">강의</a>
        </li>
        <li>
          <a th:href="@{/eduCommu/{clNum}(clNum=${eduView.orgNum})}">강의 상세</a>
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>


    <!-- Blog Single -->
    <section class="section-wrap post-single pb-50">
      <div class="container relative">
        <div class="row">
          <!-- content -->
          <div class="col-md-8 post-content mb-50">
            <!-- standard post -->
            <article class="entry-item">
              <div class="entry">
                <div class="entry-stroke">공지</div>
                <h1 class="uppercase mb-20" th:text="${eduView.boTitle}">게시글 제목입니다.</h1>
                <div class="bo-info mb-50 clear-fix">
                  <div class="left">
                    <img src="https://via.placeholder.com/100" class="bo-avatar" alt="">
                    <span class="bo-autor" th:text="${eduView.mbId}">홍길동</span>
                    <span class="bo-date" th:text="${#dates.format(eduView.writeDate, 'yyyy-MM-dd HH:mm:ss')}">2023-03-07</span>
                  </div>
                  <div class="bo-btn right">
                  	<div th:if="${session.login != null and eduView.mbId == session.login.mbId}">
	                    <a th:href="${'/boot/eduCommModify/' + eduView.orgNum + '/' + eduView.boNum}" class="btn btn-sm btn-color">수정</a>
	                    <button class="btn btn-sm btn-dark  delCommBtn">삭제</button>
                    </div>
                    <div th:unless="${session.login != null and eduView.mbId == session.login.mbId}">
						<button class="btn btn-stroke">신고</button>
					</div>
                    <input type="hidden" name="orgNum" th:value="${eduView.orgNum}">
                    <input type="hidden" name="boNum" id="boNum" th:value="${eduView.boNum}">
                  </div>
                </div>
                <div class="entry-content">
                  <p class="lead" th:text="${eduView.boContent}">We possess within us two minds. So far I have written only of the conscious mind.
                    It's the fastest-funded project and also the most funded - by far. We possess within us two minds.
                    So far I have written only of the conscious mind. I would now like to introduce you to your second
                    mind. And finally the subconscious is the mechanism through which thought impulses which are
                    repeated regularly with feeling and emotion are quickened, charged and changed into their physical
                    equivalent.</p>
                </div>

                <!-- 신고 -->
                <div class="text-center">
                  <button type="button" id="report" class="btn btn-stroke">신고하기</button>
                  <a href="./eduCommunityList.html" class="btn btn-color">목록으로</a>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal_2Title">
                          게시글 신고
                        </h5>
                      </div>
                      <div class="modal-body">
                        <p>해당 게시글을 신고하시겠습니까?</p>
                        <div>
                          <textarea name="" id="" class="mb-0" cols="30" rows="5"
                            placeholder="신고 사유를 입력해 주세요."></textarea>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-color">신고</button>
                        <button type="button" id="close" class="btn btn-dark" data-bs-dismiss="modal">
                          취소
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Leave a Comment -->
              <div class="comment-form mt-80 mb-80">
                <h3 class="heading uppercase mb-40">답변</h3>
                <form th:action="@{/addCommReply}" method="post">
                  <div class="row">
                    <div class="col-md-12">
                      <textarea name="boContent" id="comment" placeholder="답변을 입력해 주세요." rows="8"></textarea>
                    </div>
                    <div class="col-md-12 text-right">
	                  <input type="hidden" name="clNum" th:value="${clNum}">
	                  <input type="hidden" name="boNum" th:value="${boNum}">
	                  <div th:if="${session.login != null}">
						<input type="hidden" name="mbId" th:value="${session.login.mbId}">
					  </div>
					  <button type="submit" class="btn btn-lg btn-color" id="submit-message">댓글 작성</button>
                    </div>
                  </div>
                </form>
              </div>

              <!-- Comments -->
              <div class="entry-comments mt-20">
                <h3 class="heading uppercase mb-40">답변 목록</h3>
                <ul class="comment-list">
                  <li>
                    <div class="comment-body" th:each="reply : ${replyView}">
                      <img th:src="${reply.mbProfile}" class="comment-avatar" alt="">
                      <div class="comment-content">
                        <p class="comment-info mb-20">
                          <span th:text="${reply.boNum}">홍길동</span>
                          <span class="comment-author" th:text="${reply.mbId}">홍길동</span>
                          <span th:text="${#dates.format(reply.writeDate, 'yyyy-MM-dd HH:mm:ss')}">2023-03-07 12:48</span>
                        </p>
                        <div class="mb-30" th:text="${reply.boContent}">
                          댓글 내용 위치입니다. 댓글 내용 위치입니다.
                        </div>
                        <div class="text-right">
                          <button id="report_1" class="btn btn-stroke">신고</button>
                          <button class="btn btn-color modifyReplyBtn">수정</button>
                          <button class="btn btn-dark delReplyBtn">삭제</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modal_1Title">
                                  댓글 신고
                                </h5>
                              </div>
                              <div class="modal-body">
                                <p>해당 댓글을 신고하시겠습니까?</p>
                                <div>
                                  <textarea name="" id="" class="mb-0" cols="30" rows="5"
                                    placeholder="신고 사유를 입력해 주세요."></textarea>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-color">참가</button>
                                <button type="button" id="close_1" class="btn btn-dark" data-bs-dismiss="modal">
                                  취소
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <!-- Pagination -->
              <div class="text-center">
                <nav class="pagination clear">
                  <a href="#"><i class="fa fa-angle-left"></i></a><span class="page-numbers current">
                    1</span><a href="#">
                    2</a><a href="#">
                    3</a><a href="#">
                    4</a><a href="#">
                    <i class="fa fa-angle-right"></i></a>
                </nav>
              </div>
            </article> <!-- end standard post -->
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end blog single -->
<script>
$('.delCommBtn').on('click', function() {
   var orgNum = $('input[name=orgNum]').val();
   var boNum = $('#boNum').val();
   console.log(orgNum, boNum);
                	  
   $.ajax({
     url: '/boot/eduCommDel/' + orgNum + '/' + boNum,
     type: 'GET',
     success: function(response) {
        alert('삭제 성공');
        window.location.href = '/boot/eduCommu/' + orgNum;
     },
     error: function(error) {
        alert('삭제 성공');
        window.location.href = '/boot/eduCommu/' + orgNum;
     }
   });
});
                
$(function () {
  $('#report').click(function () {
    $('#modal_2').modal('show');
  })
  $('#close').click(function () {
     $('#modal_2').modal('hide');
  })
});

$(document).on('click', '.delReplyBtn', function() {
	console.log('댓글 삭제');
	var boNum = $(this).parent().parent().children().first().children().first().text();
	var Inqthis = $(this);
	console.log(boNum);
	if ('${session.login.mbId}' != '') {
		$.ajax({
			url : '/boot/commReplyDel/' + boNum,
			method : 'get',
			success : function(result){
				alert('삭제');
				Inqthis.closest('.comment-body').remove();
			},
			error: function(error) {
			    alert('실패');
			}
		});
	} else {
		alert('로그인이 필요합니다.!');
		location.href = '/login';
	}
    // 삭제 버튼을 눌렀을 때 수행할 코드 작성

});

$(document).on('click', '.modifyReplyBtn', function() {
	  console.log('문의 수정')
	  let commentBody = $(this).closest('.comment-body');
	  let inqContents = commentBody.find('.mb-30').text().trim();
	  let inqNum = commentBody.find('.comment-content span:first-child').text().trim();
	  let formHtml = '<div class="form-group mb-30"><textarea class="form-control" rows="3" id="editInqContent">'+ inqContents +'</textarea></div>' +
	                 '<button class="btn btn-color editInqBtn" data-inqnum="'+ inqNum +'">수정완료</button>';
	  commentBody.find('.modifyInqBtn1').replaceWith(formHtml);
	  
	  $('.editInqBtn').on('click', function() {
		  inqNum = $(this).parent().parent().children().first().text();
		  let clNum = $('#clNum').text();
		  inqContent = $('#editInqContent').val();
		  inqthis = $(this);
		  $.ajax({
			  	type: 'POST',
			    url: '/boot/eduInqModify',
			    data: {
			      inqNum: inqNum,
			      clNum: clNum,
			      inqContent: inqContent
			    },
			    success: function(response) {
			    	$('.form-group.mb-30').remove();
			    	$('.form-control').remove();
			    	inqthis.parent().prev().text(inqContent);
			        formBtnHtml = '<button class="btn btn-color modifyInqBtn1">수정</button>';
			        $('.btn.btn-color.editInqBtn').replaceWith(formBtnHtml);
			    },
			    error: function(error) {
			        console.error(error);  
			    }
	  		});
	  });
});
</script>

</th:block>

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>

</html>