<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot/">홈</a>
        </li>
        <li>
          <a href="/boot/edu">강의</a>
        </li>
        <li class="active">
          강의 상세
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Single Product -->
    <section class="section-wrap single-product">
      <div class="container relative">
        <div class="row">
          <div class="col-sm-6 col-xs-12 mb-60">
            <div id="gallery-main">
              <div class="gallery-cell">
				  <div class="entry-video video-wrap">
				    <iframe width="600" height="388" id="child" th:src="@{https://v.kr.kollus.com/{clIntro}(clIntro=${eduInfo.clIntro})}" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
				  </div>
              </div>
            </div>
          </div> <!-- end col img slider -->

          <div class="col-sm-6 col-xs-12 product-description-wrap">
          	<p class="product-subtitle" th:text="${eduInfo.clNum}" id="clNum">강의번호</p>
            <p class="product-subtitle" th:text="${eduInfo.scaNum}">카테고리 자리입니다.</p>
            <h1 class="product-title mb-30" th:text="${eduInfo.clName}">강의명 자리입니다.</h1>
            
            <p class="star">
				<th:block th:each="num : ${#numbers.sequence(1,5)}">
					<i class="fa fa-star" aria-hidden="true" th:if="${num <= eduInfo.clGrade}"></i>
					<i class="fa fa-star-o" aria-hidden="true" th:if="${num > eduInfo.clGrade}"></i>
				</th:block>
            </p>
            <p th:text="${eduInfo.mbId}">강사명 자리입니다.</p>
            <div class="price mb-30">
              <ins>
                <span class="ammount" th:text="${eduInfo.clAmount} + 원">$1250.00</span>
              </ins>
              <small>
                <span>3% 적립</span>
              </small>
            </div>
            <ul class="product-actions clearfix">
              <li>
                <a href="#" class="btn btn-dark add-to-cart">즉시구매</a>
              </li>
              <li>
                <div class="icon-add-to-wishlist">
                  <a href="#"><i class="icon icon_heart_alt"></i></a>
                </div>
              </li>
              <li>
                <div class="icon-add-to-cart">
                  <a href="#"><i class="icon icon_cart"></i></a>
                </div>
              </li>
              <li>
                <div class="icon-add-to-report">
                  <a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
                </div>
              </li>
            </ul>
          </div> <!-- end col product description -->
        </div> <!-- end row -->


        <!-- tabs -->
        <div class="row">
          <div class="col-md-12">
            <div class="tabs tabs-bb">
              <ul class="nav nav-tabs">
                <li>
                  <a th:href="@{/eduInfo/{clNum}(clNum=${eduInfo.clNum})}">강의 소개</a>
                </li>
                <li class="active">
                  <a th:href="@{/eduPlan/{clNum}(clNum=${eduInfo.clNum})}">강의 계획서</a>
                </li>
                <li>
                  <a th:href="@{/eduReview/{clNum}(clNum=${eduInfo.clNum})}">수강 후기</a>
                </li>
                <li>
                  <a th:href="@{/eduCommu/{clNum}(clNum=${eduInfo.clNum})}">커뮤니티</a>
                </li>
              </ul> <!-- end tabs -->

              <!-- tab content -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-description">
                  <p>
                    초급자를 위해 준비한<br>
                    [백엔드, 웹 개발] 강의입니다.<br>
                    실무에 필요한 스프링 부트는 이 강의 하나로 모두 정리해드립니다.<br><br>
                    ✍️<br>
                    이런 걸 배워요!<br>
                    스프링 부트의 내부 동작 원리<br>
                    스프링 부트 라이브러리 만들기<br>
                    스프링 부트가 제공하는 핵심 기능 이해<br>
                    스프링 부트를 활용한 모니터링
                  </p>
				  <br>
				  <br>
				  
				  
	                  <div class="panel-group accordion mb-50" id="accordion">
	                    <div class="panel panel-default" th:each="eduCPCnt : ${eduClassPlan}">
	                      <div class="panel-heading">
	                        <a data-toggle="collapse" data-parent="#accordion" th:href="${'#collapseOne' + eduCPCnt.clpNum}" class="minus" th:text="${eduCPCnt.smallTitle}">
	                          섹션 0. 첫 번째 섹션의 제목을 입력해주세요.
	                          <span>&nbsp;</span>
	                        </a>
	                        <input type="hidden" name="mbId" th:value="${eduCPCnt.clpNum}">
	                      </div>
	                      <div th:id="collapseOne + ${eduCPCnt.clpNum}" class="panel-collapse collapse">
	                        <ul class="panel-body panel-none" th:each="eduCP : ${eduCPCnt.cpList}" >
	                          <li>
		                       <div th:if="${session.login != null}">
								    <a th:href="@{/eduVideoView/{clNum}/{clpNum}/{mbId}(clNum=${eduCP.clNum}, clpNum=${eduCP.clpNum}, mbId=${session.login.mbId})}">이동
		                            	<i class="fa fa-play-circle-o" aria-hidden="true" th:text="${eduCP.smallTitle}"></i>
			                            <input type="hidden" name="clpVideo" id="clpVideo" th:value="${eduCP.clNum}">
			                            <input type="hidden" name="clpVideo" id="clpVideo" th:value="${eduCP.clpVideo}">
			                            <p class="right"><span class="box-stroke">미리보기</span>00:00</p>
		                            </a>
		                        </div>
	                          </li>
	                        </ul>
	                      </div>
	                    </div>
	                  </div>
	                </div>
                 </div> <!--  end comments -->
              </div>
            </div>
          </div>
    	</section>
    	    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>이미 장바구니에 담겨져있는 도서입니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close1" class="btn btn-color">확인</button>
      				<button type="button" th:onclick="location.href='cart/test1'"
       						class="btn btn-dark" id="cart" data-bs-dismiss="modal">
         				장바구니 가기
       				</button>
    			</div>
             </div>
         </div>
     </div> 
     
    <div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>도서가 장바구니에 담겼습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close2" class="btn btn-color">계속쇼핑하기</button>
       				<button  type="button" th:onclick="location.href='cart/test1'" class="btn btn-dark" data-bs-dismiss="modal">
         				장바구니 가기
       				</button>
    			</div>
             </div>
         </div>
     </div> 

     <div class="modal fade" id="modal_3" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>로그인이 필요합니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close3" class="btn btn-color">계속쇼핑하기</button>
       				<button type="button" id="login" class="btn btn-dark" data-bs-dismiss="modal">로그인</button>
    			</div>
             </div>
         </div>
     </div>
<script type="text/javascript">
$('.btn.btn-dark.add-to-cart').on('click', function(){
	console.log('구매 클릭');
});

const form = {
		goods : [[${eduInfo.clNum}]],
		goodsCnt : 1,
		cartDef : 'c'
}

$(".icon-add-to-cart").on("click", function(e){
	console.log(form);
	$.ajax({
		url: '/boot/cart/add',
		type: 'POST',
		data: form,
		success: function(result){
			cartAlert(result);
		}, 
		error:  function(){
			console.log("에러발생");
		}
	});
	
	function cartAlert(result){
		if(result == '0'){
			alert("장바구니에 추가 하지 못하였습니다.");
		} else if(result == '1'){
			$('#modal_2').modal('show');
			$('#close2').click(function () {
                $('#modal_2').modal('hide');
            })
		} else if(result == '2'){
			$('#modal_4').modal('show');
			$('#close4').click(function () {
                $('#modal_4').modal('hide');
              })
		} else if(result == '5'){
			$('#modal_3').modal('show');
			$('#close3').click(function () {
                $('#modal_3').modal('hide');
              })
            $('#login').click(function () {
            	location.href="/boot/login";
            })  
		}
	}	
});
</script>    	
	</th:block>			  