<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot/">홈</a>
        </li>
        <li>
          <a href="/boot/edu">강의</a>
        </li>
        <li class="active">
          강의 상세
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Single Product -->
    <section class="section-wrap single-product">
      <div class="container relative">
        <div class="row">
          <div class="col-sm-6 col-xs-12 mb-60">
            <div id="gallery-main">
              <div class="gallery-cell">
				  <div class="entry-video video-wrap">
				    <iframe width="600" height="388" id="child" th:src="@{https://v.kr.kollus.com/{clIntro}(clIntro=${eduInfo.clIntro})}" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
				  </div>
              </div>
            </div>
          </div> <!-- end col img slider -->

          <div class="col-sm-6 col-xs-12 product-description-wrap">
          	<p class="product-subtitle" th:text="${eduInfo.clNum}" id="clNum">강의번호</p>
            <p class="product-subtitle" th:text="${eduInfo.scaNum}">카테고리 자리입니다.</p>
            <h1 class="product-title mb-30" th:text="${eduInfo.clName}">강의명 자리입니다.</h1>
            
            <p class="star">
				<th:block th:each="num : ${#numbers.sequence(1,5)}">
					<i class="fa fa-star" aria-hidden="true" th:if="${num <= eduInfo.clGrade}"></i>
					<i class="fa fa-star-o" aria-hidden="true" th:if="${num > eduInfo.clGrade}"></i>
				</th:block>
            </p>
            <p th:text="${eduInfo.mbId}">강사명 자리입니다.</p>
            <div class="price mb-30">
              <ins>
                <span class="ammount" th:text="${eduInfo.clAmount} + 원">$1250.00</span>
              </ins>
              <small>
                <span>3% 적립</span>
              </small>
            </div>
            <ul class="product-actions clearfix">
              <li>
                <a href="#" class="btn btn-dark add-to-cart">즉시구매</a>
              </li>
              <li>
                <div class="icon-add-to-wishlist">
                  <a href="#"><i class="icon icon_heart_alt"></i></a>
                </div>
              </li>
              <li>
                <div class="icon-add-to-cart">
                  <a href="#"><i class="icon icon_cart"></i></a>
                </div>
              </li>
              <li>
                <div class="icon-add-to-report">
                  <a href="#"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
                </div>
              </li>
            </ul>
          </div> <!-- end col product description -->
        </div> <!-- end row -->


        <!-- tabs -->
        <div class="row">
          <div class="col-md-12">
            <div class="tabs tabs-bb">
              <ul class="nav nav-tabs">
                <li>
                  <a th:href="@{/eduInfo/{clNum}(clNum=${eduInfo.clNum})}">강의 소개</a>
                </li>
                <li>
                  <a th:href="@{/eduPlan/{clNum}(clNum=${eduInfo.clNum})}">강의 계획서</a>
                </li>
                <li class="active">
                  <a th:href="@{/eduReview/{clNum}(clNum=${eduInfo.clNum})}">수강 후기</a>
                </li>
                <li>
                  <a th:href="@{/eduCommu/{clNum}(clNum=${eduInfo.clNum})}">커뮤니티</a>
                </li>
              </ul> <!-- end tabs -->

              <!-- tab content -->
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-description">
                  <p>
                    초급자를 위해 준비한<br>
                    [백엔드, 웹 개발] 강의입니다.<br>
                    실무에 필요한 스프링 부트는 이 강의 하나로 모두 정리해드립니다.<br><br>
                    ✍️<br>
                    이런 걸 배워요!<br>
                    스프링 부트의 내부 동작 원리<br>
                    스프링 부트 라이브러리 만들기<br>
                    스프링 부트가 제공하는 핵심 기능 이해<br>
                    스프링 부트를 활용한 모니터링
                  </p>
				  <br>
				  <br>
				  
                  <!-- Leave a Comment -->
                  <div class="comment-form mb-80">
                    <h3 class="heading uppercase mb-40">후기 작성</h3>
                    <form id="reviewform" method="post" th:action="@{/eduRevAdd}">
                      <div class="row">
                      	<div class="col-md-12">
                          <div class="star-rating">
                            <input type="radio" id="5-stars" name="reviewGrade" value="5" />
                            <label for="5-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="4-stars" name="reviewGrade" value="4" />
                            <label for="4-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="3-stars" name="reviewGrade" value="3" />
                            <label for="3-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="2-stars" name="reviewGrade" value="2" />
                            <label for="2-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="1-star" name="reviewGrade" value="1" />
                            <label for="1-star" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                          </div>
                          <p class="text-center mb-20">별점을 선택해 주세요.</p>
                        </div>
                        <div class="col-md-12">
                          <textarea name="reviewContent" id="reviewContent" placeholder="후기를 입력해 주세요." rows="8"></textarea>
                        </div>
                        <div th:if="${session.login != null}">
							<input type="hidden" name="mbId" th:value="${session.login.mbId}">
						</div>
						<input type="hidden" name="clNum" th:value="${eduInfo.clNum}">
                        <div class="col-md-12 text-right">
                          <input type="submit" class="btn btn-lg btn-color" value="등록하기" id="submit-message2">
                        </div>
                      </div>
                    </form>
                  </div>

                  
                  <!-- Comments -->
                  <div class="entry-comments mt-20">
                    <h3 class="heading uppercase mb-40">후기 목록</h3>
                    <ul class="comment-list">
                      <li>
                        <div class="comment-body" th:each="rev : ${edureview}">
                          <img th:src="${rev.mbProfile}" class="comment-avatar" alt="">
                          <div class="comment-content">
                          	<span class="revStar" th:text="${rev.reviewGrade}" >별점</span>
                          	<p class="star mb-20">
	                          	<th:block th:each="num : ${#numbers.sequence(1,5)}">
									<i class="fa fa-star" aria-hidden="true" th:if="${num <= rev.reviewGrade}"></i>
									<i class="fa fa-star-o" aria-hidden="true" th:if="${num > rev.reviewGrade}"></i>
								</th:block>
							</p>
                          	<span th:text="${rev.reviewNum}" >홍길동</span>
                            <span class="comment-author" th:text="${rev.mbId}">홍길동</span>
                            <span th:text="${#dates.format(rev.reviewTime, 'yyyy-MM-dd HH:mm:ss')}">2023-03-07 12:48</span>
                            <div class="mb-30" th:text="${rev.reviewContent}">
                              후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다.
                              후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다.
                              후기 내용 위치입니다. 후기 내용 위치입니다.
                            </div>
							<div class="text-right">
							  <div th:if="${session.login != null and rev.mbId == session.login.mbId}">
							    <button class="btn btn-color modifyInqBtn1">수정</button>
							    <button class="btn btn-dark delInqBtn1">삭제</button>
							  </div>
							  <div th:unless="${session.login != null and rev.mbId == session.login.mbId}">
							    <button class="btn btn-stroke">신고</button>
							  </div>
							</div>
                          </div>
                        </div>
                      </div>
                        <ul class="comment-reply">
                          <li>
                            <div class="comment-body">
                              <img src="https://via.placeholder.com/100" class="comment-avatar" alt="">
                              <div class="comment-content">
                                <span class="comment-author">홍길동</span>
                                <span><a href="#">2023-03-07 12:48</a></span>
                                <div class="mb-30">
                                  후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용
                                  위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다.
                                  후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다.
                                </div>
                                <div class="text-right">
                                  <button class="btn btn-stroke">신고</button>
                                  <button class="btn btn-color">수정</button>
                                  <button class="btn btn-dark">삭제</button>
                                </div>
                              </div>
                            </div>
                          </li> <!-- end reply comment -->
                        </ul>
                      </li> <!-- end 1-2 comment -->
                    </ul>
                  </div>
					<div class="pagination-wrap" th:object="${pageMaker}">
					    <nav class="pagination text-center">
					        <a th:if="*{prev}" th:href="@{${'/eduReview/'+clNum}(pageNum=${startPage - 1})}">
					            <i class="fa-solid fa-angles-left"></i>
					        </a>
					        <a th:if="*{criteria.pageNum > 1}" th:href="@{${'/eduReview/'+clNum}(pageNum=${criteria.pageNum - 1})}">
					            <i class="fa fa-angle-left"></i>
					        </a>
					        <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
					            <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
					                <a class="page-numbers current" th:href="@{${'/eduReview/'+clNum}(pageNum=${num})}" th:text="${num}"></a>
					            </th:block>
					            <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
					                <a th:href="@{${'/eduReview/'+clNum}(pageNum=${num})}" th:text="${num}"></a>
					            </th:block>
					        </th:block>
					        <a th:if="*{criteria.pageNum < realEnd}" th:href="@{${'/eduReview/'+clNum}(pageNum=${criteria.pageNum + 1})}">
					            <i class="fa fa-angle-right"></i>
					        </a>
					        <a th:if="*{next}" th:href="@{${'/eduReview/'+clNum}(pageNum=${endPage+1})}">
					            <i class="fa-solid fa-angles-right"></i>
					        </a>
					    </nav>
					</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
             
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>이미 장바구니에 담겨져있는 도서입니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close1" class="btn btn-color">확인</button>
      				<button type="button" th:onclick="location.href='cart/test1'"
       						class="btn btn-dark" id="cart" data-bs-dismiss="modal">
         				장바구니 가기
       				</button>
    			</div>
             </div>
         </div>
     </div> 
     
    <div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>도서가 장바구니에 담겼습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close2" class="btn btn-color">계속쇼핑하기</button>
       				<button  type="button" th:onclick="location.href='cart/test1'" class="btn btn-dark" data-bs-dismiss="modal">
         				장바구니 가기
       				</button>
    			</div>
             </div>
         </div>
     </div> 

     <div class="modal fade" id="modal_3" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>로그인이 필요합니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close3" class="btn btn-color">계속쇼핑하기</button>
       				<button type="button" id="login" class="btn btn-dark" data-bs-dismiss="modal">로그인</button>
    			</div>
             </div>
         </div>
     </div>
<script type="text/javascript">
$(document).on('click', '.delRevBtn2', function() {
	console.log('후기 삭제')
	var Revthis = $(this);
 	var revNum = $(this).parent().prev().prev().prev().prev().text();
	var clNum = $('#clNum').text();
	console.log(revNum);
	console.log(clNum);
	$.ajax({
		url : '/boot/eduRevDel/' + revNum,
		method : 'get',
		success : function(result){
			alert('삭제');
			Revthis.closest('.comment-body').remove();
		},
		error: function(error) {
		    alert('실패');
		}
	});
 });
 
$(document).on('click', '.modifyRevBtn', function() {
	  console.log('후기 수정')
	  let commentBody = $(this).closest('.comment-body');
	  let revContents = commentBody.find('.mb-30').text().trim();
	  let revNum = $(this).closest(".comment-content").find("span:nth-child(0)").text();
	  let formHtml = '<div class="form-group mb-30">' + 
	  					'<div class="star-rating">' +
                            '<input type="radio" id="5-stars1" name="reviewGrade1" value="5" />' +
                            '<label for="5-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="4-stars1" name="reviewGrade1" value="4" />' +
                            '<label for="4-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="3-stars1" name="reviewGrade1" value="3" />' +
                            '<label for="3-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="2-stars1" name="reviewGrade1" value="2" />' +
                            '<label for="2-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="1-star1" name="reviewGrade1" value="1" />' +
                            '<label for="1-star1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                         '</div>' +
	  				'<textarea class="form-control" rows="3" id="editRevContent">'+ revContents +'</textarea></div>' +
	                 '<button class="btn btn-color editRevBtn" data-inqnum="'+ revNum +'">수정완료</button>';
	  
	  commentBody.find('.modifyRevBtn').replaceWith(formHtml);

	  
	  $('.editRevBtn').on('click', function() {
		  reviewNum = $(this).parent().parent().children().eq(2).text();
		  let clNum = $('#clNum').text();
		  reviewContent = $('#editRevContent').val();
		  revthis = $(this);
		  $.ajax({
			  	type: 'POST',
			    url: '/boot/eduRevModify',
			    data: {
			      reviewNum: reviewNum,
			      clNum: clNum,
			      reviewContent: reviewContent,
			      reviewGrade: $("input[name='reviewGrade1']:checked").val()
			    },
			    success: function(response) {
			    	$('.comment-body').find('.revStar').remove();
			    	$('.form-group.mb-30').remove();
			    	revthis.parent().prev().text(reviewContent);
			        formBtnHtml = '<button class="btn btn-color modifyRevBtn">수정</button>';
			        $('.revStar').replaceWith(formBtnHtml);
			        $('.btn.btn-color.editRevBtn').replaceWith(formBtnHtml);
			    },
			    error: function(error) {
			        console.error(error);  
			    }
	  		});
	  });
});

  
$('.btn.btn-dark.add-to-cart').on('click', function(){
	console.log('구매 클릭');
});


const form = {
		goods : [[${eduInfo.clNum}]],
		goodsCnt : 1,
		cartDef : 'c'
}

$(".icon-add-to-cart").on("click", function(e){
	console.log(form);
	$.ajax({
		url: '/boot/cart/add',
		type: 'POST',
		data: form,
		success: function(result){
			cartAlert(result);
		}, 
		error:  function(){
			console.log("에러발생");
		}
	});
	
    function cartAlert(result) {
        if (result == '0') {
          alert("장바구니에 추가 하지 못하였습니다.");
        } else if (result == '1') {
          $('#modal_2').modal('show');
          $('#close2').click(function () {
            $('#modal_2').modal('hide');
          })
        } else if (result == '2') {
          $('#modal_1').modal('show');
          $('#close1').click(function () {
            $('#modal_1').modal('hide');
          })
        } else if (result == '5') {
          $('#modal_3').modal('show');
          $('#close3').click(function () {
            $('#modal_3').modal('hide');
          })
          $('#login').click(function () {
            location.href = "/boot/login";
          })
        }
      }
});
</script>
</th:block>

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>

</html>