<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<th:block layout:fragment="content">

<div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/bookList">도서</a>
        </li>
        <li class="active">
          도서 상세
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Single Product -->
    <section class="section-wrap single-product">
      <div class="container relative">
        <div class="row">
          <div class="col-sm-6 col-xs-12 mb-60">
            <div id="gallery-main">
              <div class="gallery-cell">
                <img th:src="@{'/img/' + ${book.attachNum}}" alt="" />
              </div>
            </div>
          </div> <!-- end col img slider -->
		  <form id="orderForm" method="get" th:action="@{/bookOrder}">
		  
          <div class="col-sm-6 col-xs-12 product-description-wrap">
            <span class="product-subtitle mt-20" id="bcaNum" th:text="${book.bcaNum}"> 카테고리 자리입니다.</span>
            <span class="product-subtitle mt-20" th:text=" '> ' + ${book.scaNum}"> 카테고리 자리입니다.</span>
            <script>
	            if($('#bcaNum').text() == '1' ) {
	            	$('#bcaNum').text('기사')
			    } else if ($('#bcaNum').text() == '2') {
			    	$('#bcaNum').text('산업기사')
			    } else {
			    	$('#bcaNum').text('기능사')
			    }
            </script>
            <h1 class="product-title mb-30" th:text="${book.bookTitle}">도서명 자리입니다.</h1>
            <div class="product-star">
              <span class="star">
			  	<th:block th:each="num : ${#numbers.sequence(1,5)}">
				<i class="fa fa-star" aria-hidden="true" th:if="${num <= book.bookRating}"></i>
				<i class="fa fa-star-o" aria-hidden="true" th:if="${num > book.bookRating}"></i>
				</th:block>
              </span>
             
            </div>
            <p class="mb-30" th:text="${book.bookWriter}">저자명 자리입니다.</p>
            
            <div class="quantity buttons_added" style="float: none;">
              <input type="button" value="-" class="minus" />
              <input type="number" step="1" min="0" value="1" title="Qty" class="input-text qty text" id="count" />
              <input type="button" value="+" class="plus">
            </div>

            <div class="price mb-30">
              <ins>
                <span class="ammount" th:text="${book.bookPrice} + '원'" >$1250.00</span>
              </ins>
              <small>
                <span>3% 적립</span>
              </small>
              <p><i class="fa fa-truck" aria-hidden="true"></i> 2500원</p>
            </div>

            <ul class="product-actions clearfix">
              <li>
                <button type="submit" class="btn btn-dark add-to-cart" id="buyNow">즉시구매</button>
                	<input type="hidden" name="goodsNum" th:value="${book.bookNum}" id="bookNum">
                	<input type="hidden" name="goodsCount" class="gC">
                	<input type="hidden" name="goodsDef" value="b">
              </li>
              <li>
                <div class="icon-add-to-wishlist">
                  <a href="#"><i class="icon icon_heart_alt" id="wish"></i></a>
                </div>
              </li>
              <li>
                <div class="icon-add-to-cart" id="addCart">
                  <a href="#"><i class="icon icon_cart"></i></a>
                </div>
              </li>
            </ul>
            <script th:inline="javascript">
            if ([[${book.bookStock}]] == 0) {
            	$('#count').val(0);
            	$('#addCart').hide();
            	$('#buyNow').text("품절");
            	$("#buyNow").attr("type", "button");
            }
            </script>
          </div> <!-- end col product description -->
          </form>
        </div> <!-- end row -->

        <!-- tabs -->
        <div class="row">
          <div class="col-md-12">
            <div class="tab-pane fade in active" id="tab-description">
              <p th:text="${book.bookIntro}">
                초급자를 위해 준비한</br>
                [백엔드, 웹 개발] 도서입니다.</br>
                실무에 필요한 스프링 부트는 이 도서 하나로 모두 정리해드립니다.</br></br>
                ✍️</br>
                이런 걸 배워요!</br>
                스프링 부트의 내부 동작 원리</br>
                스프링 부트 라이브러리 만들기</br>
                스프링 부트가 제공하는 핵심 기능 이해</br>
                스프링 부트를 활용한 모니터링
              </p>

              <!-- Leave a Comment -->
                  <div class="comment-form mb-80">
                    <h3 class="heading uppercase mb-40">후기 작성</h3>
                    <form id="reviewform2" method="post" th:action="@{/bookRevAdd}">
                      <div class="row">
                      	<div class="col-md-12">
                          <div class="star-rating">
                            <input type="radio" id="5-stars" name="reviewGrade" value="5" />
                            <label for="5-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="4-stars" name="reviewGrade" value="4" />
                            <label for="4-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="3-stars" name="reviewGrade" value="3" />
                            <label for="3-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="2-stars" name="reviewGrade" value="2" />
                            <label for="2-stars" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                            <input type="radio" id="1-star" name="reviewGrade" value="1" />
                            <label for="1-star" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>
                          </div>
                          <p class="text-center mb-20">별점을 선택해 주세요.</p>
                        </div>
                        <div class="col-md-12">
                          <textarea name="reviewContent" id="reviewContent" placeholder="후기를 입력해 주세요." rows="8"></textarea>
                        </div>
                        <div th:if="${session.login != null}">
							<input type="hidden" name="mbId" th:value="${session.login.mbId}">
						</div>
						<input type="hidden" name="bookNum" th:value="${book.bookNum}">
                        <div class="col-md-12 text-right">
                          <button type="submit" class="btn btn-lg btn-color">등록하기</button>
                        </div>
                      </div>
                    </form>
                  </div>

              <!-- Comments -->
              <div class="entry-comments mt-20">
                <h3 class="heading uppercase mb-40">후기 목록</h3>
                <ul class="comment-list">
                  <li>
                    <div class="comment-body" th:each= "rev : ${bookReviw}">
                      <img th:src="${rev.mbProfile}" class="comment-avatar" alt="">
                      <div class="comment-content">
                        <p class="comment-info">
                          	
                          <span class="comment-author" th:text="${rev.mbId}">홍길동</span>
                          <input type="hidden" th:value="${rev.reviewNum}" id="revNum">
                          <span th:text="${#dates.format(rev.reviewTime, 'yyyy-MM-dd hh:mm:ss')}">2023-03-07 12:48</span>
                        </p>    
                        <p class="star mb-20" >
						  	<th:block th:each="num : ${#numbers.sequence(1,5)}">
							<i class="fa fa-star" aria-hidden="true" th:if="${num <= rev.reviewGrade}"></i>
							<i class="fa fa-star-o" aria-hidden="true" th:if="${num > rev.reviewGrade}"></i>
							</th:block>
                        </p>
                        <div class="mb-30" th:text="${rev.reviewContent}">
                          후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다.
                          후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다. 후기 내용 위치입니다.
                          후기 내용 위치입니다. 후기 내용 위치입니다.
                        </div>
                        <div class="text-right">
                          <button class="btn btn-stroke report" id="report">신고</button>
                          <button class="btn btn-color modRevBtn">수정</button>
                          <button class="btn btn-dark delRevBtn">삭제</button>
                        </div>
                      </div>
                      <script th:inline="javascript">
	                       $('.report').click(function () {
								$('#reportModal').modal('show');
							})
							$('#closeReportM').click(function () {
								$('#reportModal').modal('hide');
							})
                      </script>
                    </div>
                  </li> <!-- end 1-2 comment -->
                </ul>
              </div>
          <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/bookInfo/${bookList.bookNum}?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/bookInfo/${bookList.bookNum}?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/bookInfo/${bookList.bookNum}?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/bookInfo/${bookList.bookNum}?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/bookInfo/${bookList.bookNum}?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/bookList?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

                <form action="/book/list" th:object="${criteria}" name="pageForm">
                  <input type="hidden" name="pageNum" th:field="*{pageNum}">
                  <input type="hidden" name="amount" th:field="*{amount}">
                </form>
              </nav>
          </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  <!-- Modal -->
      <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>재고가 부족합니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close1" class="btn btn-color">확인</button>
    			</div>
             </div>
         </div>
     </div> 
     
    <div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>도서가 장바구니에 담겼습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close2" class="btn btn-color">계속쇼핑하기</button>
      				<div th:if="${session.login != null}">
	       				<button type="button" th:onclick="|location.href='@{/cart/{mbId}(mbId=${session.login.mbId})}'|"
	       						class="btn btn-dark" id="cart" data-bs-dismiss="modal">
	         				장바구니 가기
	       				</button>
       				</div>
    			</div>
             </div>
         </div>
     </div>
     
     <div class="modal fade" id="modal_3" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>로그인이 필요합니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close3" class="btn btn-color">계속쇼핑하기</button>
       				<button type="button" id="login" class="btn btn-dark" data-bs-dismiss="modal">
         				로그인
       				</button>
    			</div>
             </div>
         </div>
     </div> 
     
     <div class="modal fade" id="modal_4" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>이미 장바구니에 담겨져있는 도서입니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close4" class="btn btn-color">확인</button>
      				<div th:if="${session.login != null}">
	      				<button type="button" th:onclick="|location.href='@{/cart/{mbId}(mbId=${session.login.mbId})}'|"
	       						class="btn btn-dark" id="cart" data-bs-dismiss="modal">
	         				장바구니 가기
	       				</button>
       				</div>
    			</div>
             </div>
         </div>
     </div>
     
         <div class="modal fade" id="modal_5" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>도서가 찜목록에 담겼습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close5" class="btn btn-color">계속쇼핑하기</button>
      				<div th:if="${session.login != null}">
	       				<button type="button" th:onclick="|location.href='@{/wishBook/{mbId}(mbId=${session.login.mbId})}'|"
	       						class="btn btn-dark" id="cart" data-bs-dismiss="modal">
	         				찜목록 가기
	       				</button>
       				</div>
    			</div>
             </div>
         </div>
     </div> 
     
      <div class="modal fade" id="modal_6" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>찜이 취소되었습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close6" class="btn btn-color">확인</button>

    			</div>
             </div>
         </div>
     </div>
     
     <div class="modal fade" id="delModal" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>정말로 삭제하시겠습니까?</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" class="btn btn-color" id="ok">삭제</button>
				<button type="button" id="delClose" class="btn btn-dark"
					data-bs-dismiss="modal">취소</button>
    			</div>
             </div>
         </div>
     </div>
	<div class="modal fade" id="reportModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal_2Title">후기 신고</h5>
				</div>
				<div class="modal-body">
					<p>해당 후기를 신고하시겠습니까?</p>
					<div>
						<textarea name="" id="" class="mb-0" cols="30" rows="5"
							placeholder="신고 사유를 입력해 주세요."></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-color">신고</button>
					<button type="button" id="closeReortM" class="btn btn-dark" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>   
    
<script th:inline="javascript">



// 수량
let count = $("#count").val();
$(".gC").val(count);

$(".plus").on("click", function(){
	if(count >=  [[${book.bookStock}]]) {
		$('#modal_1').modal('show');
		$('#close1').click(function () {
            $('#modal_1').modal('hide');
          })
	} else {
		$("#count").val(++count);
		$(".gC").val(count);
	}
});

$(".minus").on("click", function(){
	if(count > 1){
		$("#count").val(--count);	
		$(".gC").val(count);
	}
});


    

//서버로 전송할 데이터
const form = {
		goods : [[${book.bookNum}]],
		goodsCnt : '',
		cartDef : 'b'
		
}


//장바구니 추가 
	$(".icon-add-to-cart").on("click", function(e){
		form.goodsCnt = $("#count").val();
		console.log(form);
		$.ajax({
			url: '/boot/cart/add',
			type: 'POST',
			data: form,
			success: function(result){
				cartAlert(result);
			}, 
			error:  function(){
				console.log("에러발생");
			}
		})
	});
	
	

	function cartAlert(result){
		if(result == '0'){
			alert("장바구니에 추가 하지 못하였습니다.");
		} else if(result == '1'){
			$('#modal_2').modal('show');
			$('#close2').click(function () {
                $('#modal_2').modal('hide');
            })
		} else if(result == '2'){
			$('#modal_4').modal('show');
			$('#close4').click(function () {
                $('#modal_4').modal('hide');
              })
		} else if(result == '5'){
			$('#modal_3').modal('show');
			$('#close3').click(function () {
                $('#modal_3').modal('hide');
              })
            $('#login').click(function () {
            	location.href="/boot/login";
            })  
		}
	}	
	
	
	// 찜 추가/해제
	$(".icon-add-to-wishlist").on("click", function(e){
		//console.log(wishForm)
		
		$.ajax({
			url: '/boot/wishBook/add',
			type: 'POST',
			data: {'goodsNum' : [[${book.bookNum}]]},
			success: function(result){
				wishAlert(result);
				
			}, 
			error:  function(){
				console.log("에러발생");
			}
		})
	});
	


	function wishAlert(result){
		if(result == '0'){
		   console.log('오류');
		} else if(result == '1'){
			$('#modal_5').modal('show');
			$('#close5').click(function () {
                $('#modal_5').modal('hide');
            })
            $("#wish").attr('class', 'icon icon_heart');
		} else if(result == '2'){
			$('#modal_6').modal('show');
			$('#close6').click(function () {
                $('#modal_6').modal('hide');
            })
            $("#wish").attr('class', 'icon icon_heart_alt');
		} else if(result == '3'){
			$('#modal_3').modal('show');
			$('#close3').click(function () {
                $('#modal_3').modal('hide');
              })
            $('#login').click(function () {
            	location.href="/boot/login";
            })  
		}
	}	

	// 후기 삭제
	$(document).on('click', '.delRevBtn', function() {
		$('#delModal').modal('show');
  		$('#ok').click(function(){
			var Revthis = $(this);
		 	var revNum = $('#revNum').val();
			var bookNum = $('#bookNum').text();
			$.ajax({
				url : '/boot/bookRevDel/' + revNum,
				method : 'get',
				success : function(result){
					$('#delModal').modal('hide');
					Revthis.closest('.comment-body').remove();
				},
				error: function(error) {
				    alert('실패');
				}
			});
		  });	
  		$('#delClose').click(function () {
            $('#delModal').modal('hide');
          })
	 });
	
	// 후기 수정
	$(document).on('click', '.modRevBtn', function() {
	  let commentBody = $(this).closest('.comment-body');
	  let revContents = commentBody.find('.mb-30').text().trim();
	  let revNum = $(this).closest(".comment-content").find("span:nth-child(0)").text();
	  let formHtml = '<div class="form-group mb-30">' + 
	  					'<div class="star-rating">' +
                            '<input type="radio" id="5-stars1" name="reviewGrade1" value="5" />' +
                            '<label for="5-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="4-stars1" name="reviewGrade1" value="4" />' +
                            '<label for="4-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="3-stars1" name="reviewGrade1" value="3" />' +
                            '<label for="3-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="2-stars1" name="reviewGrade1" value="2" />' +
                            '<label for="2-stars1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                            '<input type="radio" id="1-star1" name="reviewGrade1" value="1" />' +
                            '<label for="1-star1" class="star"><i class="fa fa-star" aria-hidden="true"></i></label>' +
                         '</div>' +
	  				'<textarea class="form-control" rows="3" id="editRevContent">'+ revContents +'</textarea></div>' +
	                 '<button class="btn btn-color editRevBtn" data-inqnum="'+ revNum +'">수정완료</button>';
	  
	  commentBody.find('.modRevBtn').replaceWith(formHtml);

	  
	  $('.editRevBtn').on('click', function() {
		  var reviewNum = $('#revNum').val();
		  var bookNum = $('#bookNum').text();
		  var reviewContent = $('#editRevContent').val();
		  var revthis = $(this);
		  var reviewGrade = $("input[name='reviewGrade1']:checked").val();
		  $.ajax({
			  	type: 'POST',
			    url: '/boot/bookRevModify',
			    data: {
			      reviewNum: reviewNum,
			      bookNum: bookNum,
			      reviewContent: reviewContent,
			      reviewGrade: reviewGrade
			     
			    },
			    success: function(response) {
			    	$('.comment-body').find('.revStar').remove();
			    	$('.form-group.mb-30').remove();
			    	revthis.parent().prev().text(reviewContent);
			        formBtnHtml = '<button class="btn btn-color modifyRevBtn">수정</button>';
			        $('.revStar').replaceWith(formBtnHtml);
			        $('.btn.btn-color.editRevBtn').replaceWith(formBtnHtml);
			    },
			    error: function(error) {
			        console.error(error);  
			    }
	  		});
	  });
});

</script>
</th:block>
</html>