<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layoutCate}">
  <th:block
    layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li class="active">
          도서
        </li>
      </ol>
      <!-- end breadcrumb -->
    </div>
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">도서 목록</h3>
              
              <!-- Search -->
              <div class="nav-search right">
                <form method="get" action="/boot/searchBook">
                  <input type="search" class="form-control" name="keyword" placeholder="도서명 또는 저자명을 입력해 주세요.">
                  <button type="submit" class="search-button">
                    <i class="icon icon_search"></i>
                  </button>
                </form>
              </div>
            </div>
            <div class="col-md-12">
              <div class="shop-catalogue grid-view left">
                <div class="row row-10 items-grid">
                  <div class="col-md-4 col-xs-6" th:each="list : ${bookList}">
                    <div class="product-item">
                      <div class="product-img">
                        <a th:href="@{/bookInfo/}+${list.bookNum}">
                           <img th:src="@{'/img/' + ${list.attachNum}}" alt="">
                        </a>
                        <div class="product-actions">
                          <a href="#" class="product-add-to-wishlist" id="addWish" data-toggle="tooltip" data-placement="bottom" title="찜">
                            <i class="fa fa-heart-o"></i>
                            <input type="hidden" id="goodsNum" name="gn" th:value="${list.bookNum}">
                          </a>
                          <a style="cursor:pointer" class="product-add-to-cart" data-toggle="tooltip" data-placement="bottom" title="카트">
                            <input type="hidden" id="bookNum" name="bn" th:value="${list.bookNum}">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                        </div>
                        <div class="product-quickview">상세보기</div>
                      </div>
                      <div class="product-details">
                        <h2>
                          <a class="product-title" th:href="@{/bookInfo/}+${list.bookNum}" th:text="${list.bookTitle}">도서명 자리입니다.</a>
                        </h2>
                        <h3>
                          <a class="product-title"  th:text="${list.bookWriter}">저자명 자리입니다.</a>
                        </h3>
                        <p class="star">
                          <th:block th:each="num : ${#numbers.sequence(1,5)}">
                            <i class="fa fa-star" aria-hidden="true" th:if="${num <= list.bookRating}"></i>
                            <i class="fa fa-star-o" aria-hidden="true" th:if="${num > list.bookRating}"></i>
                          </th:block>
                        </p>
                        <span class="price">
                          <ins>
                            <span class="ammount" th:text="${list.bookPrice} + '원'">$159.99</span>
                          </ins>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end row -->
              </div>
            </div>
            <!-- end grid mode -->
            <div class="clear"></div>
            
          <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/bookList?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/bookList?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/bookList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/bookList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/bookList?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/bookList?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

                <form action="/book/list" th:object="${criteria}" name="pageForm">
                  <input type="hidden" name="pageNum" th:field="*{pageNum}">
                  <input type="hidden" name="amount" th:field="*{amount}">
                </form>
              </nav>
          </div>
          </div>
          <!-- end col -->
          <!-- Modal -->
          <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p>이미 장바구니에 담겨져있는 도서입니다.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close1" class="btn btn-color">확인</button>
                  <div th:if="${session.login != null}">
                  <button type="button" th:onclick="|location.href='@{/cart/{mbId}(mbId=${session.login.mbId})}'|" class="btn btn-dark" id="cart" data-bs-dismiss="modal">
                    장바구니 가기
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modal_2" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p>도서가 장바구니에 담겼습니다.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close2" class="btn btn-color">계속쇼핑하기</button>
                  <div th:if="${session.login != null}">
                	  <button type="button" th:onclick="|location.href='@{/cart/{mbId}(mbId=${session.login.mbId})}'|" class="btn btn-dark" data-bs-dismiss="modal">
	                    장바구니 가기
	                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="modal_3" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p>로그인이 필요합니다.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close3" class="btn btn-color">계속쇼핑하기</button>
                  <button type="button" id="login" class="btn btn-dark" data-bs-dismiss="modal">
                    로그인
                  </button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="modal fade" id="modal_5" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>도서가 찜목록에 담겼습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close5" class="btn btn-color">계속쇼핑하기</button>
      				<div th:if="${session.login != null}">
	       				<button type="button" th:onclick="|location.href='@{/wishBook/{mbId}(mbId=${session.login.mbId})}'|"
	       						class="btn btn-dark" id="cart" data-bs-dismiss="modal">
	         				찜목록 가기
	       				</button>
       				</div>
    			</div>
             </div>
         </div>
     </div> 
     
      <div class="modal fade" id="modal_6" tabindex="-1" aria-hidden="true">
    	<div class="modal-dialog modal-dialog-centered" role="document">
    		<div class="modal-content">
   				<div class="modal-body">
      				<p>찜이 취소되었습니다.</p>
				</div>
    			<div class="modal-footer">
      				<button type="button" id="close6" class="btn btn-color">확인</button>

    			</div>
             </div>
         </div>
     </div>
          
          <script th:inline="javascript">
          
          // 카테고리 검색
			$(document).ready(function () {
			  $(".panel-content li").on("click", function (event) {
			    event.preventDefault();
			    var bigkeyword = $(this).parent().prev().first().text();
			    var keyword = $(this).text();
			    window.location.href = "bookCate?bigkeyword=" + bigkeyword + "&keyword=" + keyword;
			  })
			})
            
			// 찜 추가/해제
			 $(".product-add-to-wishlist").on("click", function (e) {
				 console.log('클릭')
              var goodsNum = $(this).find('input').val();
              var heart = $(this).find('i')
	      		$.ajax({
	    			url: '/boot/wishBook/add',
	    			type: 'POST',
	    			data: { goodsNum : goodsNum },
	    			success: function(result){
	    				if (result == '1') {
		    				heart.attr('class', 'fa fa-heart');
		    				$('#modal_5').modal('show');
		    				$('#close5').click(function () {
		    	                $('#modal_5').modal('hide');
	    	            });
	    				} else if (result == '2') {
	    					heart.attr('class', 'fa fa-heart-o');
	    					$('#modal_6').modal('show');
	    					$('#close6').click(function () {
	    		                $('#modal_6').modal('hide');
	    		            });
	    				} else if (result == '3') {
	    					$('#modal_3').modal('show');
	    					$('#close3').click(function () {
	    		                $('#modal_3').modal('hide');
	    		              })
	    		            $('#login').click(function () {
	    		            	location.href="/boot/login";
	    		            })  
	    				}
	    			}, 
	    			error:  function(){
	    				console.log("에러발생");
	    			}
	    		})

			 })
			 
			 
			 
            // 장바구니 추가
            const form = {
              goods: '',
              goodsCnt: 1,
              cartDef: 'b'
            }
            $(".product-add-to-cart").on("click", function (e) {
              form.goods = $(this).find('input').val();
              console.log(form)
              $.ajax({
                url: '/boot/cart/add',
                type: 'POST',
                dataType: "json",
                data: form,
                success: function (result) {
                  console.log(result)
                  cartAlert(result);
                },
                error: function () {
                  console.log("에러발생");
                }
              })
            });
          
            function cartAlert(result) {
              if (result == '0') {
                alert("장바구니에 추가 하지 못하였습니다.");
              } else if (result == '1') {
                $('#modal_2').modal('show');
                $('#close2').click(function () {
                  $('#modal_2').modal('hide');
                })
              } else if (result == '2') {
                $('#modal_1').modal('show');
                $('#close1').click(function () {
                  $('#modal_1').modal('hide');
                })
              } else if (result == '5') {
                $('#modal_3').modal('show');
                $('#close3').click(function () {
                  $('#modal_3').modal('hide');
                })
                $('#login').click(function () {
                  location.href = "/boot/login";
                })
              }
            }
            
             
          </script>
        </th:block>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
      </html>