<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="~{/layouts/layoutStudent}">
  <th:block
    layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/mypage/mypageDashboard">마이페이지</a>
        </li>
        <li class="active">
          내 마일리지
        </li>
      </ol>
      <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">내 마일리지</h3>
              <div class="right">
 			  	  <div th:if="${mileageList.size != 0}">
	              	 <p class="entry-stroke" th:text="'내마일리지 : ' + ${mileageList[0].mbMileage} + '원'">내 마일리지 : 0원</p>
	              </div>
	              <div th:unless="${mileageList.size != 0}">  
	              	 <p class="entry-stroke">내 마일리지 : 0원</p>
	              </div>
              </div>
            </div>

            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 150px;">

                  <col style="width: 150px;">
                  <col style="width: 150px;">
                  <col style="width: 150px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>변동 날짜</th>
                    <th>변동 내용</th>
                    
                    <th>변동 마일리지</th>
                    <th>전체 마일리지</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each ="mileage : ${mileageList}">
                    <td th:text="${#dates.format(mileage.mileageDate, 'yyyy-MM-dd')}">2023-03-07</td>
                    <td th:text="${mileage.mileageDtl}">추천인 입력</td>
                    
                    <td th:text="${mileage.mileageChg} + '원'" class="chg">3000
                    <input type="hidden" class="cc" th:value="${mileage.mileageChg}">
                    </td>
                    <td th:text="${mileage.mileageSum} +'원'">3000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> <!-- end col -->
		<script th:inline="javascript">

		</script>

</th:block>
</html>