<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutStudent}">

<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./mypageDashboard.html">마이페이지</a>
        </li>
        <li class="active">
          대시보드
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">대시보드</h3>
            </div>

            <div class="col-md-12">
              <div class="col-md-6 mb-50">
                <h5>최근 학습 강의</h5>
                <div class="text-center mb-20" th:if="${myClass} != null">>
                  <a th:href="@{/eduInfo/}+${myClass.clNum}">
                      <img th:src="@{'/img/' + ${myClass.clThumbnail}}" alt="product thumbnail">
                  </a>
                </div>
                <div class="text-right" th:if="${myClass} != null">>
                  <a th:href="@{/eduInfo/}+${myClass.clNum}" class="btn btn-sm btn-color">강의 시청</a>
                </div>
                <div class="text-center" th:if="${myClass} == null">
                최근 학습 강의가 없습니다.
                </div>
              </div>
              <div class="col-md-6 mb-50">
                <h5>학습 수료한 강의</h5>
                <div class="text-center mb-20">
                  <a href="#">
                    <img src="https://via.placeholder.com/600x450" alt="강의 영상 자리">
                  </a>
                </div>
                <div class="text-right">
                  <a href="#" class="btn btn-sm btn-color">강의 시청</a>
                </div>
              </div>
            </div>
          </div> <!-- end col -->
</th:block>

</html>