<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutStudent}">

<th:block layout:fragment="content">

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/mypage/mypageDashboard">마이페이지</a>
        </li>
        <li>
          <a href="./mypageMyOrdersList.html">내 주문 목록</a>
        </li>
        <li class="active">
          내 주문 목록 상세
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">주문 상세 조회</h3>
            </div>

            <div class="col-md-12">
              <div class="mb-30">
                <h5 th:text="'주문번호 ' + ${order.orderNum}">주문번호 0000-00000</h5>
                <p th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')} ">2023-03-10 | 주문자명</p>
              </div>

              <div class="order-box" id="rcdFrm">
                <h5 class="subject-h5">
                  배송지 정보
                  <div class="right">
                  <button type="button" class="btn btn-sm btn-color" id="changeBtn">변경</button>
                  </div>
                  
                </h5>
                
                  <strong>수령인</strong>
                   <input type="text" name="rcdName" id="rcdName" class="input-text" th:value="${order.rcdName}" >
               
                  <strong>번호</strong>
                  <input type="text" name="rcdTel" id="rcdTel" class="input-text" th:value="${order.rcdTel}">
            
                  <strong>주소</strong>
                   <p>
                      <input type="text" class="input-text" name="rcdPost" id="rcdPost" style="width: 100px;" th:value="${order.rcdPost}">
                      <button class="btn btn-stroke" style="height:41px; vertical-align: top;" onclick="daum_address()" id="adSearch"><span>검색</span></button>
                    </p>
                    <p>
                      <input type="text" class="input-text" name="rcdAddr1" id="rcdAddr1" th:value="${order.rcdAddr1}">
                    </p>
                    <p>
                      <input type="text" class="input-text" name="rcdAddr2" id="rcdAddr2" th:value="${order.rcdAddr2}">
                    </p>
                </p>
                <p>
                  <strong>배송 요청사항</strong>
                  <input type="text" class="input-text" name="request" id="request" th:value="${order.request}">
                </p>
                <div> 
                  <button type="button" class="btn btn-sm btn-stroke" id="devl" th:onclick="window.open('https://tracker.delivery/#/kr.cjlogistics/566007962844');">배송조회</button>
                  <button type="button" class="btn btn-sm btn-stroke" id="devl" th:onclick="window.open('https://tracker.delivery/#/kr.cjlogistics/${order.trackingNum}');">배송조회</button>
                </div>
              </div>
              <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			  <script th:inline="javascript">
			if([[${order.orderKind}]] == 'c') {
				$('#rcdFrm').hide();
			}

			 if([[${order.orderState != "주문완료"}]]) {
				 $("#changeBtn").hide();
				 $("#adSearch").hide();
				 $('#devl')
				 $("#rcdName").attr("readonly",true);
				 $("#rcdTel").attr("readonly",true);
				 $("#rcdPost").attr("readonly",true);
				 $("#rcdAddr1").attr("readonly",true);
				 $("#rcdAddr2").attr("readonly",true);
				 $("#request").attr("readonly",true);
			 } else if ([[${order.orderState == "주문완료"}]]) {
				 $('#devl').hide();
					
			 	}
			 
             function daum_address(){
           	  new daum.Postcode({
           	        oncomplete: function(data) {
                           var addr = '';
                           var extraAddr = '';
                           if (data.userSelectedType === 'R') {
                               addr = data.roadAddress;
                           } else {
                               addr = data.jibunAddress;
                           }
                           if(data.userSelectedType === 'R'){
                               if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                   extraAddr += data.bname;
                               }
                               if(data.buildingName !== '' && data.apartment === 'Y'){
                                   extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                               }
                               if(extraAddr !== ''){
                                   extraAddr = ' (' + extraAddr + ')';
                               }
								addr += extraAddr;
                           
                           } else {
                           	addr += ' ';
                           }
							$("#rcdPost").val(data.zonecode);
							$("#rcdAddr1").val(addr);
							$("#rcdAddr2").attr("readonly",false);
							$("#rcdAddr2").focus();
           	        }
           	    }).open(); 
             }
			  </script>	
              <div class="order-box">
                <h5 class="subject-h5">주문 상품</h5>
                <table class="shop_table cart table">
                  <thead>
                    <tr>
                      <th class="product-name" colspan="2">상품명</th>
                      <th class="product-price">금액</th>
                      <th class="product-quantity">수량</th>
                      <th class="product-subtotal">총계</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cart_item">
                      <td class="product-thumbnail">
                        <a href="#">
                          <img src="https://via.placeholder.com/600x338" alt="">
                        </a>
                      </td>
                      <td class="education-name">
                        <a href="#" >강의명</a>
                        <ul>
                          <li>강사명</li>
                        </ul>
                      </td>
                      <td></td>
                      <td></td>
                      <td class="education-subtotal">
                        <span class="amount">$240.00</span>
                      </td>
                    </tr>
                    <tr class="cart_item">
                      <td class="product-thumbnail">
                        <a href="#">
                          <img src="https://via.placeholder.com/600x338" alt="">
                        </a>
                      </td>
                      <td class="product-name">
                        <a href="#" th:text="${order.goodsName}">도서명</a>
                      </td>
                      <td class="product-price">
                       <!--  <span class="amount" th:text="${order.bookPrice} + '원'">$1250.00</span> -->
                      </td>
                      <td class="product-quantity text-center">
                       <!-- <span th:text="${order.goodsCount} + '개'">1개</span>-->
                      </td>
                      <td class="product-subtotal">
                        <!-- <span class="amount" th:text="${order.bookPrice} * ${order.goodsCount} + '원'">$1250.00</span> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="shoping-box mb-50">
                <h5 class="subject-h5">결제 정보</h5>
                <p>
                  <strong>총 상품 금액</strong>
                  <span th:text="${order.bookPrice} * ${order.goodsCount} +'원'">000,000원</span> 
                </p>
                <p>
                  <strong>배송비</strong>
                  <span>2500원</span>
                </p>
                <p>
                  <strong>사용 마일리지</strong>
                  <span>0000원</span>
                </p>
                <p>
                  <strong>결제 금액</strong>
                  <span th:text="${order.totalPrice} + '원'">000,000원</span>
                </p>
              </div>

              <div class="text-center">
                <a href="/boot/mypage/orderList" class="btn btn-color">목록으로</a>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p>변경하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" id="ok" class="btn btn-color">확인</button>
                  <button type="button" id="close" class="btn btn-dark">취소</button>
                </div>
              </div>
            </div>
          </div>
          <script>
      	 

          // 배송정보 변경
          $("#changeBtn").on("click", function (e) {
        	  $('#modal').modal('show');
              $('#ok').click(function () {
            	  const form = {
            	  	rcdName : $("#rcdName").val(),
            	  	rcdTel : $("#rcdTel").val(),
            	  	rcdPost : $("#rcdPost").val(),
            	  	rcdAddr1 : $("#rcdAddr1").val(),
            	  	rcdAddr2 : $("#rcdAddr2").val(),
            	  	request : $("#request").val(),
            	  	orderNum : "[[${order.orderNum}]]"  
            	  }
            	  $.ajax({
	                  type: "POST", 
	                  url: "/boot/mypage/deliveryMod", 
	                  data:  form,
	        		  success: function(result){
	        	      	
	        		  }, 
	        		  error:  function(){
	        			console.log("에러발생");
	        		  }
	        	  })
            	  
	        	  $('#modal').modal('hide');
              })

              $('#close').click(function () {
                $('#modal').modal('hide');
                $('#rcdName').val('[[${order.rcdName}]]')
                $('#rcdPost').val('[[${order.rcdPost}]]')
                $('#rcdTel').val('[[${order.rcdTel}]]')
                $('#rcdAddr1').val('[[${order.rcdAddr1}]]')
                $('#rcdAddr2').val('[[${order.rcdAddr2}]]')
                $('#request').val('[[${order.request}]]')

                
              })
          })    
          </script>
</th:block>
</html>