<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutStudent}">

<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a href="/boot/mypage/mypageDashboard">마이페이지</a>
        </li>
        <li class="active">
          내 구매 목록
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">내 구매 목록</h3>
            </div>

            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 150px;">
                  <col>
                  <col style="width: 150px;">
                  <col style="width: 250px;">
                  <col style="width: 100px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>주문 번호</th>
                    <th>주문 상품</th>
                    <th>주문일</th>
                    <th>조회</th>
                    <th>상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="order : ${orderList}">
                    <td th:text="${order.orderNum}">CB230307-0001</td>
                    <td  
                    	th:text="${order.goodsName}"> 강의 제목 외 2건</td>
                    <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd')}">2023-03-07</td>
                    <td>
                      <button  type="button" class="btn btn-sm btn-color" 
                      		   th:onclick="|location.href='@{/mypage/myOrder/{orderNum}(orderNum=${order.orderNum})}'|">
                      		   상세보기
                      </button>
                                            
                    </td>
                    <td th:text="${order.orderState}">배송완료</td>
                  </tr>
                </tbody>
              </table>

              <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/mypage/orderList?pageNum='+(startPage - 1)}">
                <i class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/mypage/orderList?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/mypage/orderList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/mypage/orderList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/mypage/orderList?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/mypage/orderList?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

                <form action="/myorder/list" th:object="${criteria}" name="pageForm">
                  <input type="hidden" name="pageNum" th:field="*{pageNum}">
                  <input type="hidden" name="amount" th:field="*{amount}">
                </form>
                </nav>
              </div>
            </div>
          </div> <!-- end col -->

</th:block>
</html>