<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutCate}">
<th:block layout:fragment="content">

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./examList.html">문제은행</a>
        </li>
        <li class="active">
          오답노트
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">오답노트</h3>
            </div>

            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 100px;">
                  <col style="width: 150px;">
                  <col>
                  <col style="width: 150px;">
                  <col style="width: 150px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>대분류</th>
                    <th>소분류</th>
                    <th>날짜</th>
                    <th>풀이날짜</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr th:each="list : ${examNoteList}">
                  <input type="hidden" th:value="${list.teNum}" />
                    <td th:text="${list.myscoreNum}"></td>
                    <td class="text-center" th:text="${list.bcaNum}"></td>
                    <td th:text="${list.scaNum}"></td>
                    <td th:text="|${list.teYear}년 ${list.teRound}회차|"></td>
                 <td><form th:action="|@{/examNoteView/}${list.myscoreNum}/${list.teNum}|" method="get">
                      <button type="submit" id="teNum" class="btn btn-sm btn-dark">오답노트</button>
                 </form>
                 </td>
                  </tr>
                </tbody>
                
              </table>
            </div>

            <!-- Pagination -->
            <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'/boot/examNoteList/+${session.login.mbId}?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'/boot/examNoteList/+${session.login.mbId}?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'/boot/examNoteList/+${session.login.mbId}?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/boot/examNoteList/+${session.login.mbId}?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'/boot/examNoteList/+${session.login.mbId}?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'/boot/examNoteList/+${session.login.mbId}?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

              </nav>
          </div>
          </div> <!-- end col -->
          
<script th:inline="javascript">
$(document).ready(function () {
       
	$(".panel-content li").on("click", function (event) {
	    event.preventDefault();
	    var bigkeyword = $(this).parent().prev().first().text();
	    var keyword = $(this).text();
	    window.location.href = "/boot/noteCate/'"+[[${session.login.mbId}]]+"'?bigkeyword="+bigkeyword+"&keyword="+ keyword;
	  })
})
</script>                   
        

    


</body>
</th:block>
</html>