<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutCate}">
<th:block layout:fragment="content">

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./examList.html">문제은행</a>
        </li>
        <li>
          <a href="./examNoteList.html">오답노트</a>
        </li>
        <li class="active">
          오답노트 상세
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h1 class="left mb-0" style="margin-top: 7px;">오답노트</h1>
            </div>
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">[[${getTest.scaNum}]] [[${getTest.teYear}]]년 [[${getTest.teRound}]]회차</h3>
            </div>

            <div class="col-md-12" th:each="list : ${examNoteView}">
              <div class="question mb-50" >
                <div>
                  <p>
                    <strong th:text="'문제'+${list.quesNum}+'번'"></strong>
                  </p>
                  <p class="mb-20" th:text="${list.question}">
                  </p>
                  <div class="rows">
                    <div class="col-md-6 mb-10">
                    <input type="hidden" th:value="${list.noteNum}" th:name="noNum+${listStat.index}">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_1" value="1" th:checked="${list.myAnswer}==1">
                      <label for="a1_1">①</label>[[${list.vi1}]]
                    </div>
                    <div class="col-md-6 mb-10">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_2" value="2" th:checked="${list.myAnswer}==2">
                      <label for="a1_2">②</label>[[${list.vi2}]]
                    </div>
                    <div class="col-md-6 mb-10">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_3" value="3" th:checked="${list.myAnswer}==3">
                      <label for="a1_3">③</label>[[${list.vi3}]]
                    </div>
                    <div class="col-md-6 mb-10">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_4" value="4" th:checked="${list.myAnswer}==4">
                      <label for="a1_4">④</label>[[${list.vi4}]]
                    </div>
                    <input type="hidden" th:value="${list.myAnswer}" th:name="ann+${listStat.count}">
                    <p>정답: [[${list.answer}]]</p>
                    <div class="clear"></div>
                  </div>
                </div>

                <details class="mb-30 text-right">
                  <summary class="btn btn-sm btn-color">풀이보기</summary>
                  <div class="mt-10" style="text-align: left;">
                    <strong>문제풀이</strong>
                    <div class="box-theme" th:text="${list.commetary}">
                    </div>
                  </div>
                </details>

                <div>
                
                  <label for=""><strong>틀린이유</strong></label>
                  <textarea name="" id="" class="mb-0" cols="30" rows="5" th:name="myMemo" th:id="memo+${listStat.index}" th:text="${list.myMemo}"></textarea>
                
                </div>
              </div>
			
            </div>
            <div class="text-center">
               <a th:href="@{/examNoteList/}+${session.login.mbId}" class="btn btn-dark" >목록</a>
               <button type="button" class="btn btn-color" id="up">저장</button>
          </div>
          </div> <!-- end col -->
          <script th:inline="javascript">
          var arr = [];
          $(document).ready(function(){
        	  
        	  $("#up").on("click", function(){
        		  console.log("click")
        		 for(var i=0; i<[[${#lists.size(examNoteView)}]]; i++){
        			var nono = $("[name='noNum" + i + "']").val();
        			var memo = $("[id='memo" + i + "']").val();
        			arr.push({"noteNum" : nono, "myMemo" : memo});
        		 }
        		 console.log(arr);
        		 
        		 $.ajax({
        			 url: "/boot/updateWrong",
        			 type: 'POST',
        			 contentType: "application/json",
        			 data: JSON.stringify(arr),
        			 success: function(result){
        				 console.log(result);
        				 location.href='/boot/examNoteList/'+[[${session.login.mbId}]];
        			 },
        			 error: function(){
        				 console.log("err");
        			 }
        		 })
        	  })
        	  
          })
          </script>
          
             


</body>
</th:block>
</html>