<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <title>자격있는 사람들</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/font-icons.css" />
  <link rel="stylesheet" href="css/sliders.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/animate.min.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <!-- jQuery Scripts -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>

  <style>
    .win-header {
      padding: 20px;
      text-align: center;
      border-bottom: 1px solid #ebebeb;
      background-color: #fff;
    }

    .row {
      border-bottom: 1px solid #ebebeb;
    }

    .col-sm-6 {
      float: none;
      margin: 0 auto;
      padding: 20px;
    }
  </style>
</head>

<body>
  <header class="win-header">
    <h1>제출 완료</h1>
  </header>
  <main>
    <div class="row">
      <div class="col-sm-6">
        <p th:each="list : ${get}" th:id="sub+${listStat.index}" th:value="${list.score}">[[${list.questionSub}]] : [[${list.score}]]</p>
        <p class="text-right mb-20">평균 : </p>
        <h3 class="text-center" id="suc">불합격</h3>
        <p class="text-center" id="tet">사유를 적어주세요.</p>
      </div>
      <div class="col-sm-6 text-center">
      <input type="hidden" name="mbId" id="mbId" th:value="${mbId}">
        <a href="#" class="btn btn-sm btn-stroke" onclick="closeTabClick()">목록으로</a>
        <a href="#" class="btn btn-sm btn-dark" id="wrong" >오답노트</a>
        <a href="#" class="btn btn-sm btn-color" onclick="resultClick()">채점결과</a>
      </div>
    </div>
  </main>
  <script th:inline="javascript">
  var sub = 0;
  var arr = [[${get}]]
  	for(i=0; i<arr.length; i++){
  		var subject = arr[i].score;
  		sub += Number(subject);
  	}
  	console.log(sub);
  	var avg = sub/5;
  	console.log(avg);
  	$(".text-right.mb-20").text("평균 : "+avg);
  	if(avg >= 60){
  		$("#suc").append('<p>').text('합격');
  		$("#tet").append('<p>').text('축하드립니다');
  	}else if(subject < 40){
			$("#tet").append('<p>').text('40점 미만 과락입니다');
  	}else{
  		$("#suc").append('<p>').text('불합격');
  		$("#tet").append('<p>').text('점수 미달');
  	}
  	
    function closeTabClick() {
        opener.location.href='/boot/examList'; 
        window.close();
    }
    function resultClick() {
    	
    	$.ajax({
    		url: "/boot/examResultView/"+[[${examResult.myscoreNum}]]+"/"+[[${examResult.teNum}]],
    		type: "get",
    		success : function(result){
    			console.log(result);
    			opener.location.href='/boot/examResultView/'+[[${examResult.myscoreNum}]]+"/"+[[${examResult.teNum}]];
    		    window.close();
    		},
    		error: function(){
    			console.log("err");
    		}
    	})
     
    }
    
    $("#wrong").on("click", function(){
    	$.ajax({
    		url: "/boot/examNoteView/"+[[${examResult.myscoreNum}]]+"/"+[[${examResult.teNum}]],
    		type: "get",
    		success : function(result){
    			console.log(result);
    			opener.location.href='/boot/examNoteView/'+[[${examResult.myscoreNum}]]+"/"+[[${examResult.teNum}]];
    		    window.close();
    		},
    		error: function(){
    			console.log("err");
    		}
    	})
    })
  </script>
</body>

</html>