<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutCate}">
<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="./">홈</a>
        </li>
        <li class="active">
          문제은행
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>


    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">모의고사</h3>
            </div>
 			
 			
 			
            <div class="col-md-12 mb-50">
              
              <div class="col-md-6">
                <div class="div-table">
                  <div class="text-center">연도</div>
                  <div class="dt-box">
                    <ul>
                      <li th:each="list : ${exam}">
                        <input class="ty" type="radio" th:name="vi1" th:value="${list.teYear}" th:id="tr1+${listStat.index}">
                        <label th:for="tr1+${listStat.index}">[[${list.teYear}]]</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="div-table">
                  <div class="text-center">회차</div>
                  <div class="dt-box">
                    <ul>
                      <li class="round">
                        <input type="radio" name="vi2"  id="t1">
                        <label class="round" for="t1"></label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
             <div th:if="${session.login != null}">
				<input type="hidden" name="mbId" id="mbId" th:value="${session.login.mbId}">
			 </div>
			
            <div class="col-md-12 text-right">
              <button type="button" class="btn btn-color" onclick="newTabClick()">시험시작</button>
            </div>
          </div>
          <script>
          
     		$(".ty").click(function(){
     			var year = $(this).val();
           		console.log(year);
           		var check={};
           		$.ajax({
           			url:"/boot/examYear",
           			type: 'GET',
           			data: {
           				teYear : year
           			},
           			success: function(result){
           				console.log(result);
           				
           				var list = $('.round');
           			  	list.empty(); // 기존 리스트 아이템 삭제
           			  
           			  	$.each(result, function(index, item){
	           			  	var input = $('<input>').attr({
	           			  	  								'type': 'radio',
	           			  	  								'name': 'v2',
	           			  	  								'value': item.teNum,
	           			  	  								'id': 't1' + index,
	           			  	  								'class' : 'tn'
	           			  								  });
	           			  	var label = $('<label>').attr('for', 't1' + index).text(item.teRound);
	           			   		list.append(input);
	           			   		list.append(label);
           			  	});
           				
           			},
           			error: function(){
           				console.log(year);
           			}
           			
           		})
           		
           	})
          	$(document).on('click', '.tn', function() {
	  			console.log("click");
	  			check = $(this).val();
	  			console.log(check);
			});
           	
           	
            function newTabClick() {
              window.open('./examView/'+check, '모의고사팝업', 'width=900px,height=505px,scrollbars=yes');
            }
            
            $(document).ready(function () {
                
            	$(".panel-content li").on("click", function (event) {
            	    event.preventDefault();
            	    var bigkeyword = $(this).parent().prev().first().text();
            	    var keyword = $(this).text();
            	    window.location.href = "/boot/examCate?bigkeyword="+bigkeyword+"&keyword="+ keyword;
            	  })
            	})
            
          </script>

         
      

    

  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>
</th:block>
</html>