<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutCate}">
<th:block layout:fragment="content">
  

    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./examList.html">문제은행</a>
        </li>
        <li>
          <a href="./examNoteList.html">오답노트</a>
        </li>
        <li class="active">
          오답노트 상세
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
           <div class="col-md-12 mb-50">
              <h1 class="left mb-0" style="margin-top: 7px;">채점결과</h1>
            </div>
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">[[${getTest.scaNum}]] [[${getTest.teYear}]]년 [[${getTest.teRound}]]회차</h3>
            </div>

            <div class="col-md-12"  th:each="list : ${examResultView}">
              
              <div class="question mb-50">
                <div class="mb-30">
                  <p>
                    <strong th:text="'문제'+${list.quesNum}+'번'"></strong>
                  </p>
                  <p class="mb-20" th:text="${list.question}">
                  </p>
                  <div class="rows">
                    <div class="col-md-6 mb-10">
                      <input type="hidden" th:value="${list.noteNum}" th:name="noNum+${listStat.index}">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_1" value="1" th:checked="${list.myAnswer}==1">
                      <label for="a1_1">①</label>[[${list.vi1}]]
                    </div>
                     <div class="col-md-6 mb-10">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_2" value="2" th:checked="${list.myAnswer}==2">
                      <label for="a1_2">②</label>[[${list.vi2}]]
                    </div>
                    <div class="col-md-6 mb-10">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_3" value="3" th:checked="${list.myAnswer}==3">
                      <label for="a1_3">③</label>[[${list.vi3}]]
                    </div>
                    <div class="col-md-6 mb-10">
                      <input type="radio" th:name="a1+${listStat.count}" id="a1_4" value="4" th:checked="${list.myAnswer}==4">
                      <label for="a1_4">④</label>[[${list.vi4}]]
                    </div>
                    <input type="hidden" th:value="${list.myAnswer}" th:name="ann+${listStat.count}">
                    <p>정답: [[${list.answer}]]</p>
                    <div class="clear"></div>
                  </div>
                </div>

                <div>
                  <div class="mt-10" style="text-align: left;">
                    <strong>문제풀이</strong>
                    <div class="box-theme" th:text="${list.commetary}">
                    </div>
                  </div>
                </div>

              </div>
            </div>
             <div class="text-center mt-50">
                  <a th:href="@{/examNoteList/}+${session.login.mbId}" class="btn btn-dark">목록으로</a>
                  <a th:href="|@{/examNoteView/}${myscoreNum}/${teNum}|" class="btn btn-color">오답노트</a>
             </div>
          </div> <!-- end col -->


</body>
</th:block>
</html>