<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutProfile}">

<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="/boot">홈</a>
        </li>
        <li>
          <a th:href="@{/profile/}+${session.login.mbId}">프로필</a>
        </li>
        <li class="active">
          내 게시글
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">내 스터디</h3>
            </div>
            <div class="col-md-12 mb-50">
              <table class="table">
                <colgroup>
                  <col style="width: 100px;">
                  <col>
                  <col style="width: 150px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="myChat : ${myChatList}">
						<td th:text="${myChat.studyNum}"></td>
						<td><a th:href="@{/profile/myChatView/}+${myChat.studyNum}" th:text="${myChat.studyTitle}"></a></td>
						<td th:text="${#dates.format(myChat.studyWriteDate, 'yyyy-MM-dd')}"></td>
					</tr>
                </tbody>
              </table>

              <!-- Pagination -->
              <div class="pagination-wrap" th:object="${pageMaker}">
	            <nav class="pagination text-center">
	              <nav class="pagination text-center">
	                <a th:if="*{prev}" th:href="${proflieMbId+'?pageNum='+(startPage - 1)}">
	                	<i class="fa-solid fa-angles-left"></i>
	                </a>
	
	                <a th:if="*{criteria.pageNum > 1}" th:href="${proflieMbId+'?pageNum='+(criteria.pageNum - 1)}">
	                  <i class="fa fa-angle-left"></i>
	                </a>
	
	                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
	                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
	                    <a class="page-numbers current" th:href="${proflieMbId+'?pageNum='+num}" th:text="${num}"></a>
	                  </th:block>
	                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
	                    <a th:href="${'myBoardList?pageNum='+num}" th:text="${num}"></a>
	                  </th:block>
	                </th:block>
	
	                <a th:if="*{criteria.pageNum < realEnd}" th:href="${proflieMbId+'?pageNum='+(criteria.pageNum + 1)}">
	                  <i class="fa fa-angle-right"></i>
	                </a>
	
	                <a th:if="*{next}" th:href="${proflieMbId+'?pageNum='+(endPage+1)}">
	                	<i class="fa-solid fa-angles-right"></i>
	                </a>
	              </nav>
              </div>
            </div>
          </div>
</th:block>

</html>