<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutProfileChat}">


<th:block layout:fragment="content">


    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="./chatList.html">스터디 목록</a>
        </li>
        <li class="active">
          스터디 방
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    
    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue" id="studyRoom">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">스터디 이름 </h3>
              <div class="right">
                <a th:href="@{/profile/myChatList/}+${session.login.mbId}" class="btn btn-color">목록</a>
                <button id="quit" class="btn btn-dark">탈퇴</button>
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal_1" tabindex="-1" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal_1Title">
                      탈퇴하기
                    </h5>
                  </div>
                  <div class="modal-body">
                    <p>해당 소모임을 탈퇴하시겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-color" id="feedOutBtn">탈퇴</button>
                    <button type="button" id="close_1" class="btn btn-dark" data-bs-dismiss="modal">
                      취소
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!--th:each="chatter : ${chatterList}" -->
            <div class="col-md-12 mb-80" >
              <ul id="owl-partners"  class="owl-carousel owl-theme room-box">
                <li class="item" th:each="chatter : ${chatterList}">
                  <div class="img-box">
                    <img th:src="${chatter.mbProfile}" alt="">
                  </div>
                  <p class="text-center" >
                    <i th:if="${chatter.studyPower == '1'}" class="fa-solid fa-crown color-yellow" ></i>
                    [[${chatter.mbNick}]] 
                  </p>
                  <input type="hidden" id="loginId" th:value="${session.login.mbId}">
                </li>
                
              </ul>
            </div>

            <div class="col-md-12 mb-80">
              <form id="form" method="post" action="#">
                <div class="row">
                  <div class="col-md-12">
                    <input type="hidden" name="mbId" id="mbId" th:value="${session.login.mbId}">
									  <input type="hidden" name="studyNum" id="studyNum" th:value="${user.studyNum}">
                    <textarea name="comment" id="comment" placeholder="300자 이내로 입력하세요."></textarea>
                  </div>
                  <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-lg btn-color" value="등록하기" id="submit-message">
                  </div>
                </div>
              </form>
            </div>

            <div class="col-md-12">
              <!-- Comments -->
              <div class="entry-comments post-content mt-20"  >
                <div class="comment-list">
                  <!-- <input type="hidden" name="feedNum" id="feedNum" th:value="${feedList.feedNum}"> -->
                  <!-- <div class="post-box">
                    <img src="https://via.placeholder.com/100" class="comment-avatar" alt="">
                    <div class="comment-content" >
                      <p class="comment-info">
                        <span class="comment-author" >홍길동</span>
                        <span >10분전</span>
                      </p>
                      <div class="mb-10" >
                        글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다.
                        글 내용 위치입니다. 글 내용 위치입니다.
                      </div>
                      <div class="mb-10">
                        <img src="./img/about_us.jpg" alt="">
                      </div>
                      <div class="actionBox">
                        <button type="button" class="btn-icon">
                          <i class="fa-regular fa-comment"></i>
                          <span>1</span>
                        </button>
                        <button type="button" class="btn-icon">
                          <i class="fa-solid fa-heart"></i>
                          <span>1</span>
                        </button>
                        <button type="button" class="btn-icon">
                          <i class="fa-regular fa-trash-can"></i>
                        </button>
                      </div>
                    </div>

                    <div class="mt-30">
                      <div class="comment-content">
                        <div class="mb-10">
                          <textarea name="" id="" cols="30" rows="5"></textarea>
                        </div>
                        <div class="actionBox text-right" id="addReplyBtn">
                          <button type="button" class="btn btn-color">등록</button>
                        </div>
                      </div>
                    </div>

                    <div class="reply">
                      <div class="">
                        <img src="https://via.placeholder.com/100" class="comment-avatar" alt="">
                        <div class="comment-content">
                          <p class="comment-info">
                            <span class="comment-author">홍길동</span>
                            <span>10분전</span>
                          </p>
                          <div class="mb-10">
                            글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다.
                            글 내용 위치입니다. 글 내용 위치입니다.
                          </div>
                          <div class="actionBox">
                            <button type="button" class="btn-icon">
                              <i class="fa-regular fa-comment"></i>
                              <span>1</span>
                            </button>
                            <button type="button" class="btn-icon">
                              <i class="fa-regular fa-heart"></i>
                              <span>0</span>
                            </button>
                            <button type="button" class="btn-icon">
                              <i class="fa-regular fa-trash-can"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="reply">
                      <div class="">
                        <img src="https://via.placeholder.com/100" class="comment-avatar" alt="">
                        <div class="comment-content">
                          <p class="comment-info">
                            <span class="comment-author">홍길동</span>
                            <span>10분전</span>
                          </p>
                          <div class="mb-10">
                            글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다.
                            글 내용 위치입니다. 글 내용 위치입니다.
                          </div>
                          <div class="actionBox">
                            <button type="button" class="btn-icon">
                              <i class="fa-regular fa-comment"></i>
                              <span>0</span>
                            </button>
                            <button type="button" class="btn-icon">
                              <i class="fa-regular fa-heart"></i>
                              <span>0</span>
                            </button>
                            <button type="button" class="btn-icon">
                              <i class="fa-regular fa-trash-can"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>

                <!-- <div class="post-box">
                  <img src="https://via.placeholder.com/100" class="comment-avatar" alt="">
                  <div class="comment-content">
                    <p class="comment-info">
                      <span class="comment-author">홍길동</span>
                      <span>10분전</span>
                    </p>
                    <div class="mb-10">
                      글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다. 글 내용 위치입니다.
                      글 내용 위치입니다. 글 내용 위치입니다.
                    </div>
                    <div class="mb-10">
                      <img src="./img/about_us.jpg" alt="">
                    </div>
                    <div class="actionBox">
                      <button type="button" class="btn-icon">
                        <i class="fa-regular fa-comment"></i>
                        <span>0</span>
                      </button>
                      <button type="button" class="btn-icon">
                        <i class="fa-regular fa-heart"></i>
                        <span>0</span>
                      </button>
                      <button type="button" class="btn-icon">
                        <i class="fa-regular fa-trash-can"></i>
                      </button>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
         
         
         

    <!-- end catalogue -->


  <script>
    $(function () {
      $('#quit').click(function () {
        $('#modal_1').modal('show');
        $('#feedOutBtn').click(function(){
          // 피드 탈퇴 요청.

        var chatterMbId = $('#loginId').val(),
        studyNum = $('#studyNum').val()

          console.log(studyNum);
          console.log(chatterMbId);
          $.ajax({
            url : '/boot/delChatterOut/' + studyNum + '/' + chatterMbId,
            method : 'get',
            success : function(result){
              alert('삭제');
              // 프로필로 이동
              window.location.href = '/boot/profile/' + chatterMbId;
            
            },
            error: function(error) {
                alert('실패');
            }
          });


        })
        
      })
      $('#close_1').click(function () {
        $('#modal_1').modal('hide');
      })
    });


  </script>





<script>
     	// 무한 스크롤
     	
        var a = window.innerHeight;
        var b = window.scrollY;
        var c = document.body.offsetHeight;

          $(document).ready(function () {
            var startFrom = 0;
            getUL();
         



      function getUL() {
        
        $.ajax({
              type: "GET",
              url: "/boot/myFeed/[[${chatterList[0].studyNum}]]",
              contentType: "application/json",
              dataType: "json",
              success: function (result) {                
                      let str="";
                      getData(startFrom); // 4건 불러오기

                      function getData(startFrom) {
                        for (var i = startFrom; i < startFrom + 4; i++) {
                          $('.comment-list').append(makeFeed(result[i]));
                        }
                      }

                      $(window).scroll(function () {
                        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 10) {
                          if (startFrom < result.length) {
                            startFrom = startFrom + 4;
                            getData(startFrom);
                          }


                          
                        }
                      });



                    },
                    error: function (error) {
                      console.log(error)
                    }
                  });
      
                }    

        //makefeed자리

        function makeFeed(result){
            let str2="post-box";
            if(result.level==2){
              str2 = "post-box reply";
            }
            return $(`<div class="${str2}">
                        <img src="${result.mbProfile}" class="comment-avatar" alt="">
                        <div class="comment-content" id="comment-body">
                          <p class="comment-info">
                            <span class="comment-author" >${result.mbNick}</span>
                            <span >${result.feedWriteDate}</span>
                            </p>
                          <div class="feedNum" >
                            <input type="hidden" id="feedNum" value="${result.feedNum}">
                          </div>
                          <div class="orgNum" >
                            <input type="hidden" id="orgNum" value="${result.orgNum}">
                          </div>

                          <div class="level" >
                            <input type="hidden" id="level" value="${result.level}">
                          </div>
                          <div class="mb-10" >
                            ${result.feedContent}
                          </div>
                          
                          <div class="actionBox">
                            <button type="button" class="btn-icon" id="comment-btn" >
                              <i class="fa-regular fa-comment"></i>
                              <span>${result.replyCount}</span>
                            </button>
                            <button type="button" class="btn-icon">
                              <i class="fa-solid fa-heart"></i>
                              <span>1</span>
                            </button>
                            <button type="button" class="btn-icon" id="remove-btn">
                              <i class="fa-regular fa-trash-can" id="trash-can" ></i>
                            </button>
                            <div class="replyBox" id="replyBox">
                              
                              
                            </div>

                            
                            
                          </div>
                        </div>`)
                    
          }



          
        function makeFeed2(result){
            let str2="post-box";
            if(result.level==2){
              str2 = "reply";
            }
            return $(`<div class="${str2}">
                        <img src="[[${session.login.mbProfile}]]" class="comment-avatar" alt="">
                        <div class="comment-content" id="comment-body">
                          <p class="comment-info">
                            <span class="comment-author" >[[${session.login.mbNick}]]</span>
                            <span >${result.feedWriteDate}</span>
                            </p>
                          <div class="feedNum" >
                            <input type="hidden" id="feedNum" value="${result.feedNum}">
                          </div>
                          <div class="orgNum" >
                            <input type="hidden" id="orgNum" value="${result.orgNum}">
                          </div>

                          <div class="level" >
                            <input type="hidden" id="level" value="${result.level}">
                          </div>
                          <div class="mb-10" >
                            ${result.feedContent}
                          </div>
                          
                          <div class="actionBox">
                            <button type="button" class="btn-icon" id="comment-btn" >
                              <i class="fa-regular fa-comment"></i>
                              <span>${result.replyCount}</span>
                            </button>
                            <button type="button" class="btn-icon">
                              <i class="fa-solid fa-heart"></i>
                              <span>1</span>
                            </button>
                            <button type="button" class="btn-icon" id="remove-btn">
                              <i class="fa-regular fa-trash-can" id="trash-can" ></i>
                            </button>
                            <div class="replyBox" id="replyBox">
                              
                              
                            </div>

                            
                            
                          </div>
                        </div>`)
                    
          }




          // 피드 등록
          $("#submit-message").on("click", function() {
						$.ajax({
							url : "/boot/myFeed/insertFeed",
							data : {
								"mbId" : $("#mbId").val(),
								"studyNum" : $("#studyNum").val(),
								"feedContent" : $("#comment").val()
                // "page": page //
							},
							type : "post",
							success : function(result) {
								if (result != null) {
                  console.log(result);
									$("#comment").val('');

                  $('.comment-list').prepend(makeFeed2(result));
                  
								} else {
                  alert("등록실패");
								}
								// $('#modal').modal('show');

							},
							error : function(reject) {
								console.log(reject);
							}
						})
					})









  
     // getdata




        // 피드 삭제
        $(document).on('click', '#remove-btn', function(){
          console.log("피드삭제");
          var feedThis = $(this).closest(".post-box");
          var replyThis = $(this).closest(".reply");
          var feedNum = $(this).closest("#comment-body").find('#feedNum').val();
          // var orgNum = $(this).closest(".reply").find('#orgNum').val();
          // $('#orgNum').val()
          // var reply = $(this).closest(".post-box").siblings('.reply');
          // var orgNum = reply.find('#orgNum').val();
          // console.log(orgNum);

          // console.log(feedNum);
          // console.log(orgNum);

          $.ajax({
          url : '/boot/delFeed/' + feedNum,
          method : 'get',
          success : function(result){
            alert('삭제');
            //원글 화면에서 지우기
            feedThis.remove();
            replyThis.remove();
            // feedThis.closest('.reply').remove();
            // $(feedThis).nextUntil('.post-box').remove();
            // $(feedThis).prevUntil('.post-box').remove(); --> 선택자...
          
          },
          error: function(error) {
              alert('실패');
          }
        });
        
        })

          // 댓글 창 띄우기
          $(document).on('click', '#comment-btn', function(){
          console.log("댓글창");
          let feedThis = $(this);
          
          let commentBody = $(this).closest('.post-box');
          let formHtml = `        <div class="mt-30" id="commentBox">
                                    <div class="comment-content">
                                      <div class="mb-10">
                                        <textarea name="replyComtent" id="replyComtent" cols="30" rows="5"></textarea>
                                      </div>
                                      <div class="actionBox text-right" id="addReplyBtn">
                                        <button type="button" class="btn btn-color">등록</button>
                                      </div>
                                    </div>
                                </div>`
          
          commentBody.append(formHtml);
          // formHtml.remove();

          // event.preventDefault();
          // stopPropagation();
          // $(this).closest(".post-box").find('.comment-content').remove();


          // 댓글 등록
          $("#addReplyBtn").on("click", function() {

            var feedNum = $(this).closest(".post-box").find('#feedNum').val();
            var postbox = $(this).closest(".post-box");
						$.ajax({
							url : "/boot/myFeed/insertFeedReply",
							data : {
								"mbId" : $("#mbId").val(),
								"studyNum" : $("#studyNum").val(),
								"feedContent" : $("#replyComtent").val(),
                "orgNum" : feedNum,
                "level" : 2
                // "page": page //
							},
							type : "post",
							success : function(result) {
								if (result != null) {
									// $('#msg').html("답변을 등록했습니다.");
									// createUL();
                  //alert("등록완료");
									$("#replyBox").val('');
									// $("#replyBox").remove();
                  // $(postbox).after(makeFeed(result));
                  makeFeed2(result).insertAfter($(postbox));
                  // $(source).insertAfter(target) 
                  $('#commentBox').remove();

                  
								} else {
                  // $('#msg').html("답변을 등록하지 못했습니다.");
                  alert("등록실패");
								}
								// $('#modal').modal('show');

							},
							error : function(reject) {
								console.log(reject);
							}
						})
					})

          
        })

    
    
      }); //document.ready//

     

 

        // 피드 삭제

        // $(document).on('click', '#remove-btn', function(){
        //   console.log("피드삭제");
        //   // var feedThis = $(this);
        //   var feedThis = $(this).closest("#comment-body");
        //   var feedNum = $(this).closest("#comment-body").find('#feedNum').val();
        //   // var orgNum = $(this).closest(".reply").find('#orgNum').val();
        //   // $('#orgNum').val()
        //   var reply = $(this).closest(".post-box").prevUntil('.post-box');
        //   // var orgNum = reply.find('#orgNum').val();
        //   // console.log(orgNum);

        //   // console.log(feedNum);
        //   // console.log(orgNum);

        //   $.ajax({
        //   url : '/boot/delFeed/' + feedNum,
        //   method : 'get',
        //   // data : {page: page},//
        //   success : function(result){
        //     alert('삭제');
        //     //원글 화면에서 지우기
        //     feedThis.closest('.post-box').remove();
        //     // feedThis.closest('.reply').remove();
        //     feedThis.prevUntil('.post-box').remove();
        //     // reply.remove();
        //     // feedThis.prevUntil('#comment-body ').remove();
            

          
        //   },
        //   error: function(error) {
        //       alert('실패');
        //   }
        // });



        // })


        //  // 피드 삭제2









</script>



</th:block>


</html>