<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutProfile}">
	
<th:block layout:fragment="content">
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
        	<a href="/boot">홈</a>
        </li>
        <li>
          <a th:href="@{/profile/}+${session.login.mbId}">프로필</a>
        </li>
        <li class="active">
          내 수강 강의
        </li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Catalogue -->
    <section class="section-wrap pt-70 pb-40 catalogue">
      <div class="container relative">
        <div class="row">
          <div class="col-md-9 catalogue-col right mb-50">
            <div class="col-md-12 mb-50">
              <h3 class="left mb-0" style="margin-top: 7px;">내 수강 강의</h3>
            </div>
            <div id="animated-skills" class="col-md-12 mb-50">
              <div class="class-box">

                <div class="col-md-4 col-xs-6" th:each="edu : ${classList}">
                  <div class="product-item">
                    <div class="product-img">
                      <a th:href="@{/eduInfo/}+${edu.clNum}">
                        <img th:src="@{'/img/' + ${edu.clThumbnail}}" alt="product thumbnail">
                        <div class="progress-bars">
                          <div class="progress meter">
                            <div aria-valuemax="100" aria-valuemin="0" th:aria-valuenow="${edu.pcProg}" class="progress-bar"
                              role="progressbar">
                              <span class="sr-only">[[${edu.pcProg}]]% Complete</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="product-details">
                      <h2>
                        <a class="product-title" href="eduInfo" th:text="${edu.clName}">강의명 자리입니다.</a>
                      </h2>
                      <h3>
                        <a class="product-title" href="eduInfo" th:text="${edu.mbNick}">강사명 자리입니다.</a>
                      </h3>
                    </div>
                  </div>
                </div>
                
                <div class="clear"></div>
              </div>

              <!-- Pagination -->
              
              <!-- Pagination -->
              <div class="pagination-wrap" th:object="${pageMaker}">
	            <nav class="pagination text-center">
	              <nav class="pagination text-center">
	                <a th:if="*{prev}" th:href="${proflieMbId+'?pageNum='+(startPage - 1)}">
	                	<i class="fa-solid fa-angles-left"></i>
	                </a>
	
	                <a th:if="*{criteria.pageNum > 1}" th:href="${proflieMbId+'?pageNum='+(criteria.pageNum - 1)}">
	                  <i class="fa fa-angle-left"></i>
	                </a>
	
	                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
	                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
	                    <a class="page-numbers current" th:href="${proflieMbId+'?pageNum='+num}" th:text="${num}"></a>
	                  </th:block>
	                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
	                    <a th:href="${'myBoardList?pageNum='+num}" th:text="${num}"></a>
	                  </th:block>
	                </th:block>
	
	                <a th:if="*{criteria.pageNum < realEnd}" th:href="${proflieMbId+'?pageNum='+(criteria.pageNum + 1)}">
	                  <i class="fa fa-angle-right"></i>
	                </a>
	
	                <a th:if="*{next}" th:href="${proflieMbId+'?pageNum='+(endPage+1)}">
	                	<i class="fa-solid fa-angles-right"></i>
	                </a>
	              </nav>
              </div>
            </div>
          </div>
</th:block>

</html>