<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/layoutProfile}">

<th:block layout:fragment="content">
  <!-- Breadcrumbs -->
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="/boot">홈</a>
      </li>
      <li class="active">
        프로필
      </li>
    </ol> <!-- end breadcrumbs -->
  </div>

  <!-- Catalogue -->
  <section class="section-wrap pt-70 pb-40 catalogue">
    <div class="container relative">
      <div class="row">
        <div class="col-md-9 catalogue-col right mb-50">
          <div class="col-md-12 mb-50">
            <h3 class="left mb-0" style="margin-top: 7px;">소개</h3>
            <div class="right">
              <button type="button" id="modify" class="btn btn-color"
                th:if="${session.login.mbId}==${proflieMbId}">수정</button>
            </div>
          </div>
          <div class="col-md-12 mb-50">
            <p class="origin" th:text="${intd}"></p>
            <textarea name="mbIntd" id="mbIntd" cols="30" rows="5"
              style="display: none;">[[${session.login.mbIntd}]]</textarea>
            <div id="btnBox" class="text-right" style="display: none;">
              <button type="button" id="update" class="btn btn-color">등록</button>
              <button type="button" id="cancel" class="btn btn-dark">취소</button>
            </div>
          </div>
          <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 id="modal_2Title" class="modal-title">소개</h5>
                </div>
                <div class="modal-body">
                  <p id="msg"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" id="close" class="btn btn-color">확인</button>
                </div>
              </div>
            </div>
          </div>
          <script>
            $('#modify').on('click', function () {
              $('.origin').hide();
              $('#mbIntd').show();
              $(this).hide();
              $('#btnBox').show();
            });
            $('#cancel').on('click', function () {
              $('.origin').show();
              $('#mbIntd').hide();
              $('#modify').show();
              $('#btnBox').hide();
            });
            $('#update').on('click', function () {
              $.ajax({
                url: '/boot/intdWrite',
                data: {
                  "mbId": "[[${session.login.mbId}]]",
                  "mbIntd": $('#mbIntd').val()
                },
                type: 'post',
                success: function (result) {
                  if (result > 0) {
                    $('#msg').html("소개를 수정했습니다.");
                  } else {
                    $('#msg').html("소개를 수정하지 못했습니다.");
                  }
                  $('#modal').modal('show');
                },
                error: function (reject) {
                  console.log(reject);
                }
              })
            })

            $('#close').on('click', function () {
              $('#modal').modal('hide');
              location.reload();
            })
          </script>

          <div class="col-md-12 mb-50">
            <h3 class="left mb-0" style="margin-top: 7px;">게시글</h3>
          </div>
          <div class="col-md-12 mb-50">
            <div class="col-md-12">
              <table class="table">
                <colgroup>
                  <col style="width: 100px;">
                  <col>
                  <col style="width: 150px;">
                </colgroup>
                <thead>
                  <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일</th>
                  </tr>
                </thead>
                <tbody>
                  <th:block th:each="board : ${boardList}">
                    <tr>
                      <td th:text="${board.comNum}"></td>
                      <td><a href="./eduCommunityView.html" th:text="${board.comTitle}"></a></td>
                      <td th:text="${#dates.format(board.comWriteDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                  </th:block>
                </tbody>
              </table>
            </div>
          </div> <!-- end col -->

          <div class="col-md-12 mb-50">
            <h3 class="left mb-0" style="margin-top: 7px;">수강강의</h3>
          </div>
          <div class="col-md-12">
            <div class="grid-view left">
              <div class="row row-10 items-grid">
                <div class="col-md-4 col-xs-6" th:each="edu : ${classList}">
                  <div class="product-item">
                    <div class="product-img">
                      <a th:href="@{/eduInfo/}+${edu.clNum}">
                        <img th:src="@{'/img/' + ${edu.clThumbnail}}" alt="product thumbnail">
                      </a>
                      <div class="product-quickview">상세보기</div>
                    </div>
                    <div class="product-details">
                      <h2>
                        <a class="product-title" href="eduInfo" th:text="${edu.clName}">강의 이름입니다.</a>
                      </h2>
                      <h3>
                        <a class="product-title" href="eduInfo" th:text="${edu.mbNick}">강사 이름입니다.</a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div> <!-- end row -->
            </div>
            <div class="clear"></div>
          </div>
        </div>
</th:block>

</html>