<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <title>자격있는 사람들</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Css -->
  <link rel="stylesheet" href="/boot/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/boot/css/magnific-popup.css" />
  <link rel="stylesheet" href="/boot/css/font-icons.css" />
  <link rel="stylesheet" href="/boot/css/sliders.css" />
  <link rel="stylesheet" href="/boot/css/style.css" />
  <link rel="stylesheet" href="/boot/css/animate.min.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

  <!-- jQuery Scripts -->
  <script type="text/javascript" src="/boot/js/jquery.min.js"></script>
  <script type="text/javascript" src="/boot/js/bootstrap.js"></script>
  <script type="text/javascript" src="/boot/js/plugins.js"></script>

  <style>
    input[type="radio"]+label {
      position: relative;
      margin-right: 5px;
    }

    input[type="radio"]:checked+label::before {
      position: absolute;
      top: 6px;
      left: 0px;
      content: '';
      width: 20px;
      height: 20px;
      border: none;
    }

    input[type="radio"]+label::before,
    input[type="radio"]+label::after {
      content: none;
    }

    .item:not(:last-child) {
      margin-bottom: 30px;
      border-bottom: 1px solid #ebebeb;
    }

    .win-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 99;
      padding: 20px;
      text-align: center;
      border-bottom: 1px solid #ebebeb;
      background-color: #fff;
    }

    .quiz-box {
      padding-top: 80px;
    }

    .quiz-box>div {
      padding: 20px;
    }

    .quiz-box>div:nth-child(2)::before {
      content: '';
      position: fixed;
      top: 0;
      left: 37%;
      bottom: 0;
      width: 1px;
      height: 100vh;
      background-color: #ebebeb;
    }

    .quiz-box .item {
      padding-bottom: 30px;
    }

    .anser-box {
      position: fixed;
      top: 83px;
      right: 0;
      bottom: 0;
      z-index: 90;
      padding: 45px 20px 50px;
      border-left: 1px solid #ebebeb;
      background-color: #fff;
    }

    h3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background-color: #fff;
      margin: 0;
      padding: 10px 20px;
    }

    .btns {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      padding: 10px 20px;
      background-color: #fff;
      text-align: center;
    }
   
	.my-box 
	{ border:1px solid; padding:10px; font-size:large; color:black; background-color: lightgray}

  </style>
</head>

<body>

  <header class="win-header">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h1 th:text="${test.scaNum}">정보</h1>
    </div>
    <div class="col-sm-3" th:text="${test.teTime}">
    </div>
    <div class="clear" th:text="${test.teYear}+'년 '+${test.teRound}+'회차'"></div>
  </header>
  <main>
  
    <div class="row">
      <div class="quiz-box col-sm-9"  id="answer1" style="padding-top:100px">
        <div class="col-sm-6" th:each="list : ${quizView}">
          <div class="item">
          	
            <div class="content-head">
              <strong th:text="${list.quesNum}+'번.'" th:value="${list.questionNum}" id="ques"></strong>
              <p th:text="${list.question}"></p>
            </div>
            <div class="content-body">
              <p>
                <input class="vi1" type="radio" th:name="vi1+${listStat.index}" th:id="a1_1+${listStat.index}" th:value="1" th:data-idx="|${list.questionNum}${listStat.index+1}|">
                <label th:for="a1_1+${listStat.index}">①</label>[[${list.vi1}]]
              </p>
              <p>
                <input class="vi1" type="radio" th:name="vi1+${listStat.index}" th:id="a1_2+${listStat.index}" th:value="2" th:data-idx="|${list.questionNum}${listStat.index+2}|">
                <label th:for="a1_2+${listStat.index}">②</label>[[${list.vi2}]]
              </p>
              <p>
                <input class="vi1" type="radio" th:name="vi1+${listStat.index}" th:id="a1_3+${listStat.index}" th:value="3" th:data-idx="|${list.questionNum}${listStat.index+3}|">
                <label th:for="a1_3+${listStat.index}">③</label>[[${list.vi3}]]
              </p>
              <p>
                <input class="vi1" type="radio" th:name="vi1+${listStat.index}" th:id="a1_4+${listStat.index}" th:value="4" th:data-idx="|${list.questionNum}${listStat.index+4}|">
                <label th:for="a1_4+${listStat.index}">④</label>[[${list.vi4}]]
              </p>
              <input type="hidden" th:value="${list.teNum}" name="teNum">
              <input type="hidden" th:value="${list.answer}" th:name="an+${listStat.index}">
              <hr>
            </div>
          </div>
         
        </div>
      	  
         
        </div>
      </div>
      <div class="anser-box col-sm-3" style="top:100px">
        <h3>답안지</h3>
        <div style="overflow-y: scroll">
        <div th:each="list : ${quizView}" class="answer" th:data-idx="${listStat.index}">
        <strong th:text="${list.quesNum}+'번.'"></strong>
          <input class="vi10" type="radio" th:name="vi2+${listStat.count}" th:value="1" th:id="a1_5+${listStat.index}" th:data-idx="|${list.questionNum}${listStat.index+1}|">
          <label th:for="a1_5+${listStat.index}">①</label>
          <input class="vi10" type="radio" th:name="vi2+${listStat.count}" th:value="2" th:id="a1_6+${listStat.index}" th:data-idx="|${list.questionNum}${listStat.index+2}|">
          <label th:for="a1_6+${listStat.index}">②</label>
          <input class="vi10" type="radio" th:name="vi2+${listStat.count}" th:value="3" th:id="a1_7+${listStat.index}" th:data-idx="|${list.questionNum}${listStat.index+3}|">
          <label th:for="a1_7+${listStat.index}">③</label>
          <input class="vi10" type="radio" th:name="vi2+${listStat.count}" th:value="4" th:id="a1_8+${listStat.index}" th:data-idx="|${list.questionNum}${listStat.index+4}|">
          <label th:for="a1_8+${listStat.index}">④</label>
        </div>
		</div>      
        <div class="btns">
          <button type="button" class="btn btn-sm btn-dark" id="scobtn">제출하기</button>
        </div>
      </div>
       
        <script th:inline="javascript">
        	$(document).ready(function(){
        		
        		$(".vi1").click(function(){
        			console.log("클릭");
        			var idx = $(this).data("idx");
        			
        			//debugger;
        			//$(".answer").find("[data-idx="+idx+"]");
        			$(this).attr("checked",true);
        			$(".answer").find("[data-idx="+idx+"]").attr("checked",true);
        			
        		})
        		
        		$(".vi10").click(function(){
        			console.log("클릭");
        			var idx1 = $(this).data("idx");
        			//debugger;
        			$(this).attr("checked",true);
        			$("#answer1").find("[data-idx="+idx1+"]").attr("checked",true);
        		})
        		
        		var score = 0;
        		$("#scobtn").on("click", function(){
        			console.log("click");
        			for(var i = 0; i<[[${#lists.size(quizView)}]]; i++){
        				var radio = $("[name='vi1" + i + "']:checked").val();
        				var answer = $("[name='an" + i + "']").val();
        				if(radio == answer){
        					score++;
        				}
        			}
        			
        			$.ajax({
        				url: "/boot/quizResult/",
        				type: 'post',
        				data: {"score" : score},
        				success: function(result){
        					console.log(result);
        					location.href = "/boot/quizResult?score="+score;
        				},
        				error: function(){
        					console.log("err");
        				}
        			})
        		})
        		
        	}) 
        </script>
        
  </main>
</body>

</html></html>