<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>employee_id</th>
				<th>first_name</th>
				<th>job_id</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="emp : ${empList}"> <!-- 임시변수(해당 tr안에서만 사용) : 넘긴 변수 -->
				<th th:text="${emp.employeeId}"/>
				<th th:text="${emp.firstName}"/>
				<th th:text="${emp.jobId}"/>
			</tr>
		</tbody>
	</table>
</body>
</html>