<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
    <!-- Hero Slider -->
    <section class="section-wrap nopadding">
      <div class="container">
        <div class="entry-slider">
          <div class="flexslider" id="flexslider-hero">
            <ul class="slides clearfix">
              <li>
                <img src="img/img01.png" alt="">
                <div class="hero-holder text-center right-align">
                  <h3 class="hero-heading white">인기 강의</h3>
                  <p class="hero-subheading white uppercase text-right">
                  자격 있는 사람들의 인기 강의를 확인해 보세요.
                  </p>
                </div>
              </li>
              <li>
                <img src="img/img02.png" alt="">
                <div class="hero-holder text-center right-align">
                  <h3 class="hero-heading">인기 도서</h3>
                  <p class="hero-subheading uppercase text-right">
					자격 있는 사람들의 인기 도서를 확인해 보세요.
					</p>
                </div>
              </li>
            </ul>
          </div>
        </div> <!-- end slider -->
      </div>
    </section>
    <!-- end hero slider -->

    <!-- Partners -->
    <section class="section-wrap partners pb-40">
      <div class="container">
        <div class="row">
        
          <div class="col-md-4">
            <div class="service-item-box style-2">
              <div class="icon-holder">
              	<img src="img/upload/1.png">
              </div>
              <div class="service-text">
                <h3>기사</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item-box style-2">
              <div class="icon-holder">
              	<img src="img/upload/2.png">
              </div>
              <div class="service-text">
                <h3>산업기사</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item-box style-2">
              <div class="icon-holder">
              	<img src="img/upload/3.png">
              </div>
              <div class="service-text">
                <h3>기능사</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- New Arrivals -->
    <section class="section-wrap new-arrivals pb-40">
      <div class="container">

        <div class="row heading-row">
          <div class="col-md-12">
            <h2 class="heading uppercase"><small>추천 강의</small></h2>
          </div>
        </div>

        <div class="row row-10">
          <div id="owl-related-products" class="owl-carousel owl-theme nopadding">
          <div th:each="edu : ${eduList}">
          <div class="product-item">
            <div class="product-img">
              <a th:href="@{/eduInfo/}+${edu.clNum}">
                <img th:src="@{'/img/' + ${edu.clThumbnail}}" alt="product thumbnail">
              </a>
              <div class="product-actions">
                <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="찜">
                  <i class="fa fa-heart"></i>
                </a>
                <a href="#" class="product-add-to-cart" data-toggle="tooltip" data-placement="bottom" title="카트">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
              </div>
              <div class="product-quickview">상세보기</div>
            </div>
            <div class="product-details">
              <h2>
                <a class="product-title" href="eduInfo" th:text="${edu.clName}">강의 이름입니다.</a>
              </h2>
              <h3>
                <a class="product-title" href="eduInfo" th:text="${edu.mbNick}">강사 이름입니다.</a>
              </h3>
              <p class="star">
                <th:block th:each="num : ${#numbers.sequence(1,5)}">
                  <i class="fa fa-star" aria-hidden="true" th:if="${num <= edu.clGrade}"></i>
                  <i class="fa fa-star-o" aria-hidden="true" th:if="${num > edu.clGrade}"></i>
                </th:block>
              </p>
              <span class="price">
                <ins>
                  <span class="ammount" th:text="${edu.clAmount} + 원">$159.99</span>
                </ins>
              </span>
            </div>
          </div>
          </div>
        </div> <!-- end row -->
      </div>
    </section> <!-- end new arrivals -->

    <!-- Best Sellers -->
    <section class="section-wrap pb-0">
      <div class="container">
        <div class="row heading-row">
          <div class="col-md-12">
            <h2 class="heading uppercase"><small>추천 도서</small></h2>
          </div>
        </div>

        <div class="row row-10">

          <div class="col-md-3 col-xs-6 animated-from-left" th:each="list : ${bookList}">
                    <div class="product-item">
                      <div class="product-img">
                        <a th:href="@{/bookInfo/}+${list.bookNum}">
                          <img src="https://via.placeholder.com/600x450" alt="">
                        </a>
                        <div class="product-actions">
                          <a href="#" class="product-add-to-wishlist" data-toggle="tooltip" data-placement="bottom" title="찜">
                            <i class="fa fa-heart"></i>
                          </a>
                          <a style="cursor:pointer" class="product-add-to-cart" data-toggle="tooltip" data-placement="bottom" title="카트">
                            <input type="hidden" id="bookNum" name="bn" th:value="${list.bookNum}">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          </a>
                        </div>
                        <div class="product-quickview">상세보기</div>
                      </div>
                      <div class="product-details">
                        <h2>
                          <a class="product-title" th:href="@{/bookInfoList?(bookNum=${list.bookNum})}" th:text="${list.bookTitle}">도서명 자리입니다.</a>
                        </h2>
                        <h3>
                          <a class="product-title" href="shop-single-product.html" th:href="@{/bookInfoList?(bookNum=${list.bookNum})}" th:text="${list.bookWriter}">저자명 자리입니다.</a>
                        </h3>
                        <p class="star">
                          <th:block th:each="num : ${#numbers.sequence(1,5)}">
                            <i class="fa fa-star" aria-hidden="true" th:if="${num <= list.bookRating}"></i>
                            <i class="fa fa-star-o" aria-hidden="true" th:if="${num > list.bookRating}"></i>
                          </th:block>
                        </p>
                        <span class="price">
                          <ins>
                            <span class="ammount" th:text="${list.bookPrice} + '원'">$159.99</span>
                          </ins>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

        </div> <!-- end row -->
      </div>
    </section> <!-- end best sellers --> <!-- end partners -->
</th:block>
</html>