<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layouts/layoutBoard}">

<th:block layout:fragment="content">
	<!-- Breadcrumbs -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="index.html">홈</a></li>
			<li class="active">자주 묻는 질문</li>
		</ol>
		<!-- end breadcrumbs -->
	</div>

	<!-- FAQ -->
	<section class="section-wrap pt-70 pb-40 catalogue">
		<div class="container relative">
			<div class="row">
				<div class="col-md-9 catalogue-col right mb-50">
					<div class="col-md-12 mb-50">
						<h3 class="left mb-0" style="margin-top: 7px;">자주 묻는 질문</h3>
					</div>
					<div class="col-md-12">
						<div class="toggle">
							<th:block th:each="board : ${faqList}">
								<div class="acc-panel">
									<a href="#">[[${board.boTitle}]]</a>
								</div>
								<div class="panel-content">
									<p>[[${board.boContent}]]</p>
								</div>
							</th:block>
						</div>
					</div>
				</div>
</th:block>

</html>