<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/layoutBoard}">

<th:block layout:fragment="content">
  <!-- Breadcrumbs -->
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="/boot">홈</a>
      </li>
      <li class="active">
        공지사항
      </li>
    </ol>
  </div>
  <!-- end breadcrumbs -->

  <!-- Catalogue -->
  <section class="section-wrap pt-70 pb-40 catalogue">
    <div class="container relative">
      <div class="row">
        <div class="col-md-9 catalogue-col right mb-50">
          <div class="col-md-12 mb-50">
            <h3 class="left mb-0" style="margin-top: 7px;">공지사항</h3>
          </div>

          <div class="col-md-12">
            <table class="table">
              <colgroup>
                <col style="width: 100px;">
                <col>
                <col style="width: 150px;">
                <col style="width: 150px;">
              </colgroup>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                </tr>
              </thead>
              <tbody>
                <th:block th:each="board : ${noticeList}">
                  <tr th:object="${board}">
                    <td th:text="*{boNum}"></td>
                    <td><a th:href="'/boot/noticeView?pageNum='+${pageMaker.criteria.pageNum}+'&boNum='+*{boNum}" th:text="*{boTitle}"></a></td>
                    <td th:text="*{mbNick}"></td>
                    <td th:text="*{#dates.format(writeDate, 'yyyy-MM-dd')}"></td>
                  </tr>
                </th:block>
              </tbody>
            </table>
          </div>

          <!-- Pagination -->
          <div class="pagination-wrap" th:object="${pageMaker}">
            <nav class="pagination text-center">
              <nav class="pagination text-center">
                <a th:if="*{prev}" th:href="*{'noticeList?pageNum='+(startPage - 1)}"><i
                    class="fa-solid fa-angles-left"></i></a>

                <a th:if="*{criteria.pageNum > 1}" th:href="*{'noticeList?pageNum='+(criteria.pageNum - 1)}">
                  <i class="fa fa-angle-left"></i>
                </a>

                <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                  <th:block th:if="${pageMaker.criteria.getPageNum() != num}">
                    <a class="page-numbers current" th:href="${'noticeList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                  <th:block th:if="${pageMaker.criteria.getPageNum() == num}">
                    <a th:href="${'/noticeList?pageNum='+num}" th:text="${num}"></a>
                  </th:block>
                </th:block>

                <a th:if="*{criteria.pageNum < realEnd}" th:href="*{'noticeList?pageNum='+(criteria.pageNum + 1)}">
                  <i class="fa fa-angle-right"></i>
                </a>

                <a th:if="*{next}" th:href="*{'noticeList?pageNum='+(endPage+1)}"><i
                    class="fa-solid fa-angles-right"></i></a>

                <form action="/board/list" th:object="${criteria}" name="pageForm">
                  <input type="hidden" name="pageNum" th:field="*{pageNum}">
                  <input type="hidden" name="amount" th:field="*{amount}">
                </form>
              </nav>
          </div>
        </div>
</th:block>

</html>