<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
	<!-- TOAST UI Editor CDN(JS) -->
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<!-- TOAST UI Editor CDN(CSS) -->
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.min.js"></script>
	
    <!-- Breadcrumbs -->
    <div class="container">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">홈</a>
        </li>
        <li>
          <a href="/boot/adminNoticeList">공지사항</a>
        </li>
        <li class="active">공지사항 상세</li>
      </ol> <!-- end breadcrumbs -->
    </div>

    <!-- Blog Single -->
    <section class="section-wrap post-single pb-50">
      <div class="container relative">
        <div class="row">
          <!-- content -->
          <div class="col-md-8 post-content mb-50">
            <!-- standard post -->
            <article class="entry-item">
              <div class="entry">
                <h1 class="uppercase mb-20">[[${noticeView.boTitle}]]</h1>
                <div class="bo-info mb-50 clear-fix">
                  <div class="left">
                    <img src="https://via.placeholder.com/100" class="bo-avatar" alt="">
                    <span class="bo-autor">[[${noticeView.mbNick}]]</span>
                    <span class="bo-date">[[${#dates.format(noticeView.writeDate, 'yyyy-MM-dd')}]]</span>
                  </div>
                </div>
                <div class="entry-content">
                  <div id="viewer"></div>
                  <textarea id="viewers" class="hidden">[[${noticeView.boContent}]]</textarea>
                </div>
              </div>
              <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
              <script>
              const editor = new toastui.Editor({
            		el: document.querySelector('#viewer'),
            		initialEditType: "markdown",
            	    initialValue: document.querySelector("#viewers").value
            	});
              </script>

              <div class="text-center">
                <a th:href="'/boot/noticeList?pageNum='+*{pageMaker.criteria.pageNum}" class="btn btn-dark">목록으로</a>
              </div>
            </article> <!-- end standard post -->
          </div> <!-- end col -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end blog single -->
</th:block>

</html>