<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layouts/layout}">

<th:block layout:fragment="content">
  <!-- Breadcrumbs -->
  <div class="container">
    <ol class="breadcrumb">
      <li>
        <a href="index.html">홈</a>
      </li>
      <li>
        <a href="./qnaList.html">1:1 문의</a>
      </li>
      <li class="active">1:1 문의 상세</li>
    </ol> <!-- end breadcrumbs -->
  </div>

  <!-- Blog Single -->
  <section class="section-wrap post-single pb-50">
    <div class="container relative">
      <div class="row">
        <!-- content -->
        <div class="col-md-8 post-content mb-50">
          <!-- standard post -->
          <article class="entry-item">
            <div class="entry">
              <div class="entry-stroke" th:if="${qnaView.boState.equals('0')}">미답변</div>
              <div class="entry-stroke" th:if="${qnaView.boState.equals('1')}">답변완료</div>
              <h1 class="uppercase mb-20">[[${qnaView.boTitle}]]</h1>
              <div class="bo-info mb-50 clear-fix">
                <div class="left">
                  <img src="https://via.placeholder.com/100" class="bo-avatar" alt="">
                  <span class="bo-autor">[[${qnaView.mbNick}]]</span>
                  <span class="bo-date">[[${#dates.format(qnaView.writeDate, 'yyyy-MM-dd')}]]</span>
                </div>
                <div class="bo-btn right">
                  <button class="btn btn-sm btn-color">수정</button>
                  <button class="btn btn-sm btn-dark">삭제</button>
                </div>
              </div>
              <div class="entry-content">
                <div id="viewer"></div>
                <textarea id="viewers" class="hidden">[[${qnaView.boContent}]]</textarea>
              </div>
              <div class="text-center">
                <a th:href="'/boot/qnaList?pageNum='+*{pageMaker.criteria.pageNum}" class="btn btn-color">목록으로</a>
              </div>
            </div>

            <script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
            <script>
              const editor = new toastui.Editor({
                el: document.querySelector('#viewer'),
                initialEditType: "markdown",
                initialValue: document.querySelector("#viewers").value
              });
            </script>

            <!-- Comments -->
            <div class="entry-comments mt-20">
              <h3 class="heading uppercase mb-40">답변</h3>
              <ul id="commentList" class="comment-list"></ul>
            </div>
          </article>
        </div>
        <script>
          window.onload = function () {
            $.ajax({
              url: '/boot/qnaAnswerList/[[${ qnaView.boNum }]]',
              type: 'post',
              dataType: 'JSON',
              success: function (result) {
                let commentList = $('#commentList');
                $.each(result, function (index, item) {
                  let liTag = $('<li/>');
                  let commentBody = $('<div/>').addClass('comment-body');
                  let commentAvatar = $('<img/>').addClass('comment-avatar').prop('src', item.mbProfile);
                  let commentContent = $('<div/>').addClass('comment-content');
                  let commentInfo = $('<p/>').addClass('comment-info.mb-20');
                  let commentAuthor = $('<span/>').addClass('comment-author').text(item.mbNick);
                  let commentDate = $('<span/>').text(item.writeDate);
                  let commentContents = $('<div/>').addClass('mb-30').text(item.boContent);
                  commentInfo.append(commentAuthor);
                  commentInfo.append(commentDate);
                  commentContent.append(commentInfo);
                  commentContent.append(commentContents);
                  commentBody.append(commentAvatar);
                  commentBody.append(commentContent);
                  liTag.append(commentBody);
                  commentList.append(liTag);
                });
              }
            })
          }
        </script>
</th:block>

</html>